<html>

<head>

    <script type="text/javascript" src="{{ STATIC_URL }}advntr/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}advntr/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}advntr/ochre_player.js"></script>


    <style>
        #video-div {
            position:relative;

        }

        #control_play_big {
            position:absolute;
            top:50%;
            left:50%;
            display:none;
            cursor:pointer;
        }

        .choices {
            display:none;

            position:absolute;
            top:50%;
            left:50%; 
        }

        .hide {
            display:none;
        }


    </style>

    <script type="text/javascript">

        var static_url = "{{ STATIC_URL }}advntr/assets";
        var config     = null;
        var buffer_interval = null;
        var last_buffered_state = '';
        var next_video_id    = null;
        var video_interval   = new Array();
        var choices_interval = new Array();

        var preloadQueue = [];

        var current_video_id = null;

        $(document).ready(function() {

            var x = "/static/advntr/assets/znv/znv.data";

            $.ajax({
              dataType: "json",
              url: x,
              data: {},
              success: loadConfig
            }); 


            $("#control_play_big").click( function() {
                var video = document.getElementById("video_"+ current_video_id);
                video.play();
                $(this).hide();

                setSwitchTimer(current_video_id);
                setChoicesTimer(current_video_id);
                                
            });


        });

        function loadConfig(data, textStatus, jqXHR)
        {
            config = data;

            var v = $("#video-div");
            v.css('width',  config.width + 'px');
            v.css('height', config.height + 'px');

            current_video_id = data.options.initial;

            preloadQueue.push( {next_video_id : data.options.initial } );
            preloadQueue = preloadQueue.concat( config[data.options.initial].video_choices );


            preloadNextVideo();

            choose( data.options.initial, true );

            $("#video_" + data.options.initial).show();
            $("#control_play_big").show();
        }


        function setChoicesTimer(id) {
            var this_video = document.getElementById('video_' + id);

            var choices_time = parseInt($(this_video).data('choices_time'))/1000;

            // timer to look for offset
            clearInterval(choices_interval[id]);

            choices_interval[id] = setInterval(function() {
                if (this_video.currentTime >= choices_time && $('.choices_for_video_' + id).length > 0) {
                    clearInterval(choices_interval[id]);
                    $('.choices_for_video_' + id).show();
                }
            }, 200);
        }


        function choose( id, initial )
        {
            if( !initial )
                removeUnusedVideos(id);

            next_video_id = id;

            $("#video_" + id).data('chosen', '1');


            // load choices images
            var choices = $('.choices_for_video_' + id);
            for( var i = 0; i < config[id].video_choices.length; i++ )
            {
                var choice = config[id].video_choices[i];
                choices.append( $('<div style="float:left;" data-id="' + choice.next_video_id + '"><img src="' + config.options.images + '/' + choice.image + '" /></div>') ); 
            }


            $('div', choices).click( function() {
                choices.hide();
                var id = $(this).data('id')
                choose(id); 

                preloadQueue = config[id].video_choices;
                preloadNextVideo(); 
            }); 
        }


        function removeUnusedVideos(chosen_video_id) {
            $('video').each(function() {
                if ( $(this).attr('id') != 'video_' + chosen_video_id && $(this).data('chosen') != "1") {
                    $(this).remove();
                    console.log("Removing " + $(this).attr('id'));
                }
            });
        }


        // reload all videos one after another
        function loadVideo( id )
        {
            var obj = config[id];
            $("#vidTemplate").tmpl( {   width:config.width, 
                                        height:config.height, 
                                        video_id : id,
                                        video_mp4 : config.options.baseUrl + '/' + obj.mp4, 
                                        video_choices_time: obj.choices_time } 
                                  ).appendTo("#next_videos");

            // check buffered status
            startBuffering( id ); 

        }

        // continually check for buffered videos
        function startBuffering( id ) {
            clearInterval(buffer_interval);
            buffer_interval = setInterval(function() {
                bufferCheck(id);
            }, 2000);
        }

    
        // checks if video is buffered
        function bufferCheck(id) {

            var video = document.getElementById("video_" + id);

            //var next_load_time = video.duration - 5;
            // it seems that Chrome only loads the first 10 seconds of video now, so use that (or duration if shorter)
            var next_load_time = 10;
            if (video.duration < 10) { 
                next_load_time = video.duration - 1; 
            }

            var buffered_end = 0;
            if (video.buffered.length > 0) 
                buffered_end = video.buffered.end(0); 

            console.log('buffercheck: ' + $(video).attr('id') + ', buffered: ' + buffered_end + ' seconds');


            // if a portion of the video is buffered and the buffered amount is past the next loading time
            if (video.buffered.length > 0 && video.buffered.end(0) >=  next_load_time) {
                preloadNextVideo();

                // stop buffering if necessary
                if (last_buffered_state == ($(video).attr('id') + buffered_end)) {
                    clearInterval(buffer_interval);
                    console.log('All videos buffered.');
                }

                last_buffered_state = $(video).attr('id') + buffered_end;
            }
        }

        // preloads the next video
        function preloadNextVideo() {

            console.log("Preloading " + preloadQueue.length + " videos");
            for( var i = 0; i < preloadQueue.length; i++ )
                console.log("Preloading id " + preloadQueue[i].next_video_id + " videos"); 

            last_buffered_state = '';
            if( preloadQueue.length == 0 )
                return;

            var nextChoiceObj = preloadQueue.shift(); 
            var nextVideoId   = nextChoiceObj.next_video_id;

            loadVideo( nextVideoId );
        }


        function switchVideo() {

            console.log('switch video to: ' + next_video_id);

            //currently_loading_video = next_video; 

            // allow switching again after 1 second
            allow_switch = false;
            setTimeout(function() {
                allow_switch = true;
            }, 1000);

            var offset = parseInt($(active_video).data('offset'));
            $('.choices_for_' + $(active_video).attr('id')).remove();

            var active_video = document.getElementById('video_' + current_video_id);
            var next_video = document.getElementById('video_' + next_video_id);

                active_video.pause();
            $(active_video).hide();
            $(active_video).remove();
            next_video.load();
            next_video.play();

            //setTimeout( function() { next_video.play() }, 4000);

            current_video_id = next_video_id;

            $('#video_' + next_video_id).show();
/*
            // don't actually switch videos until the offset is finished
            setTimeout(function() {
                active_video.pause();
                $(active_video).hide();

                setSwitchTimer(next_video_id);
                setChoicesTimer(next_video_id);
            }, offset);
            */

        }

        // set the switch time
        function setSwitchTimer(video_id) {
            var this_video = document.getElementById('video_' + video_id);

            // if duration is not a number, video is not loaded so wait a bit and retry
            if (isNaN(this_video.duration)) {
                setTimeout(function() { setSwitchTimer(video_id) }, 200);
                // continue as normal
            } 
            else {
                var offset = parseInt($('#video_' + video_id).data('offset'));
                var switch_time = this_video.duration - (offset/1000);

                // timer to look for offset
                clearInterval(video_interval[video_id]);

                // continually check for end of video
                video_interval[video_id] = setInterval(function() {
                if (this_video.currentTime >= switch_time) {
                    clearInterval(video_interval[video_id]);
                    switchVideo();
                }
                }, 1);

            }
        } 

    </script>

</head>

    <body>

        <div id="video-div">
            <div id="video-div-inner">
                <div id="next_videos"></div>
            </div>

            <div id="control_play_big">
                <img src="{{ STATIC_URL }}advntr/assets/ochre_play_big.png" />
            </div>
        </div>


        <script id="vidTemplate" type="text/html">
            <video class="original video_class" style="display:none;" id="video_${video_id}" data-id="81" data-chosen="0" data-offset="80" data-choices_time="${video_choices_time}" preload="auto" width="${width}" height="${height}">
              <source src="${video_mp4}" type="video/mp4" />
              <source src="${video_webm}" type="video/webm" />
            </video> 

            <div class="choices_for_video_${video_id} choices">
            </div>
        </script>

    </body> 

</html>
