/******************************************************************
*******************************************************************

Template Name: corsica
Theme URI: http://themeforest.ninetofive.me/corsica/
Description: corsica | App landing page
Author: ninetofive
Author URI: http://www.ninetofive.me
Version: 1.0
							
Designed & Handcrafted by Zan from ninetofive.me
									
*******************************************************************
******************************************************************/

/******************************************************************
	Fonts
******************************************************************/
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700);								
									
/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body, html {
	width: 100%;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************
	Text Selection Styles
******************************************************************/
::selection {
 background:#CCC;
 color:#fff;
}
::-moz-selection {
 background:#CCC;
 color:#fff;
}
::-webkit-selection {
 background:#CCC;
 color:#fff;
}

/******************************************************************
	General
******************************************************************/								
a {
	font-family: "Lato", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #85e590;
	outline: none;
}
a:hover {
	color: #FFF;
}
b {
	font-weight: 700;
}
blockquote {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: 100;
}
p {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	font-size: 8px;
}
h1 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 22px;
}
h2 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 18px;
}
h3 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
}
h4 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
}
h5 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}
h6 {
	font-family: "Lato", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #FFF;
	text-decoration: none;
	font-size: 8px;
}
.hidden {
	display: none;
}
.visible {
	opacity: 1;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.block {
	display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/******************************************************************
	Colors
******************************************************************/
.white {
	color: #FFF;
}
.color {
	color: #85e590;
}
.color-bg {
	background-color: rgba(133, 229, 144, 0.4);
}
.black-bg {
	background-color: rgba(0, 0, 0, 0.4);
}

/******************************************************************
	Main
******************************************************************/
body {
	color: #FFF;
	background-image: url(../img/bg.jpg); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 0.4s;
	-moz-transition: background-image 0.4s;
	-ms-transition: background-image 0.4s;
	-o-transition: background-image 0.4s;
	transition: background-image 0.4s;
	overflow: scroll;
	-webkit-font-smoothing: subpixel-antialiased;
}
body.blur {
	background-image: url(../img/bg_blur.jpg); 
}
.logo {
	background-image: url(../img/logo.png); 
	width: 142px;
	height: 28px;
	position: fixed;
	left: 75px;
	top: 30px;
	z-index: 5;

}
section {
	position: relative;
	display: block;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	z-index: 1;
	overflow: hidden;
}
section.natural {
	min-height: 10%;
}
section.bg {
	background-color: rgba(0, 0, 0, 0.4);
}
section h2 {
	font-weight: 300;
	font-size: 40px;
	line-height: 40px;
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8%;
}
section p {
	font-weight: 300;
	font-size: 16px;
	width: 80%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
section img {
	margin-top: 30px;
}
div.icon {
	font-size: 80px;
}
div.icon.medium {
	font-size: 50px;
}
div.icon.small {
	font-size: 20px;
}

/******************************************************************
	Text
******************************************************************/
div.width-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
div.half {
	width: 48%;
	margin-right: 4%;
	margin-bottom: 5%;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
}
div.third {
	width: 32%;
	margin-right: 2%;
	margin-bottom: 5%;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
}
div.fourth {
	width: 22%;
	margin-right: 4%;
	margin-bottom: 5%;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
}
div.width-wrapper div.half:last-child, div.width-wrapper div.third:last-child, div.width-wrapper div.fourth:last-child {
	margin-right: 0px;
}
div.half p, div.third p, div.fourth p {
	padding-bottom: 30px;
}

/******************************************************************
	Menu
******************************************************************/
.menu-wrapper {
	position: fixed;
	right: 30px;
	top: 30px;
	width: 50px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	-o-transition: width 0.4s;
	-ms-transition: width 0.4s;
	transition: width 0.4s;
}
.menu-wrapper.open {
	position: fixed;
	right: 30px;
	top: 30px;
	width: 160px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
}
.menu-wrapper h4 {
	font-weight: 300;
	display: none;
	position: absolute;
	left: 20px;
	line-height: 50px;
}
.menu-global {
	backface-visibility: hidden;
	position: absolute;
	right: 0;
	border-top: 2px solid white;
	width: 30px;
	transition: 0.4s;
	margin-right: 10px;
}
.menu-top {
	top: 14px;
}
.menu-middle {
	top: 24px;
}
.menu-bottom {
	top: 34px;
}
.menu-top-click {
	backface-visibility: hidden;
	top: 24px;
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
	-webkit-transition: 0.4s 0.4s;
	-moz-transition: 0.4s 0.4s;
	-o-transition: 0.4s 0.4s;
	-ms-transition: 0.4s 0.4s;
	transition: 0.4s 0.4s;
}
.menu-middle-click {
	opacity: 0;
}
.menu-bottom-click {
	backface-visibility: hidden;
	top: 24px;
	-webkit-transform: rotate(-410deg);
	-moz-transform: rotate(-410deg);
	-o-transform: rotate(-410deg);
	-ms-transform: rotate(-410deg);
	transform: rotate(-410deg);
	-webkit-transition: 0.4s 0.4s;
	-moz-transition: 0.4s 0.4s;
	-o-transition: 0.4s 0.4s;
	-ms-transition: 0.4s 0.4s;
	transition: 0.4s 0.4s;
}
ul.menu {
	position: fixed;
	width: 50px;
	right: 0px;
	top: 80px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	opacity: 0;
	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	-o-transition: width 0.4s;
	-ms-transition: width 0.4s;
	transition: width 0.4s;
	padding-top: 10px;
	padding-bottom: 25px;
	overflow: hidden;
}
ul.menu.open {
	right: 30px;
	width: 160px;
	opacity: 1;
}
ul.menu li {
	margin-top: 15px;
}
ul.menu li a {
	font-size: 14px;
	line-height: 30px;
	margin-left: 20px;
	display: block;
	text-transform: capitalize;
	background-image: url(../img/menu_item_bg.png); 
	width: 130px;
	height: 30px;
}
ul.menu li a.active {
	background-position: 0px -30px;
}

/******************************************************************
	Slider
******************************************************************/
.slider-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	z-index: 50;
}
ul.slider-items .slider-item {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}
ul.slider-items li .caption {
	/*height: 60px;*/
        background-color:#333333;
        opacity:.7;
        filter: alpha(opacity=70);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.7;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.7;

	font-family: "Lato", Verdana, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	/*text-transform: capitalize;*/
	z-index: 5;
	text-align: center;
	width: 80%;
	position: absolute;
	bottom: 5%;
	padding: 0% 10%;
}
.arrow-wrapper {
	position: absolute;
	width: 90%;
	top: 45%;
	height: 122px;
	margin-left: 5%;
	z-index: 5;
}
.slider-wrapper div.arrow {
	display: block;
	width: 37px;
	height: 122px;
	background-image: url(../img/slider_controls.png);
	cursor: pointer;
}
.slider-wrapper div.arrow.next {
	background-position: -37px 0px;
	float: right;
}
.slider-wrapper div.arrow.prev {
	background-position: 0px 0px;
	float: left;
}
.slider {
	height: 100%;
}

/******************************************************************
	Mockup Slider
******************************************************************/
.slider-wrapper.mockup {
	position: absolute;
	width: 60%;
	margin-left: 20%;
	height: auto;
	background-color: transparent;
	z-index: 1;
	bottom: 0;
}
.slider-wrapper.mockup img {
	max-width: 800px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -3px;
}

/******************************************************************
	More
******************************************************************/
.more {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: left;
}
.more img {
	width: 100%;
}
.more p {
	margin-bottom: 20px;
}
.more .left, .more .right {
	width: 50%;
}

/******************************************************************
	Social
******************************************************************/
.social-wrapper {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 5;
}
a.social {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/social.png);
	margin: 10px 0px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
a.social:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
a.social.mail {
	background-position: 0px 0px;
}
a.social.facebook {
	background-position: 0px -50px;
}
a.social.twitter {
	background-position: 0px -100px;
}

/******************************************************************
	Home
******************************************************************/
.herowrapper {
	position: absolute;
	top: 50%;
	height: 340px;
	margin-top: -170px;
	margin-left: 10%;
	width: 90%;
}
.herocap {
	float: left;
	font-family: "Lato", Verdana, Arial, sans-serif;
	font-size: 80px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 15px;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
}
.herocap.highlight {
	font-weight: bold;
}

/******************************************************************
	Features
******************************************************************/
.features-wrapper {
	width: 880px;
	height: 250px;
	margin: 50px auto 0px auto;
}
.feature {
	display: inline-block;
	width: 270px;
	height: 250px;
	margin: 10px;
}
h2.dots {
	padding-top: 4%;
	padding-bottom: 20px;
}
.feature div.icon {
	width: 100px;
	height: 80px;
	font-size: 60px;
	margin-top: 30px;
	box-shadow: 0 0 0 5px #FFF;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: box-shadow 0.25s;
	-moz-transition: box-shadow 0.25s;
	-o-transition: box-shadow 0.25s;
	transition: box-shadow 0.25s;
	padding-top: 20px;
}
.feature div.icon:hover {
	box-shadow: 0 0 0 10px #FFF;
}
.feature h3 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.feature p {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	margin-top: 0px;
}

/******************************************************************
	Sign Up
******************************************************************/
.signup {
	width: 460px;
	margin-left: auto;
	margin-right: auto;
}
input.signup {
	width: 430px;
	height: 50px;
	border: 1px solid #FFF;
	outline: none;
	background-color: transparent;
	line-height: 50px;
	font-family: "Lato", Verdana, Arial, sans-serif;
	color: #FFF;
	font-size: 30px;
	font-weight: 100;
	padding: 5px 15px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.signup a.button {
	margin: 0px;
	float: left;
	display: block;
	width: 220px;
	height: 60px;
	margin-right: 16px;
	line-height: 60px;
	padding: 0px;
}
.signup a.button.email {
	margin-right: 0px;
}
p.signup-more {
	text-align: center;
	opacity: 0;
	padding-top: 0px;
	padding-bottom: 100px;
}
p.signup-more.visible {
	opacity: 1;
}

/******************************************************************
	Elements
******************************************************************/
.button-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.button-wrapper.bottom {
	margin-bottom: 50px;
}
a.button {
	margin: 0px 10px 0px 10px;
	padding: 10px 20px;
	border: 1px solid #FFF;
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
	z-index: 5;
}
a.button:hover {
	color: #999;
	background-color: #FFF;
}

/******************************************************************
	jQuery UI
******************************************************************/
.ui-accordion-header {
	width: 600px;
	height: 50px;
	margin: 5px;
	font-size: 16px;
	line-height: 50px;
	cursor: pointer;
	outline: none;
	margin-left: auto;
	margin-right: auto;
}
.ui-accordion-header-active {
	background-color: rgba(0, 0, 0, 0.4);
}
.ui-accordion-content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.progressbar {
	margin: 10px;
	width: 600px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.progressbar-value {
	float: left;
	height: 50px;
}
.progressbar-label {
	font-size: 20px;
	line-height: 50px;
	float: right;
	margin-right: 20px;
	font-weight: 700;
	font-family: "Lato", Verdana, Arial, sans-serif;
}
.tabs {
	margin: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.tabs p {
	padding-bottom: 30px;
}
.tabs ul {
	width: 600px;
	height: 50px;
}
.ui-corner-top {
	display: inline-block;
	height: 50px;
}
.ui-corner-top a {
	margin: 0px 20px;
	color: #FFF;
	font-weight: 300;
	font-family: "Lato", Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 50px;
}
.ui-tabs-active a {
	font-weight: 700;
}

/******************************************************************
	Mobile
******************************************************************/
@media all and (max-width: 1000px) {
	section {
		max-width: 100%;
	}
	section img {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.slider-wrapper.mockup {
		width: 90%;
		margin-left: 5%;
	}
	.slider-wrapper.mockup img {
		width: 90%;
	}
	.social-wrapper {
		display: none;
	}
	.herowrapper {
		margin-top: 5%;
		margin-left: 5%;
		top: 35%;
	}
	.herocap {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
		margin-bottom: 6px;
		float: none;
	}
	.features-wrapper {
		width: 100%;
		height: 270px;
		margin: 40px auto 0px auto;
		overflow: scroll;
	}
	.more {
		width: 90%;
	}
	.feature {
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
	}
	.more .left, .more .right {
		width: 100%;
		float: none;
	}
	div.arrow-wrapper {
		width: 100%;
		margin-left: 0%;
		z-index: 100;
		top: 25%;
	}
	ul.slider-items li .caption {
		font-size: 14px;
		line-height: 30px;
                background-color:black;
	}
	.button-wrapper {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	ul.slider-items .slider-item {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	ul.slider-items {
		width: 100%;
	}
	.slider {
		height: 40%;
	}
	div.signup {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	input.signup {
		width: 80%;
	}
	div.signup .button {
		width: 40%;
		margin: 5%;
	}
	div.signup .button.email {
		margin-right: 0%;
	}
}


/******************************************************************
	Red Color
******************************************************************/
a {
	color: #f4d051;
}
.color {
	color: #f4d051;
}
.color-bg {
	background-color: rgba(244,208,81, 0.8);
}
.logo {
	background-image: url(../img/logo.png); 
}
body {
	background-image: url(../img/bg.jpg); 
}
body.blur {
	background-image: url(../img/bg_blur.jpg); 
}
