<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Adventr Video</title>
	<meta name="description" content="Adventr">
	<meta name="HandheldFriendly" content="true">
        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="http:{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="http:{{ STATIC_URL }}advntr/assets/ochrelogo_75x75.png" />
        <link rel="canonical" href="http://www.adventr.tv" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Adventr, Ochre, video, interactive, advntr" />
        <meta name="description" content="Interactive Video" />
        <meta name="robots" content="index" />

        <meta name="og:title" content="Adventr"/>
        <meta name="og:type" content="Video"/>
        <meta name="og:url" content="http://www.adventr.tv"/>
        <meta name="og:site_name" content="Adventr"/>
        <meta name="og:description" content="Interactive Video"/>
        <meta property="fb:admins" content="144976585707828" />

	
        <link rel="stylesheet" href="//s3.amazonaws.com/static.theochre.com/colorbox.css" />
	<script src="//s3.amazonaws.com/static.theochre.com/advntr/jquery-1.7.1.min.js"></script>
	<script src="//s3.amazonaws.com/static.theochre.com/jquery.colorbox.js"></script>

	<!--[if lt IE 10]>
		<link href= "/static/theme1/css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <style>
            body {
                background-color:#333333;
                font:12px/1.2 Verdana, sans-serif; padding:0 10px;
            }

            a {

                color:#ffffff;
                text-decoration:none;
            }

        </style>

        <script>

            $(document).ready(function(){
                $(".demo").colorbox({rel:'demo', transition:"fade", width:"75%", height:"75%"});

                $('.demo')[0].click();
            });

        </script>

    {% if not DEBUG %}

        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
    {% endif %}


</head>

<body>

    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_editor.png" title="Adventr Editor">Adventr Editor</a><br/>
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_editor2.png" title="Adventr Editor">Adventr Editor 2</a><br/>
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_funnel.png" title="Data Funnel">Data Funnel</a><br/>
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_chart.png" title="Chart">Chart</a><br/>
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_znv.jpg" title='Demo Video - Zadig et Voltaire - "Logic" scene'>Demo Video 1</a><br/>
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_spidey.jpg" title="Demo Video - Spiderman">Demo Video 2</a><br/> 
    <a class="demo" href="//s3.amazonaws.com/static.theochre.com/demo/adventr_hallensteins.png" title="Hallenstein Brothers - Interactive Rich Media and Social Campaign">Demo Video 3</a><br/>

</body>

</html>

