
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script text="text/javascript">
    Stripe.setPublishableKey('{{ STRIPE_PUBLIC_KEY }}');
    var active_plans = JSON.parse('{{ ACTIVE_PLANS|safe }}');

    function stripeResponseHandler(status, response) {
      var $form = $('body form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.find("input[name=stripe_token]").val(token);

        // and submit
        $form.get(0).submit();
      }
    };

    $(function() {
     $('body').on("click", 'button.btn, input[type="submit"].stripe-btn', function(e) {
         e.preventDefault();
         //var $form = $(e.target).parents('form');
         var $form = $('form#dataForm');

         // Check if paid subscription
         if($('input:radio[name=subscription_plan]:checked').val() != "basic") {
             // Disable the submit button to prevent repeated clicks
             $form.find('button').prop('disabled', true);

             $form.data('key', '{{ STRIPE_PUBLIC_KEY }}');

             var plan_selected = $('input:radio[name=subscription_plan]:checked').val();

             if (active_plans[plan_selected] != undefined){
                 // Based on package selected
                 $form.data('amount', active_plans[plan_selected].price);
                 $form.data('name', active_plans[plan_selected].name);
                 $form.data('description', active_plans[plan_selected].description);

                 Stripe.card.createToken($form, stripeResponseHandler);

             }

             return false;

         }else{
             // Skip Stripe setup
             $form.trigger("submit");
         }
     });


    });
</script>
