<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}ADVENTR{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}advntr/ochre_accounts.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}advntr/ochre_player.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jquery.qtip.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vex.css" rel="stylesheet" >
    <link href="{{ STATIC_URL }}vex-theme-os.css" rel="stylesheet" >

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}advntr/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.8.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vex.combined.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.qtip.min.js"></script>
    <script type="text/javascript">
      vex.defaultOptions.className = 'vex-theme-os';
    </script>

    <script type="text/javascript">
        function displayCreditCardCaptureForm(){
              if($('input:radio[name=subscription_plan]:checked').val() != "basic"){
                    $('#payment_details').show();
                }else{
                    $('#payment_details').hide();
                }
        }

        $(document).ready(function() {
            $('.selectpicker').selectpicker();


            $(window).resize(function() {
                $("#left_span").height( $("#right_span").height() );
            });

            var MOBILE = (navigator && ( navigator.userAgent.match(/Android/i)
                                 || navigator.userAgent.match(/webOS/i)
                                 || navigator.userAgent.match(/iPhone/i)
                                 || navigator.userAgent.match(/iPad/i)
                                 || navigator.userAgent.match(/iPod/i)
                                 || navigator.userAgent.match(/BlackBerry/i)
                                 ));

            if( MOBILE )
                $("#playTab").hide();

            $(window).resize();

            {% if not user.is_anonymous %}
            if( !getCookie('seenIntro-{{ user.id }}') ) {
                loadHelp();
                setCookie('seenIntro-{{ user.id }}');
            }
            {% endif %}

           $('[data-tooltip!=""]').qtip({ // Grab all elements with a non-blank data-tooltip attr.
                content: {
                    attr: 'data-tooltip'
                }
            });

           $('input:radio[name=subscription_plan]').click(function(){
              displayCreditCardCaptureForm();
           });

            displayCreditCardCaptureForm(); // Init form

        });

    </script>


    {% block head %}


    {% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}advntr/ochre_accounts.js"></script>

</head>

<body class="accountsBase">

    <div class="container-fluid">


        <header class="row-fluid">
                    <div class="span1" style="height:75px;border-right:1px solid #d7ad03;background-color:#e7c949;text-align:center;padding-top:7px;">
                        <a href="/"><img src="{{ STATIC_URL }}advntr/assets/ochre_top_logo_dark.png" style="width:55px" /></a>
                    </div>
                    <div class="span11" style="margin-left:0px;width:93.4%">
                        <div style="font-size:24pt;color:#484747;margin-top:40px;margin-left:10px;float:left;">{% block sublogo %}<img src="{{ STATIC_URL }}advntr/assets/ochrelogo_advntr.png" />{% endblock%}</div>

                        <div id="mini-nav">
                            <ul>
                                <li class="dropdown">
                                        {% if user.is_anonymous %}
                                            <a class="" href="{% url 'accounts_login' %}">Login</a>
                                        {% else %}
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" data-original-title="">
                                                {% if campaign and request.user.profile.client.id != campaign.client.id %}
                                                    <span style="color:#e7c949;font-weight:bold;">[You are editing <b>{{ campaign.client.name }}'s</b> project]</span>
                                                {% endif %}

                                                {% if request.session.impersonate_user %}<span style="color:#e7c949;font-weight:bold;">[You are not this user]</span>{% endif %}
                                                <!-- <i class="icon-white icon-user"></i> --> {{ request.user.email }}
                                                <span class="caret white-caret"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-right" style="right:-11px;margin:0px;top:27px;padding:3px;background-color:#484747">
                                                <li><a class="btn-mini" style="color:#cccccc;padding:0px 0px 0px 10px;" href="{% url 'accounts_account' %}">Account</a></li>
                                                <li><a class="btn-mini" style="color:#cccccc;padding:0px 0px 0px 10px;" href="{% url 'djstripe:account' %}">Subscription</a></li>

                                                   <li><a class="btn-mini" style="color:#cccccc;padding:0px 0px 0px 10px;" href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        {% endif %}
                                </li>


                            </ul>

                        </div>
                    </div>

        </header>

        <div class="row-fluid" style="background-color:#fafafa;">

                    <div id="left_span" class="span1" style="background-color:#131313;text-align:center;color:#ffffff;height:700px;background-image: -webkit-linear-gradient(-45deg, rgb(69, 72, 77) 0%, rgb(19, 19, 19) 500px);">

                        <ul class="nav-left">
                            <li>
                                <a href="{% url 'accounts_create_campaign' %}">
                                    <div class="fs1" aria-hidden="true" data-icon="&#xe002;"></div>
                                    Create
                                </a>

                            </li>

                            <li>
                                <a href="{% if client.feature_analytics %}{% url 'accounts_dashboard' %}{% endif %}" {% if not client.feature_analytics %}class="not-active"{% endif %} >
                                    <div class="fs1" aria-hidden="true" data-icon="&#xe006;"></div>
                                    Dashboard
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0);" onclick="loadHelp()">
                                    <div class="fs1" aria-hidden="true" data-icon="&#xe00b;"></div>Help
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="right_span" class="span11" style="margin-left:0px;width:93.4%">

                        <div class="row-fluid">

                                <div class="tabbable tabs-left span12" style="border-top:1px solid #cccccc;background-color:#fafafa;padding-top:7px;padding-left:7px;z-index:100000;">
                                    <div id="adventr_alerts">
                                    {% if messages %}
                                        {% for message in messages %}

                                        <div class="alert {% if message.tags == 'error' %}alert-error{% else %}{% if message.tags == 'warning' %}alert-danger{% endif %}{% endif %}">
                                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                                          <strong>{% if message.tags == 'error' %}Error:{% elif message.tags == 'success' %}Success!{% else %}{% endif %}</strong>  {{ message }}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>

                                    {% if campaigns %}
                                    <div class="row-fluid">

                                        <ul class="nav nav-tabs" style="margin-bottom:7px;">
                                            <li style="margin-right:5px;">
                                                <form id="dataForm2" action="{{ request.META.PATH_INFO }}" method="GET" style="margin:0px">
                                                    <select id="campaign" name="campaign" class="selectpicker" onchange="$('#dataForm2').submit()">
                                                        {% for c in campaigns %}
                                                            <option value="{{ c.id }}" {% if campaign.name == c.name %}selected{% endif %}>{{ c.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </form>
                                            </li>
                                            <li class='{% if '/chart' in request.META.PATH_INFO %}active{% endif %}'><a href="{% if client.feature_analytics %}{% url 'accounts_dashboard' %}?campaign={{ campaign.id }}{% endif %}" {% if not client.feature_analytics %}class="not-active"{% endif %}><div aria-hidden="true" class="ochreicon-stats"></div><div class="tab-text">Chart</div></a></li>
                                            {% if campaign.client.id != 83 %}
                                            <li class='{% if '/funnel' in request.META.PATH_INFO %}active{% endif %}'><a href="{% if client.feature_analytics %}{% url 'accounts_funnel' %}?campaign={{ campaign.id }}{% endif %}" {% if not client.feature_analytics %}class="not-active"{% endif %}><div aria-hidden="true" class="ochreicon-share"></div><div class="tab-text">Funnel</div></a></li>
                                            {% endif %}
                                            <li class='{% if '/edit' in request.META.PATH_INFO %}active{% endif %}'><a href="{% url 'accounts_edit_campaign' %}?campaign={{ campaign.id }}"><div aria-hidden="true" class="ochreicon-cog"></div><div class="tab-text">Editor</div></a></li>

                                            {% if campaign %}
                                                <li class='{% if '/published' in request.META.PATH_INFO %}active{% endif %}'><a href="{% url 'accounts_published' %}?campaign={{ campaign.id }}"><div aria-hidden="true" class="ochreicon-youtube"></div><div class="tab-text">Published</div></a></li>

                                            {% endif %}
                                            {% comment %}
                                            {% if campaign %}
                                                <li id="playTab"><a href="{% url 'accounts_edit_campaign' %}?campaign={{ campaign.id }}&publish=1"><div aria-hidden="true" class="ochreicon-youtube"></div><div class="tab-text">Publish</div></a></li>
                                            {% endif %}
                                            {% endcomment %}
                                        </ul>

                                    </div>
                                    {% endif %}

                                    <div id="contentDiv" class="tab-content row-fluid">
                                        <form id="dataForm" action="{{ request.META.PATH_INFO }}" method="{% block method %}GET{% endblock %}" style="margin:0px">
                                            {% csrf_token %}

                                            <input type="hidden" id="campaign" name="campaign" value="{% if campaign %}{{ campaign.id }}{% else %}0{% endif %}" />

                                            {% block content %}

                                            {% endblock %}
                                        </form>
                                    </div>

                                </div>


                        </div>
                    </div>
                </div>

            </div>
    </div>

    <div id="alert-modal" class="modal hide fade">
        <div class="modal-header">
          <h3>Wait!</i></h3>
        </div>
        <div class="modal-body">

        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
        </div>
    </div>

    <div id="help-modal" class="modal hide fade" style="width:680px;">

        <div class="modal-header" style="border:0 !important;">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
        </div>


        <div class="modal-body" style="overflow-y:scroll !important;">


            <iframe id="intro_iframe" src="" width="640" height="326"></iframe>

            <h3>ADVENTR Editor</h3>
            <ul>
                <li>Add your own video content: Use 'UPLOAD FILE' to upload videos and images directly from your computer (not available on mobile). Or use our stock videos under 'ADVENTR Videos', more coming soon.</li>

                <li>Once uploaded, drag your videos onto the canvas.</li>

                <li>Connect your videos and create your ADVENTR!  Hover over each video on the canvas and select the *arrow* icon.  Videos that can be connected will show a red border.  Select the video you want to connect to.</li>

                <li>Click *edit* to show video-choice options for this segment.</li>

                <li>Click *preview* to preview your interactive video from that point onwards.</li>

                <li>Publish: When you're ready to launch, click Publish via the Options tab.  We'll render your project and encode your videos for all available formats and devices.  An email will be sent shortly containing a private url you can share with others as well as an embed code.  If you are a premium subscriber we'll also enable VPAID access and generate a tag for your campaign.</li>
            </ul>

            <br/>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr colspan="2"><b>Editor Options (right-side tab)</b></tr>
                </thead>
                <tbody>
                    <tr><td>Ad ID</td><td> Optional.  An Ad-id for this campaign, obtained from <a href="http://www.ad-id.org">ad-id.org</a>.</td></tr>
                    <tr><td>Watermark</td><td> Optional. Brand the experience by placing a watermark image anywhere in your video.</td></tr>
                    <tr><td>Poster Image</td><td> Optional.  An image to be shown while the video is downloading, or until the user hits play.</td></tr>
                    <tr><td>Analytics</td><td> Optional. Add <a href="http://www.mixpanel.com" style="text-decoration:underline" target="_blank">Mixpanel</a> or <a href="http://www.google.com/analytics" style="text-decoration:underline" target="_blank">Google Analytics</a> information.  ADVENTR will separately track data via our custom analytics service too.</td></tr>
                    <tr><td>Non-interactive version</td><td> Optional. For devices that cannot display our interactive videos, this video will be shown instead.</td></tr>
                    <tr><td>Initial Volume</td><td>  The initial volume to set the video to.</td></tr>
                    <tr><td>Share Link</td><td> Optional. A link the viewer can share</td></tr>
                    <tr><td>Social Message</td><td> Optional.  The default message that will be displayed along the shared link</td></tr>
                    <tr><td>Reset Project</td><td> Want to start over?  Use this to reset the project settings.</td></tr>
                    <tr><td>Publish</td><td> When you're ready to launch, click Publish.  We'll render your project and encode your videos for all available formats and devices.  An email will be sent shortly containing a private url you can share with others as well as an embed code.  If you are a premium subscriber we'll also enable VPAID access and generate a tag for your campaign.</td></tr>
                </tbody>
            </table>

            <br/>

            <h3>ADVENTR Analytics</h3>
            <p>ADVENTR provides extensive analytics for your digital campaigns.  We track everything from impressions, clicks, average duration, geo-location and more - all broken down by a variety of characteristics for viewers.  All campaigns come with our analytics package included.</p>
            <br/>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr colspan="2"><td><b>Chart & Funnel tabs</b></td></tr>
                </thead>
                <tbody>
                    <tr><td>Date Range</td><td>Narrow down results within your campaign range</td></tr>
                    <tr><td>Views/Average Duration</td><td>Results can be shown in terms of impressions or average time spent viewing</td></tr>
                    <tr><td>Filters</td><td>Break down the results to just or more characteristics.</td></tr>
                </tbody>
            </table>

            Contact <a href="mailto:info@adventr.tv">info@adventr.tv</a> for further assistance.


        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">OK</a>
        </div>


    </div>


    {% if not DEBUG %}

        {% if MIXPANEL_ACCOUNTS_ACTIVITY_TOKEN %}

            <!-- start Mixpanel -->
            <script type="text/javascript">

                (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
                typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
                b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
                mixpanel.init("{{ MIXPANEL_ACCOUNTS_ACTIVITY_TOKEN }}");

                mixpanel.register_once({ client_id:"{{ request.user.profile.client.id }}", client_email:"{{ request.user.email }}", client_name:"{{ request.user.profile.client.name }}" });
                mixpanel.track('View', {page : "{{ request.META.PATH_INFO }}"});

            </script>
        <!-- end Mixpanel -->

        {% endif %}

    {% endif %}

</body>

</html>
