
{% extends 'accounts_base.html' %}

{% block head %}
    <script>

    $(document).ready( function() {
        $('#id_username')[0].focus();
    });
    </script>


{% endblock %}

{% block method %}POST{% endblock %}
{% block content %}

<div style="padding-top:5px;padding-left:5px;">

        <div class="login-form" style="float:left;">
            <h2>Login</h2>
                <fieldset>
                    <div class="clearfix">
                        {% if form.username.errors %}{{ form.username.errors }}<br/>{% endif %}
                        {{ form.username }}
                    </div>
                    <div class="clearfix">
                        {% if form.password.errors %}{{ form.password.errors }}<br/>{% endif %}
                        {{ form.password }}
                    </div>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    {% endif %}
                    <button class="btn primary" type="submit">Sign in</button>
                </fieldset>
        </div>
        <!--
        <div style="float:left;margin-left:30px;">

            <h3>or</h3>
            <a href="/fb/start"><img src="{{ STATIC_URL }}advntr/assets/facebook-login-button.png" style="width:200px;" /></a>
        </div>
        -->
</div>

{% endblock %}
