{% extends 'accounts_base.html' %}

{% block method %}POST{% endblock %}
{% block content %}

    {% load tags %}

    <div class="span12">
        {{ form.non_field_errors }}

        <table class="profileTable">
            <thead>
                <tr>
                    <th>Account Settings</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr style=""> 
                    <td>E-mail</td>
                    <td>
                        {% if form.email.errors %}{{ form.email.errors }}<br/>{% endif %}
                        <input type="text" name="email" value="{% firstof request.POST.email request.user.email %}" />
                    </td>
                </tr>
                <tfoot> 
                    <td></td>
                    <td><input type="submit" value="Submit" ></td>
                </tfoot>
            </tbody>
        </table>

        {% if not request.user.profile.uid %}

        <table class="profileTable" style="width:90%;margin-top:35px;">
            <thead>
                <tr>
                    <th>Change Password</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

            
                <tr>
                    <td>Current Password</td>
                    <td>
                        {% if form.password.errors %}{{ form.password.errors }}<br/>{% endif %}
                        <input type="password" name="password" value="" />
                    </td>
                </tr>
                <tr> 
                    <td>New Password</td>
                    <td><input type="password" name="password_new" value="" /></td>
                </tr>
                <tr> 
                    <td>Confirm Password</td>
                    <td>
                        {% if form.password_confirm.errors %}{{ form.password_confirm.errors }}<br/>{% endif %}
                        <input type="password" name="password_confirm" value="" />
                    </td>
                </tr>
                <tr> 
                    <td></td>
                    <td><input type="submit" value="Submit" ></td>
                </tr>
            </tbody>
        </table>




        {% endif %}

        <table class="profileTable" style="width:90%;margin-top:35px;">
            <thead>
                <tr>
                    <th>Change Subscription</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Current Subscription</td>
                    <td>{% if current_subscription == 'basic' %}
                            Basic (Free)
                        {% else %}
                            {{ current_subscription }} {% if cancelled_plan %}<span style="color: red;"><strong>(CANCELLED)</strong></span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if current_subscription != 'basic' %}
                <tr>
                    <td>Change Subscription</td>
                    <td>{{ subscription_form.plan }}</td>
                </tr>
                {% else %}
                    {# Show subscription form #}
                      <tr>
                        <td valign="top">Subscription Plans</td>
                        <td>
                            <input type="hidden" name="plan" value="" />
                            <input name="stripe_token" type="hidden" value="{{ stripe_token }}" />

                            <ul class="subscription_plans">
                                <!--<li><input type="radio" id="free_plan" name="subscription_plan" value="basic" {% if not plan or plan == 'basic' %}checked{% endif %} >Basic (Free) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="A Basic account includes the Adventr in-video watermark. Also analytics are not provided and accounts are limited to 3 adventrs and 4000 views." /> </li>-->
                                <li><input type="radio" id="plus_plan" class="paid_plan" name="subscription_plan" value="FRD999" {% if plan == 'plus' %}checked{% endif %}>Food Revolution Day Special - ($9.99/mo LIMITED TIME) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="This account removes the in-video watermark and provides full analytics. Users can create up to three adventrs with 10,000 monthly views total." /></li>
                                <li><input type="radio" id="pro_plan" class="paid_plan" name="subscription_plan" value="PRO60" {% if plan == 'pro' %}checked{% endif %}>Professional ($60/mo) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="The Pro account removes the in-video watermark and provides full analytics. Users can create up to three adventrs with 10,000 monthly views total.<br><br>To avoid disruption, users expecting over 10,000 video views per month should contact info@adventr.tv, where your account can be adjusted upward in groups of 3 videos and 10,000 views." /></li>
                            </ul>
                            <hr>
                             <div class="acct_panel" id="payment_details" style="display: none;">
                                <h5 class="underline">Your credit card details</h5>
                                <span class="payment-errors"></span>
                                <div class="form-group">
                                    <label for="card_name">Name on card</label>
                                    <input type="text" class="form-control" id="card_name"  autocomplete="cc-name" data-stripe="name"/>
                                  </div>

                                  <div class="form-group">
                                    <label for="card_number">Card Number</label>
                                      <input type="text" class="form-control" id="card_number" autocomplete="cc-number" data-stripe="number"/>
                                  </div>
                                  <div class="form-group">
                                            <label>Exp Month</label>
                                            <input type="text" class="form-control" id="card_month" autocomplete="cc-exp-month" placeholder="MM" data-stripe="exp-month">
                                            <label>Exp Year</label>
                                            <input type="text" class="form-control" id="card_year" autocomplete="cc-exp-year" placeholder="YYYY" data-stripe="exp-year">
                                  </div>
                                  <div class="form-group">
                                                <label>CVC <img src="{{ STATIC_URL }}infos.gif" data-tooltip="The CVV (or CVC) is a 3 digit security code printed on the back of your credit card, typically on the right of the signature panel." /> </label>
                                                <input type="text" class="form-control" id="card_cvc" placeholder="Ex. 331" autocomplete="off" data-stripe="cvc">
                                      <p style="width:300px;">By making this purchase, you authorize Adventr to charge your credit card or debit card. Your membership will automatically renew. Click <a href="http://www.adventr.tv/static/accounts_tos.html#subscriptions" target="_blank" style="color: blue;text-decoration: underline;">here</a> to see our cancellation and refund policy.</p>
                                  </div>
                                 <hr>
                             </div>

                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td><input type="submit" class="stripe-btn" value="Submit"></td>
                </tr>
            </tbody>
        </table>



    </div>
    {# Need to setup stripe if currrently not on a paid plan #}
    {% if current_subscription == 'basic' %}
        {% include '_stripe_int.html' %}
    {% endif %}

{% endblock %}


