{% extends 'accounts_base.html' %}

{% block content %}

    {% load tags %}

    <div class="span12" style="margin-left:8px;margin-top:10px;"> 
        {% if published|length == 0 %}
            No published Videos for <b>{{ campaign.name }}</b>
        {% else %}
            Published Videos for <b>{{ campaign.name }}</b><br/>
            <table class="table table-bordered table-striped" style="width:90%;margin-top:0px;">
                <thead>
                        <tr>
                            <td>User</td>
                            <td>Date</td>
                            <td>Link</td>
                        </tr>
                </thead>
                <tbody>
                    {% for pub_campaign in published %}
                        <tr> 
                            <td>{{ pub_campaign.user.username }}</td>
                            <td>{{ pub_campaign.published_on }}</td>
                            <td><a href="{{ PLAY_URL }}/{{ pub_campaign.preview_code }}" style="text-decoration:underline" target="_blank">{{ PLAY_URL }}/{{ pub_campaign.preview_code }}</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}


