{% extends 'accounts_base.html' %}

{% block content %}

    {% load tags %}

    <div class="span12" style="margin-left:8px;padding-top:50px;"> 
        <center> 
            <div id="embedDiv"> 
                <iframe src="/embed.html?source=ochretest&x={{ json_url|urlencode }}" frameborder="0" style="width:{{ width }}px;height:{{ height }}px;-webkit-box-shadow:0px 0px 15px rgb(0,0,0);box-shadow:0px 0px 15px rgb(0,0,0);" allowFullscreen></iframe>
            </div>
        </center>
    </div>

{% endblock %}


