{% extends 'accounts_base.html' %}

{% block head %}
{% load tags %}

<link href="{{ STATIC_URL }}bootstrap-editable.css" rel="stylesheet">
<link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet" type="text/css"></link>

<script type="text/javascript" src="{{ STATIC_URL }}raphael.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-editable.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}select2/select2.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}lodash.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}s3upload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.imageReloader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}advntr/jquery-interface.js"></script>


<style>

    table.table > tbody > tr > td:first-child {
        width:33%;
        padding-left:7px;
    }

    .table {
        margin-bottom:10px;
    }

    .table th, .table td {
        padding:3px;
        vertical-align:middle;
    }

    .modal-body {
        overflow-y:inherit;
    }

    .modal-table table {
        vertical-align:top;
    }

    input {
        width:180px;

    }

    @media only screen and (min-width: 400px) {
            #uploadButton { font-size:10px;}
    }

    @media only screen and (min-width: 800px) {
            #uploadButton { font-size:14px;}
    }

    @media only screen and (min-width: 1000px) {
            #uploadButton { font-size:16px;}
            .dropZoneHelp { font-size:72px;}
    }

    @media only screen and (min-width: 1100px) {
            #uploadButton { font-size:18px;}
    }


</style>

<script type="text/javascript">

    var STATIC_URL = "{{ STATIC_URL }}";
    var UPLOAD_URL = "{{ UPLOAD_URL }}";
    var CAMPAIGN_ID = "{% if campaign %}{{ campaign.id }}{% else %}0{% endif %}";
    var OUTPUT_PATH = "{% if campaign %}{{ campaign.getOutputPath }}{% else %}{{ assets_ours.0.campaign.getOutputPath }}{% endif %}";

    var connectionsEnabledFor = false;
    var enablingConnections = false;
    var rW = null;

    var originalConfigStr = '';

    {% autoescape off %}
        var config = {{ config_data }};
        if( !config.hasOwnProperty('campaign') )
            config.campaign = {};

        var imageAssets = [];
        var videoAssets = [];
        {% for asset in assets %}
            {% if asset.mime_type|startswith:"image" %}
                imageAssets.push( { text : "{{ asset.file_id }}", id: "{{ asset.thumbnail_chosen }}" } );
            {% elif asset.mime_type|startswith:"video" %}
                videoAssets.push( { text : "{{ asset.file_id }}", id: "{{ asset.file_path }}" } );
            {% endif %}
        {% endfor %}

    {% endautoescape %}


    $(document).ready( function() {

        $('html').ajaxSend( function(event, xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        });

        {% for asset in assets %}
            t = addAsset( { asset: {{ asset.toJSON|safe }}, thumbnail : UPLOAD_URL + '/{{ asset.thumbnail_chosen }}' }, "#yourVideos");
            enableTileTools(t);
        {% endfor %}

        {% for asset in assets_ours %}
            addAsset( { asset: {{ asset.toJSON|safe }}, thumbnail : UPLOAD_URL + '/{{ asset.thumbnail_chosen }}' }, '#ochreVideos');
        {% endfor %}

        accountsEditSetup();
    });

    </script>


{% endblock %}

{% block sublogo %}
    <img src="{{ STATIC_URL }}advntr/assets/ochrelogo_advntr_editor.png" />
{% endblock %}

{% block method %}POST{% endblock %}

{% block content %}
{% load tags %}

<div class="row-fluid">

  <div id="editPane" class="span12 zoomablePane">

    <input type="hidden" name="configData" id="configData" value="" />
    <input type="hidden" name="publishing" id="publishing" value="" />

    <div class="row-fluid">

        <div class="span12">

            <div class="row-fluid" style="margin-bottom:8px;position:relative;">
                <div id="campaignDiv" class="gradientButton" style="height:30px;">
                    <div style="float:left;padding-top:4px;">
                        Project:&nbsp;&nbsp;
                    </div>
                    <div style="float:left;padding-top:4px;">
                        <a href="#" id="config-name" style="font-size:16px;" class="text-editable"></a>
                    </div>
                    <div style="position:absolute;top:4px;right:5px;">

                        <div id="auto_saved"></div>

                        <input type="button" class="btn" onclick="saveConfig()" value="Save" />

                    </div>

                </div>
            </div>

        </div>
    </div>

    <hr class="funnelHR" />

    <div class="row-fluid">
        <!-- background-image:url('{{ STATIC_URL }}diagram_background.jpg');background-repeat:no-repeat;background-size:cover; -->

        <div id="dropZone" class="span12" style="padding-top:10px;">
            <div class="dropZoneHelp opacity75"><img src="{{ STATIC_URL }}advntr/assets/helpboxes.png" /></div>

            <div id="funnel" class="fill"></div>
        </div>

    </div> <!-- row-fluid -->

    <div id="assetsButton">
        <a href="javascript:void(0);" onclick="if( $('#assets').is(':visible') )closeAssets(); else openAssets();">
            <i class="icon-forward"></i>
        </a>
    </div>

    <div id="zoomControls">
        <button type="button" onclick="zoomFunnel(.1);" class="zoom-in">
            +
        </button>
        <button  type="button" onclick="zoomFunnel(-.1);" class="zoom-out">
            -
        </button>
    </div>

  </div>

    <!-- hover over asset highlights tile -->
  <div id="assets" class="span3 assetsPane hide">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tabYours" data-toggle="tab">Videos</a>
            </li>
            <li>
                <a href="#tabOptions" data-toggle="tab">Options</a>
            </li>
        </ul>


        <div class="tab-content">
            <div id="tabYours" class="tab-pane active editPaneBorder">
                <div id="uploadButton">
                    UPLOAD MEDIA
                </div>
                <div id="yourVideos">

                    <div class="tabVideos" style="display:none;">
                        <div class="asset-section">YOUR VIDEOS</div>
                        <div class="asset-storage"></div>
                    </div>
                    <br style="clear:both;" />
                    <div class="tabImages" style="display:none;">
                        <div class="asset-section">IMAGES</div>
                        <div class="asset-storage"></div>
                    </div>
                    <div class="tabOther" style="display:none;">
                        <div class="asset-section">OTHER</div>
                        <div class="asset-storage"></div>
                    </div>
                </div>
                <br style="clear:both;" />
                <div id="ochreVideos" style="clear:both;">
                    <div class="tabOther" style="display:none;">
                        <div class="asset-section">MISC</div>
                        <div class="asset-storage"></div>
                    </div>
                    <br style="clear:both;" />
                    <div class="tabVideos" style="display:none;">
                        <div class="asset-section">ADVENTR VIDEOS</div>
                        <div class="asset-storage"></div>
                    </div>
                    <div class="tabImages" style="display:none;">
                        <div class="asset-section">ADVENTR IMAGES</div>
                        <div class="asset-storage"></div>
                    </div>
                </div>
            </div>
            <div id="tabOptions" class="tab-pane">

                        <table class="table table-bordered table-striped">
                            <tbody>

                                <tr>
                                    <td >Watermark</td>
                                    {# Check if allowed to edit watermark #}
                                    <td><a id="edit-watermark" {% if not client.feature_watermark %}style="text-decoration:none;border-bottom: dashed 1px #666666;" onclick="editWatermark()"{% endif %} href="#"></a></td>
                                </tr>
                                <tr>
                                    <td>Poster Image</td>
                                    <td><a href="#" id="config-splash-src" data-type="select2"></a></td>
                                </tr>
                                <tr style="{% if client.feature_vpaid %}{% else %}display:none{% endif %}">
                                    <td>Analytics</td>
                                    <td>
                                        <a href="javascript:void(0);" id="edit-analytics" class="editable-click"></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Non-interactive version</td>
                                    <td>
                                        <a href="#" id="config-options-altMp4"  data-type="select2"></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Initial Volume</td>
                                    <td>
                                        <a href="#" id="config-options-volume" data-type="select"></a>
                                    </td>
                                </tr>

                                <tr style="{% if client.feature_vpaid %}{% else %}display:none{% endif %}">
                                    <td>VAST Ad ID</td>
                                    <td><a href="#" id="config-campaign-ad_id" class="text-editable"></a></td>
                                </tr>

                                <tr style="{% if client.feature_vpaid %}{% else %}display:none{% endif %}">
                                    <td>VAST Click Through Link</td>
                                    <td>
                                        <a href="#" id="config-options-clickThrough" class="text-editable"></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Share Link</td>
                                    <td>
                                        <a href="#" id="config-share-link" class="text-editable"></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Social Message</td>
                                    <td>
                                        <a href="#" id="config-share-message" class="text-editable"></a>
                                    </td>
                                </tr>
                                {% if campaign %}
                                <tr>
                                    <td>Reset Project</td>
                                    <td><a href="javascript:void(0);" onclick="resetCampaign()" class="editable-click">Start with a blank slate</a></td>
                                </tr>
                                <tr>
                                    <td>Past Revisions</td>
                                    <td><a href="javascript:void(0);" id="load-revisions"  data-type="select" data-pk="1" data-value="5" data-source="/accounts/revisions/?campaign_id={{ campaign.id }}" data-original-title="Past Revisions" class="editable editable-click">View a previously saved project</a></td>

                                </tr>

                                {% if user.is_superuser or client.feature_config %}
                                    <tr>
                                        <td>Edit Config</td>
                                        <td><a href="javascript:void(0);" onclick="editConfig()" class="editable-click">Edit</a></td>
                                    </tr>
                                {% endif %}

                                {% endif %}

                            </tbody>
                        </table>

                        {% if campaign %}
                          {% if client.feature_publish or user.is_staff %}
                            <a href="javascript:void(0);" onclick="confirmPublish()" class="btn btn-primary btn-block">
                              Publish{% if client.feature_vpaid %} and generate VPAID tag{% endif %}
                            </a>
                          {% endif %}
                        {% endif %}

            </div>

            <input type="file" id="fileinput" onchange="s3_upload(this);" style="line-height:initial;height:auto;width:80px;visibility:hidden;"/>
        </div>

    </div>

  </div>



</div> <!-- end row-fluid -->


<div id="modal-from-dom" class="modal hide fade" style="width:700px;">

</div>

<div id="save-modal" class="modal hide fade noshadow">
    <img src="{{ STATIC_URL }}advntr/assets/ochre_replay2.png" />
    <br/>
    <br/>
    <div id="save-msg">Saving...</div>
</div>

<div id="publish-modal" class="modal hide fade">
    <div class="modal-header">
      <h3>Publishing <i>{{ campaign.name }}</i></h3>
    </div>
    <div class="modal-body">
        Are you sure you want to publish this project?
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" onclick="publish()">Publish</a>
    </div>
</div>

<div id="previewDialog" class="modal hide fade" style="background-color:#000000;width:700px;">
    <iframe id="previewDialogIfr" src="" width="100%" height="100%" style="border:0px;"></iframe>

    <div class="modal-footer">
        <div style="float:right;">
            <a href="javascript:void(0)" onclick="$('#previewDialog').modal('hide')" class="btn secondary">Close</a>
        </div>
        <div class="previewText">While editing, video quality may be lower than expected.<br/>Published output will match your original upload.</div>
    </div>
</div>

<div class="loadingSpinner row-fluid">
    <div class="loadingSpinnerDiv span12"></div>
</div>


    {% verbatim %}

    <script id="editAnalyticsTemplate" type="text/html">
        <div class="modal-header">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
          <h3>Analytics</h3>
        </div>
        <div class="modal-body">

            <table class="table table-bordered table-striped">
                <tbody id="analyticsBody">
                    <tr><th>Provider</th><th>Identifier</th><th>Remove</th></tr>

                    <tr>
                        <td>Adventr Analytics</td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                    </tr>


                    {{each config.analytics}}
                        <tr class="analyticsRow" data-provider="${$value.provider}">
                            <td>${$value.provider}</td>
                            <td><input type="text" value="${$value.id}" size="10" />
                            <td><button type="button" class="btn editable-cancel" onclick="$(this).parent().parent().remove();updateAnalyticsButtons();"><i class="icon-remove"></i></button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <br/>


        </div>
        <div class="modal-footer">

          <a href="javascript:void(0)" data-dismiss="modal" class="btn secondary">Cancel</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" onclick="saveAnalytics()" class="btn secondary">OK</a>
        </div>

    </script>

    <script id="editConfigTemplate" type="text/html">
        <div class="modal-header">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
          <h3>Edit Configuration</h3>
        </div>
        <div class="modal-body">
            <textarea id="configDataEdit" name="configDataEdit" rows="18" style="width:100%;"></textarea>
        </div>
        <div class="modal-footer">

          <a href="javascript:void(0)" data-dismiss="modal" class="btn secondary">Cancel</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" onclick="saveConfigAdmin()" class="btn secondary">Save</a>
        </div>
    </script>


    <script id="tileTemplate" type="text/html">

        <div id="tile_${clip.id}"
             data-clip-id="${clip.id}"
             data-original-asset="${clip.original_asset}"
             data-original-asset-filename="${clip.original_asset_filename}"
             data-original-asset-mime-type="${clip.original_asset_mime_type}"
             data-original-asset-preview-flv="${clip.original_asset_preview_flv}"
             data-original-asset-thumbnail="${clip.original_asset_thumbnail}"
             class="clipTile" style="{{if top > 0}}position:absolute;top:${top}px;left:${left}px;{{else}}position:relative;{{/if}}">

            <img class="slow-images" src="${UPLOAD_URL}/${clip.original_asset_thumbnail}"  style="max-width:150px;" />



            <div class="upload_asset_bg"></div>

            <div class="clipTileInfoBg"></div>

            <div class="clipHelp"></div>
            <div class="clipHelpBg"></div>

            <div class="clipTileInfo" alt="${clip.original_asset_filename}" title="${clip.original_asset_filename}">
                {{if isVideo}}
                    <a href="javascript:void(0);" alt="Preview" onclick="preview('${clip.id}')"><i alt="Preview" class="icon-play icon-white previewButton"></i></a>
                {{/if}}

                {{if clip.original_asset_mime_type != 'ochre/replay'}}
                    <a href="javascript:void(0);" alt="Edit" onclick="editBlock('${clip.id}', ${level})"><i alt="Edit" class="icon-pencil icon-white"></i></a>
                {{/if}}

                <a href="javascript:void(0);" alt="Remove" onclick="confirmAndRemoveChoice('${clip.id}')"><i alt="Remove" class="icon-trash icon-white"></i></a>

                {{if isVideo}}
                    <a href="javascript:void(0);" alt="Connect" onclick="enableConnections('${clip.id}')"><i alt="Connect" class="icon-share-alt icon-white"></i></a>
                {{/if}}
            </div>


            <div class="upload_asset_label" alt="${clip.original_asset_filename}" title="${clip.original_asset_filename}">
                {{if clip.original_asset_filename}}
                    ${clip.original_asset_filename}
                {{else}}
                    ${clip.id}
                {{/if}}
            </div>

        </div>


    </script>

    <script id="assetTemplate" type="text/html">
        <div id="upload_asset_${asset.file_id}"
             class="assetTile clipTileDroppable"
             data-clip-id="${asset.file_id}"
             data-campaign-id="${asset.campaign}"
             data-asset-id="${asset.id}"
             data-original-output-path="${asset.outputPath}"
             data-original-asset="${asset.file_path}"
             data-original-asset-filename="${asset.file_original}"
             data-original-asset-mime-type="${asset.mime_type}"
             data-original-asset-preview-flv="${asset.file_preview_flv}"
             data-original-asset-thumbnail="${asset.thumbnail_chosen}" style="background-color:${ getAssetMimeTypeBG( asset.mime_type ) };">

            <img class="slow-images" src="${thumbnail}" />

            <div class="upload_asset_bg"></div>

            <div class="upload_asset_label ellipsisOverflow" alt="${asset.file_original}" title="${asset.file_original}">${asset.file_original}</div>

            <div class="clipTileInfoBg"></div>
            <div class="clipTileInfo">
                <a href="javascript:void(0);" alt="Download" onclick="downloadClip('${asset.file_path}')"><i alt="Download" class="icon-download-alt icon-white"></i></a>
                <a href="javascript:void(0);" alt="Remove choice" onclick="deleteAsset('${asset.id}', '${asset.file_path}', '${asset.file_id}')"><i alt="Delete" class="icon-trash icon-white"></i></a>
            </div>

            <div class="progress hide">
              <div class="bar" style="width: 0%;"></div>
            </div>

        </div>

    </script>


    <div id="edit-modal" class="modal hide fade">

    </div>

    <script id="choiceEditor" type="text/html">
        <div class="modal-header">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
          <h3>Edit <i>{{if clip.original_asset_filename}}${clip.original_asset_filename}{{else}}${clip.id}{{/if}}</i></h3>
        </div>

        <div class="modal-body" style="overflow-y:initial;background-color:white;">

            {{if choiceTile }}
            <div id="imageTextButton">
                <a href="javascript:void(0)" onclick="addNonChoice('${clip.id}')">Add Image/Text</a>
            </div>
            {{/if}}

            <div style="float:left;width:356px;">
                <div id="stage">
                    <div id="previewStage">
                        <iframe src="" style="border:0px;"></iframe>
                    </div>

                    <img id="posterImage" class="slow-images" src="" style="max-width:350px;min-width:350px;">
                </div>

                <div id="stageTools">
                    <a id="previewPlay" href="javascript:void(0);"><div aria-hidden="true" class="ochreicon-youtube"></div></a>&nbsp;
                    <a href="javascript:void(0);" onclick="autoPlace('${clip.id}', false)"><div aria-hidden="true" class="ochreicon-move-horizontal"></div></a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" onclick="autoPlace('${clip.id}', true)"><div aria-hidden="true" class="ochreicon-move-vertical"></div></a>
                </div>

                <table>

                    <tr style="{{if clip.video_choices.length == 0}}display:none{{/if}}">
                        <td>Choices appear at </td>
                        <td>
                            <a href="#" id="item_choices_time" class="text-editable" data-placement="right">${clip.choices_time/1000}</a> seconds
                        </td>
                    </tr>

                    <tr style="{{if clip.video_choices.length == 0}}display:none{{/if}}">
                        <td>Switching</td>
                        <td>
                            <a href="#" id="item_switching" data-type="select" data-placement="right"></a>
                        </td>
                    </tr>


                    {{if clip.original_asset_mime_type == 'ochre/url'}}
                        <tr>
                            <td>URL</td>
                            <td><a href="#" id="item_url" class="text-editable" data-placement="right">${clip.url}</a></td>
                        </tr>

                    {{else clip.original_asset_mime_type == 'ochre/facebook' || clip.original_asset_mime_type == 'ochre/twitter'}}
                        <tr>
                            <td>Share Description</td>
                            <td><a href="#" id="item_share_msg" class="text-editable" data-placement="right">${clip.share_msg}</a></td>
                        </tr>

                        <tr>
                            <td>Share URL</td>
                            <td><a href="#" id="item_url" class="text-editable" data-placement="right">${clip.share_url}</a></td>
                        </tr>


                    {{else clip.original_asset_mime_type == 'ochre/amazon'}}
                        <tr>
                            <td>Amazon Product ID</td>
                            <td><a href="#" id="item_url" class="text-editable" data-placement="right">${clip.url}</a></td>
                        </tr>

                    {{else}}
                        <tr>
                            <td>Social Message</td>
                            <td>
                                <a href="#" id="item_share_msg" class="text-editable" data-placement="right">{{if clip.share_msg}}${clip.share_msg}{{else}}${share_msg}{{/if}}</a>
                            </td>
                        </tr>

                        {{if !initial}}
                        <tr>
                            <td>
                                Set as start video?
                            </td>
                            <td>
                                <input type="checkbox" id="item_initial" style="margin-top:0px;">
                            </td>

                        </tr>
                        {{/if}}
                    {{/if}}

                </table>

            </div>

            <div id="choice-container">

            </div>

            <br style="clear:both;" />



                <br style="clear:both;">


        </div>

        <div class="modal-footer">

          <a href="javascript:void(0)" data-dismiss="modal" class="btn secondary">Cancel</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" onclick="saveTile('${clip.id}')" class="btn secondary">OK</a>
        </div>

    </script>


    <script id="choiceProps" type="text/html">

        <div id="choice-${choice.next_video_id}" class="choice-section" data-clip-id="${choice.next_video_id}">

            <div style="float:left;position:relative;width:100px;min-height:40px;min-width:100px">
                <img src="${ getThumbnailForId( choice.next_video_id ) }" class="slow-images" />

                <div class="upload_asset_bg"></div>

                <div class="upload_asset_label ellipsisOverflow">${ getFilenameForId( choice.next_video_id ) }</div>

                <div class="clipTileInfoBg"></div>

                <div class="clipTileInfo">
                    <a href="javascript:void(0);" alt="Remove" onclick="removeEditChoice('${choice.next_video_id}')"><i alt="Remove" class="icon-trash icon-white"></i></a>
                </div>

            </div>

            <table id="choice-props-${choice.next_video_id}" class="choice-props" style="float:left;margin-left:5px;" data-clip-id="${choice.next_video_id}">

                <tr>
                    <td>
                        Choice Type:
                    </td>
                    <td>
                        <input type="radio" name="choice_type_${choice.next_video_id}" data-clip-id="${choice.next_video_id}" data-on="choice_type_image_${choice.next_video_id}" data-off="choice_type_text_${choice.next_video_id}" value="image" {{if choice.image}}checked{{/if}}>&nbsp;Image
                        <input type="radio" name="choice_type_${choice.next_video_id}" data-clip-id="${choice.next_video_id}" data-on="choice_type_text_${choice.next_video_id}" data-off="choice_type_image_${choice.next_video_id}" value="text"  {{if choice.image}}{{else}}checked{{/if}}>&nbsp;Text
                    </td>
                </tr>

                <!--  TYPE IMAGE -->

                <tr class="choice_type_image_${choice.next_video_id}" style="display:{{if choice.image}}table-row{{else}}none{{/if}}">
                    <td style="text-align:right;">Image:</td>
                    <td><a href="#" class="img-selector" data-type="select2"></a></td>
                </tr>

                <tr class="choice_type_image_${choice.next_video_id}" style="display:{{if choice.image}}table-row{{else}}none{{/if}}">
                    <td style="text-align:right;">Image (hover):</td>
                    <td><a href="#" class="img-selector-hover" data-type="select2"></a></td>
                </tr>


                <!-- TYPE TEXT -->


                <tr class="choice_type_text_${choice.next_video_id}" style="display:{{if choice.image}}none{{else}}table-row{{/if}}">
                    <td>Text:</td>
                    <td>
                        <a href="#" class="choice-text text-editable">${choice.label}</a>
                    </td>
                </tr>

                <tr class="choice_type_text_${choice.next_video_id}" style="display:{{if choice.image}}none{{else}}table-row{{/if}}">
                    <td>Width:</td>
                    <td>
                        <a href="#" class="choice-width text-editable">${choice.width}</a>
                    </td>
                </tr>

                <tr class="choice_type_text_${choice.next_video_id}" style="display:{{if choice.image}}none{{else}}table-row{{/if}}">
                    <td>Height:</td>
                    <td>
                        <a href="#" class="choice-height text-editable">${choice.height}</a>
                    </td>
                </tr>

                <!-- END TYPES -->

                <tr>
                    <td style="text-align:right;">Top:</td>
                    <td>
                        <a href="#" class="choice-top text-editable"></a>px
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right;">Left:</td>
                    <td>
                        <a href="#" class="choice-left text-editable"></a>px
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right;">Transparency:</td>
                    <td><a href="#" class="choice-transparency" data-type="select"></a></td>
                </tr>
            </table>

            <hr style="margin:10px auto 8px auto;border-top:1px solid #cccccc;clear:both;width:70%;height:1px;" />
        </div>


    </script>

    <div id="watermark-modal" class="modal hide fade">

    </div>

    <script id="watermarkTemplate" type="text/html">


        <div class="modal-header">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
          <h3>Edit Watermark</h3>
        </div>
        <div class="modal-body">

            <div id="watermarkStage">

                <img id="watermarkPoster" class="slow-images" src="" style="max-width:350px;min-width:350px;">

                <div id="watermarkImage" class="choiceImg" style="line-height:initial;cursor:move;position:absolute;top:${config.options.watermark.top}px;left:${config.options.watermark.left}px;">
                    <img src=""/>

                    <div class="resizeSE"></div>
                    <div class="resizeE"></div>
                    <div class="resizeNE"></div>
                    <div class="resizeN"></div>
                    <div class="resizeNW"></div>
                    <div class="resizeW"></div>
                    <div class="resizeSW"></div>
                    <div class="resizeS"></div>
                </div>

            </div>

            <div style="float:left;margin-left:5px;">

                <table>
                <tr>
                    <td style="text-align:right;">Watermark Image:</td>
                    <td><a href="#" id="config-options-watermark-src" data-type="select2"></a></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Top:</td>
                    <td>
                        <a href="#" id="config-options-watermark-top" class="text-editable"></a>px
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right;">Left:</td>
                    <td>
                        <a href="#" id="config-options-watermark-left" class="text-editable"></a>px
                    </td>
                </tr>


                <tr>
                    <td style="text-align:right;">Width:</td>
                    <td>
                        <a href="#" id="config-options-watermark-width" class="text-editable"></a>px&nbsp;&nbsp;<a id="watermarkReset" href="javascript:void(0);">Reset</a>
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right;">Height:</td>
                    <td>
                        <a href="#" id="config-options-watermark-height" class="text-editable"></a>px
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right;">Transparency:</td>
                    <td><a href="#" id="config-options-watermark-transparency" data-type="select"></a></td>
                </tr>
                </table>

            </div>

            <br style="clear:both;" />

        </div>

        <div class="modal-footer">
          <a href="javascript:void(0)" data-dismiss="modal" class="btn secondary">Cancel</a>&nbsp;&nbsp;
          <a href="javascript:void(0)" onclick="saveWatermark()" class="btn secondary">Save</a>
        </div>




    </script>

    {% endverbatim %}

    <img id="posterLoader" src="" style="display:none;" />


{% endblock %}
