
{% extends 'accounts_base.html' %}

{% block head %}

<link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet" type="text/css"></link> 
<link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet" type="text/css"></link> 

<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.time.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.axislabels.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}select2/select2.min.js"></script>

<script type="text/javascript">

    {% if campaign %}

        var STATIC_URL  = '{{ STATIC_URL }}';
        var CAMPAIGN_ID = '{{ campaign.id }}';

        var calculator = null;
        var click_data = {};
        var values_store = {};

        $(document).ready(function() {

            $("#datePickBase").click( function() {
                $(this).hide();
                $("#datePickSelector").show();
            });


            $("#dataForm").on('submit', function() {
                
                renderDates();
                submitChartQuery( $("#dataForm").serialize() );
                return false;
            });

            $('.datepicker').datepicker();

            submitChartQuery( $("#dataForm").serialize() );
        });

    {% endif %}

    
</script>


{% endblock %}

{% block sublogo %}
    <img src="{{ STATIC_URL }}advntr/assets/ochrelogo_advntr_analytics.png" />
{% endblock%}


{% block content %}

{% load tags %}


            {% if campaign %}
            
                <div class="row-fluid">

                    <div class="span12">

                        <div style="position:relative;">

                            <div id="datePickBase" class="btn" style="float:left;">
                                <div id="datePickRange" style="float:left;">
                                    {{ start_date|date:"F d, Y" }} - {{ end_date|date:"F d, Y" }}
                                </div>
                                <span style="margin-left:5px;" class="caret"></span>
                            </div>

                            <div id="datePickSelector" style="display:none">
                                <div style="float:left;"> 
                                    <input type="text" id="start_date" name="start_date" value="{{ start_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                                </div>
                                <div style="float:left;padding-top:5px;"> 
                                    &nbsp;&nbsp;to&nbsp;&nbsp;
                                </div>
                                <div style="float:left;"> 
                                    <input type="text" id="end_date" name="end_date" value="{{ end_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                                </div>

                            </div>

                            <div id="segmentDiv" style="float:left;margin-left:10px;"> 
                                <select id="select_segment" name="select_segment" class="selectpicker">
                                    <option value="Views">Views</option>
                                    <option value="Duration">Average Duration</option>
                                </select> 
                            </div>

                            <!--
                            <div style="float:left;padding-top:5px;margin-left:15px;">
                                 <label for="allcampaigns" style="display:initial;margin-bottom:0px;font-size:12px;">All Campaigns</label>
                            </div>
                        

                            <div style="float:left;padding-top:3px;margin-left:3px;">
                                <input type="checkbox" name="allcampaigns" id="allcampaigns" {% if allcampaigns %}checked="checked"{% endif %} onchange="$('#dataForm').submit()" />
                            </div>
                            -->

                            <div class="dataDiv" style="margin-left:0px;margin-bottom:10px;"> 

                                <div id="div_filter" style="float:left;margin-left:10px;display:block;">
                                    <select id="filter"name="filter" class="selectpicker" onchange="checkChartType()">
                                        <option value="Source" >Source</option>
                                        <option value="OS"     >OS</option>
                                        <option value="Browser">Browser</option>
                                        <option value="Region" >Region</option>
                                        <option value="Flash"  >Flash Version</option>
                                    </select>

                                </div>
                            </div>


                            <div id="filters" style="float:left;">

                                <div style="float:left;padding:5px 5px 0px 5px">
                                    <a href="javascript:void(0);" onclick="chartEquals()">
                                        <i class="equals_button icon-circle-arrow-right"></i>
                                    </a>
                                </div>

                                <div id="equals">
                                    <select id="equals_text" name="equals_text"></select>
                                </div>

                            </div>

                            <div style="float:left;margin-left:7px;">
                                <input type="button" class="btn btn-custom" style="margin-left:7px" value="Update" onclick="$('#dataForm').submit()" />
                            </div>



                        </div>

                    </div>

                </div>

                <br style="clear:both;" />

                <div class="row-fluid">

                    <div id="chart_holder" class="span10" style="position:relative;">
                        <div id="chart_div" class="chart-container chart-data"></div>
                        <div id="chart_help" class="chart-data"></div>

                        <br style="clear:both;">

                        <div class="statContainer shadow">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td id="dataType"></td>
                                        <td>Plays</td>
                                        <td>Average Duration (seconds)</td>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                                        
                            </table>
                        </div>

                    </div>

                    <div class="span2" style="margin-left:7px;">
                        <div id="legendHolder" class="chart-data"></div>
                    </div>

                    <br style="clear:both;">

                </div>

            {% else %}

                No Video campaigns. Create one now!

            {% endif %}
    

{% endblock %}


