
{% extends 'accounts_base.html' %}

{% block head %}

<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.time.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.axislabels.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.flot.resize.min.js"></script>

<script type="text/javascript">


        {% autoescape off %}

        var startDate        = new Date( {{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }} );
        var endDate          = new Date( {{ end_date.year }}, {{ end_date.month|add:"-1" }}, {{ end_date.day }} );

        var click_data = {};

        function update() {
            $('#dataForm').submit();
        }

        {% endautoescape %}
        $(document).ready(function() {

            $('.datepicker').datepicker();

            $("#datePickBase").click( function() {
                $(this).hide();
                $("#datePickSelector").show();
            });


            $("#dataForm").on('submit', function() {
                
                submitQuery( $("#dataForm").serialize() );
                return false;
            });

            submitQuery( $("#dataForm").serialize() );

        });


    function submitQuery( get_data )
    {
        $('.chart-data').hide();
        $("#chart_holder").append( $('<div class="save-loading"> <img src="{{ STATIC_URL }}advntr/assets/ochre_replay2.png" /> </div>'));

        $(".save-loading").css('top', '50px').css('left', '150px').show();

        $.ajax({
            datatype: "json",
            type:"get",
            url: '/accounts/all/',
            data: get_data,
            error : function(jqxhr, textstatus, err) { 
                console.error("init: " + textstatus + ": " + err);
                $(".save-loading").hide();

                addAlert( 'alert-error', 'An error occurred and we are looking into it. Sorry for the inconvenience' );

            },
            success: function(data, textstatus, jqxhr) {
                $(".save-loading").hide();
                $('.chart-data').show();

                skip = {};
                selectAll = true;
                click_data = data.click_data;

                plotAccordingToChoices(data.select_segment.capitalize());

                var body = $('tbody', '.statContainer');
                body.empty();

                var numPlays = 0;
                var numDuration = 0;
                var numDurationCount = 0;
                var ks = Object.keys(data.table).sort(compareLowerCase);

                if( ks.length == 0 )
                    return;

                for( k in ks)
                { 
                    var label = ks[k];
                    var obj = data.table[label];
                    var d = (obj.duration_count > 0 ? (obj.duration / obj.duration_count).toFixed(2) : 0)
                    body.append( $('<tr><td><a href="/accounts/campaigns/chart?campaign=' + obj.campaign_id + '" style="text-decoration:underline;">' + label + '</a></td><td>' + numberWithCommas(obj.plays) + '</td><td>' + (d >= 1 ? d : 'N/A') + '</td></tr>') )

                    numPlays += obj.plays;
                    if( d >= 1 )
                    {
                        numDuration += obj.duration;
                        numDurationCount += obj.duration_count;
                    }
                }

                var d = ( numDurationCount > 0 ? (numDuration / numDurationCount).toFixed(2) : 0);
                body.append( $('<tr><td>Total</td><td>' + numberWithCommas(numPlays) + '</td><td>' + d + '</td></tr>') )

                var s = $("#select_segment").val();
                var t = $('select', '#select_' + s).find(':selected').text();
                var dateStr = $('#start_date').val() + ' - ' + $('#end_date').val();
                $('#dataType').html(t + ' (' + dateStr + ')'); 
            }

        });
    }

</script>


{% endblock %}

{% block sublogo %}
    <img src="{{ STATIC_URL }}advntr/assets/ochrelogo_advntr_analytics.png" />
{% endblock%}


{% block content %}

{% load tags %}

    <input type="hidden" name="filter" value="1" />

    <div class="row-fluid">

        <div class="span12">

            <div style="position:relative;">

                <div id="datePickBase" class="btn" style="float:left;">
                    <div style="float:left;">
                        {{ start_date|date:"F d, Y" }} - {{ end_date|date:"F d, Y" }}
                    </div>
                    <span style="margin-left:5px;" class="caret"></span>
                </div>

                <div id="datePickSelector" style="display:none">
                    <div style="float:left;"> 
                        <input type="text" id="start_date" name="start_date" value="{{ start_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                    </div>
                    <div style="float:left;padding-top:5px;"> 
                        &nbsp;&nbsp;to&nbsp;&nbsp;
                    </div>
                    <div style="float:left;"> 
                        <input type="text" id="end_date" name="end_date" value="{{ end_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                    </div>

                </div>

                <div id="segmentDiv" style="float:left;margin-left:10px;"> 
                    <select id="select_segment" name="select_segment" class="selectpicker">
                        <option value="Views">Views</option>
                        <option value="Duration">Average Duration</option>
                    </select> 
                </div>

                <div style="float:left;margin-left:7px;">
                    <input type="button" class="btn btn-custom" style="margin-left:7px" value="Update" onclick="update()" />
                </div>

            </div>

        </div>

    </div>

    <br style="clear:both;" />

    <div class="row-fluid">

        <div id="chart_holder" class="span10" style="position:relative;">
            <div id="chart_div" class="chart-container chart-data"></div>
            <div id="chart_help" class="chart-data"></div>

            <br style="clear:both;">

            <div class="statContainer shadow chart-data">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td id="dataType"></td>
                            <td>Plays</td>
                            <td>Average Duration (seconds)</td>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                            
                </table>
            </div>


        </div>

        <div class="span2" style="margin-left:7px;">
            <div id="legendHolder" class="chart-data"></div>
        </div>

    </div> <!-- row-fluid -->

{% endblock %}


