
{% extends 'accounts_base.html' %}

{% block method %}POST{% endblock %}
{% block content %}
<style type="text/css">
  div.nonformerror ul.errorlist {
    text-align: center;
    color: red;
    border: 1px solid;
    width: 500px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

  }
</style>


<div style="padding-top:5px;padding-left:5px;">
    <img src="{{ STATIC_URL }}theme2/img/Adventr_logo_transparent.png" alt="Adventr Logo" style="display: block;margin-left: auto;margin-right: auto;"/>
    <br><h3 style="text-align: center;">Join Thousands in Creating<br>the Future of Video!</h3><br>
    <h5 style="text-align: center;">First, create a new account. <img id="signup_lock" src="{{ STATIC_URL }}theme2/img/power_lock.png" style="width: 30px;margin-top: -10px;margin-left: 10px;"> </h5>
        <div class="nonformerror">
        {{ form.non_field_errors }}
        </div>

        <table class="form" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td colspan="2">Required fields are marked with *<br><br></td>
            </tr>
            <tr>
                <td style="width: 120px;">Full Name*</td>
                <td>
                    {% if form.first_name.errors %}{{ form.first_name.errors }}<br/>{% endif %}
                    {% if form.last_name.errors %}{{ form.last_name.errors }}<br/>{% endif %}
                    {{ form.first_name }}<br/>{{ form.last_name }}
                </td>
            </tr>

            <tr>
                <td>Email*</td>
                <td>
                    {% if form.email.errors %}{{ form.email.errors }}<br/>{% endif %}
                    {{ form.email }}
                </td>
            </tr>

            <tr>
                <td>Date of Birth</td>
                <td>
                    {% if form.dob.errors %}{{ form.dob.errors }}<br/>{% endif %}
                    {{ form.dob }}
                </td>
            </tr>

            <tr>
                <td>Occupation</td>
                <td>
                    {% if form.occupation.errors %}{{ form.occupation.errors }}<br/>{% endif %}
                    {{ form.occupation }}
                </td>
            </tr>

            <tr>
                <td>Location</td>
                <td>
                    {% if form.location.errors %}{{ form.location.errors }}<br/>{% endif %}
                    {{ form.location }}
                </td>
            </tr>

            <tr>
                <td>Current Website</td>
                <td>
                    {% if form.website.errors %}{{ form.website.errors }}<br/>{% endif %}
                    {{ form.website }}
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    {% if form.password.errors %}{{ form.password.errors }}<br/>{% endif %}
                    {{ form.password }}
                </td>
            </tr>

            <tr>
                <td>Re-enter Password</td>
                <td>
                    {{ form.password_confirm }}
                </td>
            </tr>

            <tr>
                <td>Type of account</td>
                <td>
                    <input type="hidden" name="plan" value="" />
                    <input name="stripe_token" type="hidden" value="{{ stripe_token }}" />

                    <ul class="subscription_plans">
                        <li><input type="radio" id="free_plan" name="subscription_plan" value="basic" {% if not plan or plan == 'basic' %}checked{% endif %} >Basic (Free) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="A Basic account includes the Adventr in-video watermark and analytics are not provided. Accounts are currently limited to four adventrs with unlimited views." /> </li>
                        <li><input type="radio" id="plus_plan" class="paid_plan" name="subscription_plan" value="FRD999" {% if plan == 'plus' %}checked{% endif %}>Food Revolution Day Special - ($9.99/mo LIMITED TIME) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="This account removes the in-video watermark and provides full analytics. Users can create up to three adventrs with 10,000 monthly views total." /></li>
                        <li><input type="radio" id="pro_plan" class="paid_plan" name="subscription_plan" value="PRO60" {% if plan == 'pro' %}checked{% endif %}>Professional ($60/mo) <img src="{{ STATIC_URL }}infos.gif" data-tooltip="The Pro account removes the in-video watermark and provides full analytics. Users can create up to three adventrs with 10,000 monthly views total.<br><br>To avoid disruption, users expecting over 10,000 video views per month should contact info@adventr.tv, where your account can be adjusted upward in groups of 3 videos and 10,000 views." /></li>
                    </ul>
                    <hr>
                     <div class="acct_panel" id="payment_details" style="display: none;">
                        <h5 class="underline">Your credit card details</h5>
                        <span class="payment-errors"></span>
                        <div class="form-group">
                            <label for="card_name">Name on card</label>
                            <input type="text" class="form-control" id="card_name"  autocomplete="cc-name" data-stripe="name"/>
                          </div>

                          <div class="form-group">
                            <label for="card_number">Card Number</label>
                              <input type="text" class="form-control" id="card_number" autocomplete="cc-number" data-stripe="number"/>
                          </div>
                          <div class="form-group">
                                    <label>Exp Month</label>
                                    <input type="text" class="form-control" id="card_month" autocomplete="cc-exp-month" placeholder="MM" data-stripe="exp-month">
                                    <label>Exp Year</label>
                                    <input type="text" class="form-control" id="card_year" autocomplete="cc-exp-year" placeholder="YYYY" data-stripe="exp-year">
                          </div>
                          <div class="form-group">
                                        <label>CVC <img src="{{ STATIC_URL }}infos.gif" data-tooltip="The CVV (or CVC) is a 3 digit security code printed on the back of your credit card, typically on the right of the signature panel." /> </label>
                                        <input type="text" class="form-control" id="card_cvc" placeholder="Ex. 331" autocomplete="off" data-stripe="cvc">

                              <p style="width:300px;">By making this purchase, you authorize Adventr to charge your credit card or debit card. Your membership will automatically renew. Click <a href="http://www.adventr.tv/static/accounts_tos.html#subscriptions" target="_blank" style="color: blue;text-decoration: underline;">here</a> to see our cancellation and refund policy.</p>
                          </div>
                         <hr>
                     </div>

                </td>
            </tr>


            <tr>
                <td colspan="2" style="text-align:center;padding-bottom: 120px;">
                    <p class="tos-line">By submitting this form you agree to Adventr’s <a href="http://www.adventr.tv/static/accounts_tos.html" target="_blank">Term of Services</a>.</p>
                    <br/>
                    <br/>
                    <input type="submit" class="btn btn-primary stripe-btn" value="Submit" />
                </td>

            </tr>



        </table>

</div>

{% include '_stripe_int.html' %}

{% endblock %}







