{% extends 'accounts_base.html' %}

{% block head %}
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet" type="text/css"></link> 
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet" type="text/css"></link> 

    <script type="text/javascript" src="{{ STATIC_URL }}select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}raphael.js"></script>

    <script>

        var CAMPAIGN_NAME = '{{ campaign.name|addslashes }}';
        var CAMPAIGN_ID = '{{ campaign.id }}';
        var STATIC_URL = "{{ STATIC_URL }}";
        var UPLOAD_URL = "{{ UPLOAD_URL }}";
        var click_data = true;
        var values_store = {};


    $(document).ready( function() {

        $(".datepicker").datepicker();
        $("#datePickBase").click( function() {
            $(this).hide();
            $("#datePickSelector").show();
        });

        $(".selectpicker").selectpicker();


        $("#dataForm").on("submit", function() {

            renderDates();
            submitFunnelQuery( $("#dataForm").serialize() );
            return false;
        });

        enableZoom();
 
        submitFunnelQuery( $("#dataForm").serialize() );
    });

</script>



{% endblock %}

{% block sublogo %}
    <img src="{{ STATIC_URL }}advntr/assets/ochrelogo_advntr_analytics.png" />
{% endblock%} 


{% block content %}


    {% load tags %}

    <div class="row-fluid">

    <div class="span12 zoomablePane">

                    
            <div class="row-fluid" style="position:relative;padding-bottom:6px;">

                <div id="datePickBase" style="float:left;" class="btn">
                    <div id="datePickRange" style="float:left;">
                        {{ start_date|date:"F d, Y" }} - {{ end_date|date:"F d, Y" }}
                    </div>
                    <span style="margin-left:5px;" class="caret"></span>
                </div>

                <div id="datePickSelector" style="display:none;float:left;">
                    <div style="float:left;"> 
                        <input type="text" id="start_date" name="start_date" value="{{ start_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                    </div>
                    <div style="float:left;padding-top:5px;"> 
                        &nbsp;&nbsp;to&nbsp;&nbsp;
                    </div>
                    <div style="float:left;"> 
                        <input type="text" id="end_date" name="end_date" value="{{ end_date|date:"Y-m-d" }}" data-date-format="yyyy-mm-dd" class="datepicker" > 
                    </div>

                </div>


                <div class="dataDiv" style="float:left;margin-left:10px;margin-bottom:3px;"> 

                        <div style="float:left;">
                            <span style="font-size:13px">&nbsp;&nbsp;Funnel&nbsp;</span>
                            <select id="filter" name="filter" class="selectpicker" onchange="changeFunnelSegment();checkFunnelType();">
                                <option value="" >All</option>
                                <option value="Source" >Source</option>
                                <option value="OS"     >OS</option>
                                <option value="Region" >Region</option>
                                <option value="Browser">Browser</option>
                            </select>
                        </div>

                        <div id="filters" style="float:left;display:none;">

                            <div style="float:left;padding:5px 5px 0px 5px">
                                &nbsp;=&nbsp;
                            </div>

                            <div id="equals">
                                <select id="equals_text" name="equals_text"></select>
                            </div>
                        </div>
         
                        <div style="float:left;">
                            <span style="font-size:13px">&nbsp;&nbsp;Interaction&nbsp;</span>
                            <select name="autoChoose" class="selectpicker">
                                <option value="-1">Any</option>
                                <option value="0" >User Interaction</option>
                                <!-- <option value="1" >Non-interaction</option> -->
                            </select>
                        </div>

                </div>


                <div style="position:absolute;right:5px;margin-bottom:3px;" > 
                    <button type="button" class="btn" onclick="$('#dataForm').submit()">Update</button>
                </div>

            </div>


            <div class="row-fluid" style="border-top:1px solid #dddddd;">

                <div class="span12">
                    <div id="funnel" class="fill data-funnel" style="position:relative;height:300px;"></div>
                </div>
            </div>

            <div id="zoomControls">
                <button type="button" onclick="zoomFunnel(.1);" class="zoom-in">
                    +
                </button>
                <button  type="button" onclick="zoomFunnel(-.1);" class="zoom-out">
                    -
                </button>
            </div>

    </div>
    </div>

    


    {% verbatim %}


    <script id="tileTemplate" type="text/html">

        <div id="tile_${clip.id}" data-clip-id="${clip.id}" class="clipTile" style="position:absolute;top:${top}px;left:${left}px;{{if clip_name == "Load"}}text-align:center;background-color:#ffffff;{{/if}}">
            <div>
                <img src="${UPLOAD_URL}/${clip.original_asset_thumbnail}" {{if clip_name == "Load"}}style="height:90px;"{{/if}} />
            </div>

            <div class="upload_asset_bg"></div>

            <div class="clipTileInfoBg"></div>

            <div class="clipTileInfo"> </div>

            <div class="upload_asset_label">
                {{if clip_name == "Load"}}
                    ${clip.campaign_name}
                {{else}}
                    {{if clip_name == "Finished"}}
                        <span class="clipDark">Completed</span>
                    {{else}}
                        {{if clip.original_asset_mime_type.indexOf("video") == 0}}
                            ${clip_name}
                        {{else}}

                            {{if clip.original_asset_mime_type == 'ochre/url'}}
                                <span class="clipDark" alt="${clip.url}" title="${clip.url}">URL</span> 
                            {{else}}
                                <span class="clipDark">${clip_name}</span>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                <br/>
                
                {{if level > 1 }}
                    ${num_clicks} {{if clip.url }}Click{{else}}View{{/if}}{{if num_clicks == 1}}{{else}}s{{/if}}
                {{/if}}
            </div>
        </div>

    </script>


    {% endverbatim %}



{% endblock %}


