<html>

<head>

</head>

<body>
        <center>

                <iframe src="/embed.html?options.instantPlay=1&source=ochretest&x={{ config_url }}" frameborder="0" style="width:{{ width }}px;height:{{ height }}px;-webkit-box-shadow:0px 0px 15px rgb(0,0,0);box-shadow:0px 0px 15px rgb(0,0,0);" allowFullscreen></iframe>
        </center>



</body>
