{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}




{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     Overview
</div>
{% endif %}{% endblock %}

{% block content %}
<div class="module">    
    <div class="form-row aligned">
        <div>
            <label class="required">First Name</label>
            <span>{{ profile.user.first_name }} <a href="/accounts/dashboard/?__impersonate={{ profile.user.username }}" target="_new">[View site as this user]</a> <a href="/admin/auth/user/{{ profile.user.id }}">[User obj]</a></span>
        </div>
    </div>
    <div class="form-row aligned">
        <div>
            <label class="required">Last Name</label>
            <span>{{ profile.user.last_name }}</span>
        </div>
    </div>
    <div class="form-row aligned">
        <div>
            <label class="required">Email</label>
            <span>{{ profile.user.email }}</span>
        </div>
    </div>
    <div class="form-row aligned">
        <div>
            <label class="required">Birthday</label>
            <span>{{ profile.dob }}</span>
        </div>
    </div>
    <div class="form-row aligned">
            <div>
                <label class="required">Occupation</label>
                <span>{{ profile.occupation }}</span>
            </div>
        </div>
    <div class="form-row aligned">
            <div>
                <label class="required">Location</label>
                <span>{{ profile.location }}</span>
            </div>
        </div>
    <div class="form-row aligned">
            <div>
                <label class="required">Current Website</label>
                <span>{{ profile.website }}</span>
            </div>
        </div>
    </div>
{% endblock %}
