{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'ADVNTR admin' %}{% endblock %}



{% block branding %}
<style>
    #header {
        background-color:#e1be2b; 
    }

</style>
<h1 id="site-name">{% trans 'ADVNTR administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
