<html>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Ochre</title>

    <style>
        body {
            background-color:#000000;
            margin:0;
            padding:0;
            font-family: Arial,Helvetica,sans-serif;
            overflow:hidden;
        }
    </style>
        
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}advntr/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}advntr/ochre_player.js"></script>


    <style type="text/css"><!--
     @import url({{ STATIC_URL }}advntr/ochre_player.css);
    --></style>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39894901-2']);
      //_gaq.push(['_setDomainName','none']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


    <script type="text/javascript">

        FACEBOOK_APP_ID = 444928435575766;
        var controlsVisible = false;
        var STATIC_URL = "{{ STATIC_URL }}";

        function isIos(pageParams)
        {
            var ipad = (navigator && ( navigator.userAgent.match(/iPad/i))); 
            if( pageParams.hasOwnProperty('adventr_ios') && pageParams['adventr_ios'] == 1 )
                ipad = true;
                    
            return ipad;
        }

        $(document).ready(function()
        {

            {% if csrf_token %}
                $('html').ajaxSend( function(event, xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                }); 
            {% endif %}

            var pageParams      = getAllQueryParamValues();
            if( !pageParams.hasOwnProperty('x' ) )
            {
                console.error('Missing json_url parameter'); 
                return;
            }

            // merge adventr referrer parameters
            var ps = getAllQueryParamValues( document.referrer );
            for( k in ps)
            {
                if( k.indexOf('adventr_') == 0)
                    pageParams[k] = ps[k];
            }


            var ipad = isIos(pageParams);
            if( !ipad && pageParams.hasOwnProperty('load') && pageParams['load'] == '0' )
            {

                var poster = "{{ STATIC_URL }}advntr/assets/default_poster.png";
                if( pageParams.hasOwnProperty('poster') )
                    poster = decodeURIComponent(pageParams['poster']);

                var width    = (pageParams.hasOwnProperty('width') ? parseInt(pageParams['width']) : $(window).width());
                var height   = (pageParams.hasOwnProperty('height') ? parseInt(pageParams['height']) : $(window).height());
                if( width <= 0 ) width = 640;
                if( height <= 0 ) height = 360;


                $('body').css('background-repeat', 'no-repeat').css('background-position', 'left top').css('background-size', 'cover').css('cursor', 'pointer').css('background-image', "url('" + poster + "')").click(function() {
                              pageParams['options.instantPlay'] = '1';

                              loadPlayer(pageParams);

                              var top  = (height / 2 ) - (15/2);
                              var left = (width / 2 ) - (15/2);

                              $('#ochre_loading').css('top', top + 'px').css('left', left + 'px').show();

                              setTimeout( function() { $("#ochre_loading").hide(); }, 750);

                              $('#ochre_banner').hide();
                              $('#ochre_play').fadeTo('fast', 0, function() { 
                                  $(this).hide();
                                  $('body').css('cursor', 'initial').css('background-image', 'none');
                              });

                              $(this).unbind('click');
                          });

 
                var top  = (height / 2 ) - (145/2);
                var left = (width / 2 ) - (145/2);

                $('body').append( $('<div id="ochre_play" style="position:absolute;top:' + top + 'px;left:' + left + 'px"><img src="{{ STATIC_URL }}advntr/assets/ochre_play_big.png" /></div>') );
                $('body').append( $('<div id="ochre_banner" style="position:absolute;top:0px;left:0px"><img src="{{ STATIC_URL }}advntr/playerV2/banner.png" /></div>') );
            }
            else
                loadPlayer(pageParams);

        });


        function loadPlayer(pageParams)
        { 

            var width    = (pageParams.hasOwnProperty('width') ? parseInt(pageParams['width']) : $(window).width());
            var height   = (pageParams.hasOwnProperty('height') ? parseInt(pageParams['height']) : $(window).height());
            if( width <= 0 ) width = 640;
            if( height <= 0 ) height = 360;

            var canHtml5 = (!!document.createElement('video').canPlayType);

            var ipad = isIos(pageParams)
            if( ipad && decodeURIComponent(pageParams['x']).indexOf("ochre-1-all-of-me-final") < 0 )
            {
                if( !endsWith(pageParams['x'], '.data'))
                    pageParams['x'] += '.data';

                // gallery video, show replay instead of share
                if( decodeURIComponent(pageParams['x']).indexOf("903-998") >= 0) {
                    $('#control_share_div').hide();
                    $('#control_replay_div').show();
                    $('#control_play_big').hide();
                    $('#controls').css('zoom', '200%');
                    $('#control_play_div').css('top', '0px').css('left', '-228%');
                    $('#control_pause_div').css('top', '0px').css('left', '-228%');
                    $('#control_replay_div').css('top', '0px').css('left', '-208%');
                    $("#controls_trigger").hide();
                    $("#controls").show();
                }

                hls.init( pageParams ); 
            }
            else if( swfobject.hasFlashPlayerVersion('11'))
            {
                $("#flashContent").show();
                
                $("#AdvntrPlayer" ).attr("width", width); $("#AdvntrPlayer" ).attr("height", height);
                $("#AdvntrPlayer2").attr("width", width); $("#AdvntrPlayer2").attr("height", height);

                var swfVersionStr = "11.0.0";
                // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
                var xiSwfUrlStr = "{{ STATIC_URL }}advntr/playerProductInstall.swf";

                var flashvars = { 'referrer' : document.referrer, 'ua' : navigator.userAgent};
                // add additional dynamic vars
                for( var key in pageParams)
                {
                    if( pageParams.hasOwnProperty( key ) )
                        flashvars[key] = pageParams[key]; 
                }

                var params = {};
                params.quality = "high";
                params.bgcolor = "#000000";
                params.allowScriptAccess = "always";
                params.allowfullscreen = "true";
                params.scale = 'no_scale';
                var attributes = {};
                attributes.id = "AdvntrPlayer";
                attributes.name = "AdvntrPlayer";
                attributes.align = "middle";
                attributes.wmode = "opaque";

                var proto = (document.location.protocol != "https:" ? "http:" : "https:");

                var player = proto + "{{ STATIC_URL }}advntr/AdvntrPlayer.swf";
                if( pageParams['adventr_swf'] )
                    player = decodeURIComponent(pageParams['adventr_swf']);

                swfobject.embedSWF(player, "flashContent", 
                    width, height,
                    swfVersionStr, xiSwfUrlStr, 
                    flashvars, params, attributes);
                // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
                swfobject.addLoadEvent( function () { 
                    $(window).resize( function() {
                        var w = $(window).width();
                        var h = $(window).height();
                        if( !isValidWidthHeight(w, h ) )
                            return;

                        $("#AdvntrPlayer" ).attr("width", w); $("#AdvntrPlayer" ).attr("height", h);
                        $("#AdvntrPlayer2").attr("width", w); $("#AdvntrPlayer2").attr("height", h);
                    });
                } );
                swfobject.createCSS("#flashContent", "display:block;text-align:left;");                
            }
            else
            {
                $("#flashContent").show();

                if( decodeURIComponent(pageParams['x']).indexOf("sundancefilmchannel-68/180") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/sundancefilmchannel-68/180/rtndimga60anthurs9pm_h264_brightcove_720-mobile.mp4";
                else if( decodeURIComponent(pageParams['x']).indexOf("sundancefilmchannel-68/181") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/sundancefilmchannel-68/181/rtndimga60anthurs9pm_h264_brightcove_720-mobile.mp4";
                else if( decodeURIComponent(pageParams['x']).indexOf("sundancefilmchannel-68/189") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/sundancefilmchannel-68/189/rtndimga60anthurs9pm_h264_brightcove_720-mobile.mp4";
                else if( decodeURIComponent(pageParams['x']).indexOf("sundancefilmchannel-68/145") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/sundancefilmchannel-68/145/rtndimga30premhalloween_h264_brightcove_720-correct-mobile.mp4";
                else if( decodeURIComponent(pageParams['x']).indexOf("hallenstein-brothers-83/169") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/hallenstein-brothers-83/169/ekocycle_mp4-mobile.mp4";
                else if( decodeURIComponent(pageParams['x']).indexOf("ochre-1-all-of-me-final") >= 0)
                    pageParams['altMp4'] = "//d252srr1zuysk4.cloudfront.net/clients/ochre-1/307/linear-mobile.mp4";


                if( pageParams.hasOwnProperty('altMp4') )
                {
                    var posterAttr = "";
                    if( pageParams.hasOwnProperty('poster') )
                        posterAttr = 'poster="' + decodeURIComponent(pageParams['poster']) + '"';
                    
                    $("#flashContent").html( $('<video autobuffer ' + posterAttr + ' width="' + width + 'px" height="' + height + 'px" src="' + decodeURIComponent(pageParams['altMp4']) + '" type="video/mp4" autoplay controls> </video>') );
                }

                else
                    $("#flashContent").html( $('<div class="unsupported">This Interactive Video is only supported on a Desktop computer currently.</div>'));
            }


            if( pageParams['adventr_cam'] == '1' )
                cm.init(width,height);
            
        }


    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">

        if ( document.location.hostname && document.location.hostname.indexOf("localhost") != 0 )
        {
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("d7bda262d44131e129e4dcdb3ee9bdd2");
            mixpanel.set_config( { apiHost: 'https://analytics.theochre.com/' });
        }

    </script>
    <!-- end Mixpanel -->

</head>
<body marginwidth="0" marginheight="0">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=444928435575766";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <div id="flashContent" style="display:none;z-index:1000;width:100%;height:100%;">
        <p>
            To view this page ensure that the latest Adobe Flash Player version is installed. 
        </p>
        <a href="http://www.adobe.com/go/getflashplayer">
            <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
        </a>

    </div>
    
    <noscript>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="360" wmode="opaque" id="AdvntrPlayer">
            <param name="movie" value="{% if request.GET.swf %}{{ request.GET.swf }}{% else %}{{ STATIC_URL }}advntr/AdvntrPlayer.swf{% endif %}" />
            <param name="FlashVars" value="x={{ request.GET.x|urlencode }}" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#000000" />
            <param name="scale" value="no_scale" />
            <param name="allowScriptAccess" value="always" />
            <param name="allowFullScreen" value="true" />
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="{% if request.GET.swf %}{{ request.GET.swf }}{% else %}{{ STATIC_URL }}advntr/AdvntrPlayer.swf{% endif %}" width="640" height="360" wmode="opaque" id="AdvntrPlayer2">
                <param name="FlashVars" value="x={{ request.GET.x|urlencode }}" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#000000" />
                <param name="scale" value="no_scale" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="true" />
            <!--<![endif]-->
            <!--[if gte IE 6]>-->
                <p> 
                    To view this page ensure that the latest Adobe Flash Player version is installed. 
                </p>
            <!--<![endif]-->
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                </a>
            <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </noscript>     

    <div id="ochre_loading"><img src="{{ STATIC_URL }}advntr/assets/spinner.gif" /></div>

    <div id="video-div" style="display:none;overflow:hidden;">
        <div id="hlsDebug"></div>

        <video id="video_hls" src="" autoplay="false" preload="auto" webkit-playsinline>
        </video> 

        <div id="choices">
        </div>

        <div id="control_play_big">
            <img src="{{ STATIC_URL }}advntr/assets/ochre_play_big.png" />
        </div>

        <div id="control_replay_big">
            <img src="{{ STATIC_URL }}advntr/assets/ochre_replay2.png" />
        </div>


        <div id="buffering">
            <img src="{{ STATIC_URL }}advntr/assets/spinner.gif" />
        </div>


        <div id="controls">
            <div id="control_play_div"> <div id="control_play"> </div> </div>
            <div id="control_pause_div"> <div id="control_pause"> </div> </div>
            <div id="control_share_div"> <div id="control_share"> </div> </div>
            <div id="control_replay_div"> <div id="control_replay"> </div> </div>
        </div>

        <div id="controls_trigger">
            . . .
        </div>


    </div>

    <style>

        #hlsDebug {
            position:absolute;
            top:0px;
            left:0px;
            display:none;
            color:black;
            background-color:white;
        }

        #controls_share {
            color:#ffffff;
            text-align:left;

            position:absolute;
            top:0px;
            left:0px;
            width:450px;
            height:300px;
            overflow:hidden; 
            z-index:10;
        }

        #controls_share_content {
            padding:4px 4px 4px 4px;
        }

        #controls_share_content .title {
            font-size:18px;
            font-weight:bold;
        }

        #controls_share_content input {
            border:1px solid #ffffff;
            background-color:#000000;
            border-radius:0px;
            -webkit-border-radius:0px;
            color:#ffffff; 
            padding:2px;
        }

        #controls_share_backdrop {
            width:450px;
            height:450px;
            background-color:#000000;
            opacity:.75; 
        }

        #controls_share_content {
            position:absolute;
            top:0px;
            left:0px;
            width:450px;
            height:450px;
        }

    </style>

    {% load tags %}
    {% verbatim %}
    <script id="shareTemplate" type="text/html">

        <div id="controls_share">
            <div id="controls_share_backdrop">
            </div>

            <div id="controls_share_content">

                <div style="float:left;width:235px;">
                    <span class="title">Share ${config.name}</span><br/>
                    <img src="${config.splash.src}" style="max-width:230px;max-height:140px;" /> 
                    <br/>

                    {{if config.share.fb_msg}}
                        <a href="javascript:void(0)" onclick="ochre_share('${config.share.fb_msg}', '${config.share.link}', '${config.splash.src}')"><img src="//${STATIC_URL}advntr/assets/fb_icon.png"></a>&nbsp;&nbsp;
                    {{/if}}
                        
                    {{if config.share.twitter_msg}}
                        <a href="javascript:void(0)" onclick="twitter_share('${config.share.twitter_msg}', '${config.share.link}')"><img src="//${STATIC_URL}advntr/assets/twitter_icon.png" /></a>
                    {{/if}}
                    <br/>
                    <br/>
                    <input type="button" value="Close" onclick="$('#controls_share').hide()" />
                </div> 
                
                <div style="float:left;width:215px;padding-top:20px;">
                    <span class="title">Embed</span><br/>

                    <input type="text" size="27" value="${config.share.embed}"/>
                    <br/>
                    <br/>


                    <span class="title">Link</span><br/>
                    <input type="text" size="27" value="${config.share.link}"/>

                </div> 
            </div>

        </div>

    </script> 
    {% endverbatim %}

    <script type="text/javascript" src="{{ STATIC_URL }}advntr/swfobject.js"></script>
</body> 
</html>
