<html>
<head>
    <meta charset="utf-8" />
    <title>Ochre</title>

    <style>
        body {
            background-color:#000000;
            margin:0;
            padding:0;
            font-family: Arial,Helvetica,sans-serif;
            overflow:hidden;scroll:none;
        }

    </style>
        
    <script type="text/javascript" src="../static/advntr/swfobject.js"></script>
    <script type="text/javascript" src="../static/advntr/jquery.min.js"></script>
    <script type="text/javascript" src="../static/advntr/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../static/advntr/ochre_player.js"></script>


    <style type="text/css"><!--
     @import url(../static/advntr/ochre_player.css);
    --></style>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39894901-2']);
      //_gaq.push(['_setDomainName','none']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


    <script type="text/javascript">

        FACEBOOK_APP_ID = 444928435575766;
            var controlsVisible = false;

        $(document).ready(function()
        {

            $('html').ajaxSend( function(event, xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
            }); 

            var pageParams      = getAllQueryParamValues();
            if( !pageParams.hasOwnProperty('x' ) )
            {
                alert('Missing json_url parameter'); 
                return;
            }

            var width    = (pageParams.hasOwnProperty('width') ? parseInt(pageParams['width']) : $(window).width());
            var height   = (pageParams.hasOwnProperty('height') ? parseInt(pageParams['height']) : $(window).height());

            var canHtml5 = (!!document.createElement('video').canPlayType);

            var ipad = (navigator && ( navigator.userAgent.match(/iPad/i))); 


            if( ipad )
            {
                $("#video-div").show();

                $("#control_play").click( function() {
                    $("#control_play_div").hide();
                    $("#control_pause_div").show(); 
                    hls.play();
                });

                $("#control_pause").click( function() {
                    $("#control_pause_div").hide();
                    $("#control_play_div").show(); 
                    hls.pause();
                }); 

                $("#control_share").click( function() {
                    $("#shareTemplate").tmpl( { config : hls.getConfig(), STATIC_URL : "{{ STATIC_URL }}" } ).appendTo("#video-div");
                });

                $("#video-div").click( function() { 

                    if( !controlsVisible )
                    {
                        controlsVisible = true;
                        $("#controls").fadeIn(200, function() {

                            setTimeout( function() {
                                $("#controls").fadeOut(1000, function() { controlsVisible = false; });
                            }, 2000);
                        });
                    }
                });

                $("#control_play_big").click( function() { $("#control_play").click(); } );

                $("#controls_trigger").click( function() {
                    $("#controls").show();
                });

                hls.init( pageParams['x'] ); 

            }
            else if( !MOBILE )
            {
                $("#flashContent").show();
                
                $("#AdvntrPlayer" ).attr("width", width); $("#AdvntrPlayer" ).attr("height", height);
                $("#AdvntrPlayer2").attr("width", width); $("#AdvntrPlayer2").attr("height", height);

                var swfVersionStr = "11.0.0";
                // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
                var xiSwfUrlStr = "../static/advntr/playerProductInstall.swf";

                var flashvars = { 'referrer' : document.referrer, 'ua' : navigator.userAgent};//"images" : "{{ STATIC_URL }}advntr/assets"};
                // add additional dynamic vars
                for( var key in pageParams)
                {
                    if( pageParams.hasOwnProperty( key ) )
                        flashvars[key] = pageParams[key]; 
                }

                var params = {};
                params.quality = "high";
                params.bgcolor = "#000000";
                params.allowscriptaccess = "always";
                params.allowfullscreen = "true";
                var attributes = {};
                attributes.id = "AdvntrPlayer";
                attributes.name = "AdvntrPlayer";
                attributes.align = "middle";
                attributes.wmode = "opaque";

                swfobject.embedSWF(
                    "../static/advntr/AdvntrPlayer.swf", "flashContent", 
                    width, height,
                    swfVersionStr, xiSwfUrlStr, 
                    flashvars, params, attributes);
                // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
                swfobject.addLoadEvent( function () {  } );
                swfobject.createCSS("#flashContent", "display:block;text-align:left;");                
            }
            else
            {
                $("#flashContent").show();
                if( pageParams.hasOwnProperty('altMp4') )
                    $("#flashContent").html( $('<video width="639" height="390" src="' + decodeURIComponent(pageParams['altMp4']) + '" type="video/mp4" autoplay controls> </video>') );
                    //$("#flashContent").html( $('<video style="z-index:1" width="639" height="390" src="' + decodeURIComponent(pageParams['altMp4']) + '" autoplay controls="controls"> </video><div class="choice" style="top:50px;left:50px;">LOVE</div><div class="choice" style="top:50px;left:150px;">LOGIC</div></div>') );

                else
                    $("#flashContent").html( $('<div class="unsupported">This Interactive Video is only supported on a Desktop computer currently.</div>'));
            }
            
        });


    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">

        if ( document.location.hostname && document.location.hostname.indexOf("localhost") != 0 )
        {
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("d7bda262d44131e129e4dcdb3ee9bdd2");
        }

    </script>
    <!-- end Mixpanel -->

</head>
<body marginwidth="0" marginheight="0">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=444928435575766";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <div id="flashContent" style="display:none;">
        <p>
            To view this page ensure that the latest Adobe Flash Player version is installed. 
        </p>
        <a href="http://www.adobe.com/go/getflashplayer">
            <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
        </a>

    </div>
    
    <noscript>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="360" wmode="opaque" id="AdvntrPlayer">
            <param name="movie" value="../static/advntr/AdvntrPlayer.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#000000" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="true" />
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="../static/advntr/AdvntrPlayer.swf" width="640" height="360" wmode="opaque" id="AdvntrPlayer2">
                <param name="quality" value="high" />
                <param name="bgcolor" value="#000000" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
            <!--<![endif]-->
            <!--[if gte IE 6]>-->
                <p> 
                    To view this page ensure that the latest Adobe Flash Player version is installed. 
                </p>
            <!--<![endif]-->
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                </a>
            <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </noscript>     


    <div id="video-div" style="display:none;">

        <video id="video_hls" src="" autoplay preload="auto" >
        </video> 

        <div id="choices">
        </div>

        <div id="control_play_big">
            <img src="{{ STATIC_URL }}advntr/assets/ochre_play_big.png" />
        </div>

        <div id="buffering">
            <img src="{{ STATIC_URL }}advntr/assets/spinner.gif" />
        </div>


        <div id="controls">
            <div id="control_bar_div"> <div id="control_bar"></div> </div>
            <div id="control_share_div"> <div id="control_share"> </div> </div> 
            <div id="control_play_div"> <div id="control_play"> </div> </div>
            <div id="control_pause_div"> <div id="control_pause"> </div> </div>
            <!--
                <div id="control_fullscreen_div"> <div id="control_fullscreen"> </div> </div>
            -->
        </div>

        <div id="controls_trigger">
            <h1>. . .</h1> 
        </div>

    </div>

    <style>
        #controls_share {
            color:#ffffff;
            text-align:left;

            position:absolute;
            top:0px;
            left:0px;
            width:450px;
            height:300px;
            overflow:hidden; 
            z-index:10;
        }

        #controls_share_content {
            padding:4px 4px 4px 4px;
        }

        #controls_share_content .title {
            font-size:18px;
            font-weight:bold;
        }

        #controls_share_content input {
            border:1px solid #ffffff;
            background-color:#000000;
            border-radius:0px;
            -webkit-border-radius:0px;
            color:#ffffff; 
            padding:2px;
        }

        #controls_share_backdrop {
            width:450px;
            height:450px;
            background-color:#000000;
            opacity:.75; 
        }

        #controls_share_content {
            position:absolute;
            top:0px;
            left:0px;
            width:450px;
            height:450px;
        }
    </style>

    {% load tags %}
    {% verbatim %}
    <script id="shareTemplate" type="text/html">

        <div id="controls_share">
            <div id="controls_share_backdrop">
            </div>

            <div id="controls_share_content">

                <div style="float:left;width:235px;">
                    <span class="title">Share ${config.name}</span><br/>
                    <img src="${config.options.images}/${config.splash.src}" style="max-width:230px;max-height:140px;" /> 
                    <br/>

                    {{if config.share.fb_msg}}
                        <a href="javascript:void(0)" onclick="ochre_share('${config.share.fb_msg}', '${config.share.link}', '${config.options.images}/${config.share.image}')"><img src="//${STATIC_URL}advntr/assets/fb_icon.png"></a>&nbsp;&nbsp;
                    {{/if}}
                        
                    {{if config.share.twitter_msg}}
                        <a href="javascript:void(0)" onclick="twitter_share('${config.share.twitter_msg}', '${config.share.link}')"><img src="//${STATIC_URL}advntr/assets/twitter_icon.png" /></a>
                    {{/if}}
                    <br/>
                    <br/>
                    <input type="button" value="Close" onclick="$('#controls_share').hide()" />
                </div> 
                
                <div style="float:left;width:215px;padding-top:20px;">
                    <span class="title">Embed</span><br/>

                    <input type="text" size="27" value="${config.share.embed}"/>
                    <br/>
                    <br/>


                    <span class="title">Link</span><br/>
                    <input type="text" size="27" value="${config.share.link}"/>

                </div> 
            </div>

        </div>

    </script> 
    {% endverbatim %}

</body> 
</html>
