<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <title>{{ config.name }} | Adventr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}advntr/ochre_accounts.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>

    <meta property="og:description" content="{{ config.share.fb_msg }}" />
    <meta property="og:image" content="{% if config.splash.src %}http:{{ config.options.images }}/{{ config.splash.src }}{% endif %}" />
    <meta property="og:type" content="video" />
    <meta property="og:video" content="https:{{ STATIC_URL }}advntr/AdvntrPlayer.swf?referrer=facebook.com&no_js=1&options.instantPlay=1&x={% firstof published.config_url request.GET.x %}" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="{% firstof fb_width 390 %}" />
    <meta property="og:video:height" content="{% firstof fb_height 219 %}" />

    <meta name="twitter:card" content="player">
    <meta name="twitter:title" content="{{ config.share.fb_msg }}">
    <meta name="twitter:player" content="{{ HTTPS_DOMAIN }}/embed.html?x={% firstof published.config_url request.GET.x %}">
    <meta name="twitter:player:width"  content="{% firstof twitter_width request.GET.width 640 %}">
    <meta name="twitter:player:height" content="{% firstof twitter_height request.GET.height 360 %}">
    {% if config.options.altMobile %}
    <meta name="twitter:player:stream" content="http:{{ config.options.baseUrl }}/{{ config.options.altMobile }}">
    <meta name="twitter:player:stream:content_type" content='video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;'>
    {% endif %}


    <style>


    </style>

    <script>
        FACEBOOK_APP_ID = "1438110473067692";
    
        var shareMsg = "{{ config.share.fb_msg }}";
        var shareLink = document.location.href;
        var campaignName = "{{ config.name }}";
        var campaignId   = "{{ config.campaign.campaignId }}";
        var clientId     = "{{ config.campaign.clientId }}";

        function clickTwitter() {
            $('#twitter_icon').click(function() {
                var twtLink = 'http://twitter.com/home?status=' + encodeURIComponent(shareMsg + ' ' + shareLink);
                window.open(twtLink, 'ochreTweet', 'status=1,width=500,height=400,top=500,left=500');
            });
        }

        function clickFacebook() {

            var desc = encodeURIComponent(shareMsg);
            var link = encodeURIComponent(shareLink);
            var next = "https://www.adventr.tv/fb_share/?videoName=" + campaignName + "&campaignId=" + campaignId + "&clientId=" + clientId

            var url = "https://www.facebook.com/dialog/feed?app_id=" + FACEBOOK_APP_ID + "&description=" + desc + "&display=popup&e2e=%7B%7D&link=" + link + "&locale=en_US&next=" + next + "&sdk=joey&t=" + desc + "&u=" + link;
                        
            window.open(url, "_blank");
        }

    $(document).ready(function() {

        // Menu
	$('.menu-wrapper').on("click", function() {
		$('.menu').toggleClass('open');
		$('.menu-wrapper h4').toggle();
		$('.menu-wrapper').toggleClass('open');
		$('.menu-top').toggleClass('menu-top-click');
		$('.menu-middle').toggleClass('menu-middle-click');
		$('.menu-bottom').toggleClass('menu-bottom-click');
	});

    });
    </script>


<body class="adventrPlay">

    {% if not DEBUG %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + FACEBOOK_APP_ID;
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

         <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>

    {% endif %}

    <div class="container-fluid">


        <header class="row-fluid">
            <div class="span12" style="height:55px;background-color:#e7c949;padding-top:2px;box-shadow: 0 4px 2px -2px #cccccc;">
                <div style="position:relative;width:{% firstof request.GET.width showWidth config.width 640 %}px;margin-left:auto;margin-right:auto;">

                    <a href="/"><img src="{{ STATIC_URL }}advntr/assets/ochre_top_logo_dark.png" style="width:46px" /></a>

                    <!-- Start Menu -->
                    <div class="menu-wrapper color-bg">
                            <span class="menu-global menu-top"></span>
                            <span class="menu-global menu-middle"></span>
                            <span class="menu-global menu-bottom"></span>
                    </div>
                    <ul class="menu black-bg">
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="/accounts/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/enterprise">Enterprise</a></li>
                    </ul>
                    <!-- End Menu -->
                </div>

            </div>
        </header>

        <div class="row-fluid">

            <div class="span8 offset2" style="text-align:center;">
                <br/>
                <br/>

                <div style="width:{% firstof request.GET.width showWidth config.width 640 %}px;margin-left:auto;margin-right:auto;">

                    <iframe src="/embed.html?{% if request.GET.swf %}swf={{ request.GET.swf }}&{% endif %}source=ochre-play&{% if config %}load=0&poster={{ config.options.images }}/{{ config.splash.src }}&width={% firstof request.GET.width showWidth config.width 640 %}&height={% firstof request.GET.height showHeight config.height 360 %}&{% endif %}x={% firstof published.config_url request.GET.x %}{% if config.options.altMobile %}&altMp4={{ config.options.baseUrl }}/{{ config.options.altMobile }}{% endif %}" frameborder="0" style="width:{% firstof request.GET.width showWidth config.width 640 %}px;height:{% firstof request.GET.height showHeight config.height 360 %}px;-webkit-box-shadow:0px 0px 15px rgb(0,0,0);box-shadow:0px 0px 15px rgb(0,0,0);" allowFullscreen></iframe>
                </div>

                <div style="position:relative;margin-top:15px;width:{% firstof request.GET.width showWidth config.width 640 %}px;margin-left:auto;margin-right:auto;text-align:left;">

                    <span class="videoHeading">{{ config.name }}</span><br/>
                    <span class="subHeading">{% firstof config.campaign.description "Interactive Video" %}</span>

                    <br/>

                    <div style="position:absolute;top:0px;right:3px;">
                        <a id="facebook_icon" href="javascript:void(0);" onclick="clickFacebook()">
                            <img src="{{ STATIC_URL }}advntr/assets/fb_icon2.png"/>
                        </a>
                        <a id="twitter_icon" href="javascript:void(0);" onclick="clickTwitter()">
                            <img src="{{ STATIC_URL }}advntr/assets/twitter_icon2.png"/>
                        </a>
                        <a href="#embed-modal" data-toggle="modal">
                            <img src="{{ STATIC_URL }}advntr/assets/embed_icon.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div>

    
    <div id="embed-modal" class="modal hide fade" style="width:650px;color:#333333;">

        <div class="modal-header" style="border:0 !important;">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
        </div>
        
        <div class="modal-body"> 
            Embed this video on your website:<br/>
            <pre style="font-size:10px;">
&lt;iframe src="http://www.adventr.tv/embed.html?source=embed&{% if config %}load=0&poster={{ config.options.images }}/{{ config.splash.src }}&width={% firstof request.GET.width config.width 640 %}&height={% firstof request.GET.height config.height 360 %}&{% endif %}x={% firstof published.config_url request.GET.x %}{% if config.options.altMobile %}&altMp4={{ config.options.baseUrl }}/{{ config.options.altMobile }}{% endif %}" width="{% firstof request.GET.width config.width 640 %}px" height="{% firstof request.GET.height config.height 360 %}px" frameborder="0" style="overflow:hidden" scrolling="no" allowFullscreen&gt;&lt;/iframe&gt;
            </pre>

            Let your video be shared on Facebook and Twitter directly to your website by adding these tags to your html:
            <pre style="font-size:10px;">
&lt;meta property="og:description" content="{{ config.share.fb_msg }}" /&gt;
&lt;meta property="og:image" content="{% if config.splash.src %}http:{{ config.options.images }}/{{ config.splash.src }}{% endif %}" /&gt;
&lt;meta property="og:type" content="video" /&gt;
&lt;meta property="og:video" content="https:{{ STATIC_URL }}advntr/AdvntrPlayer.swf?referrer=facebook.com&no_js=1&options.instantPlay=1&x={% firstof published.config_url request.GET.x %}" /&gt;
&lt;meta property="og:video:type" content="application/x-shockwave-flash" /&gt;
&lt;meta property="og:video:width" content="{% firstof fb_width 390 %}" /&gt;
&lt;meta property="og:video:height" content="{% firstof fb_height 219 %}" /&gt;

&lt;meta name="twitter:card" content="player"&gt;
&lt;meta name="twitter:title" content="{{ config.share.fb_msg }}"&gt;
&lt;meta name="twitter:player" content="{{ HTTPS_DOMAIN }}/embed.html?x={% firstof published.config_url request.GET.x %}"&gt;
&lt;meta name="twitter:player:width"  content="{% firstof twitter_width 640 request.GET.width %}"&gt;
&lt;meta name="twitter:player:height" content="{% firstof twitter_height 360 request.GET.height %}"&gt;{% if config.options.altMobile %}
&lt;meta name="twitter:player:stream" content="http:{{ config.options.baseUrl }}/{{ config.options.altMobile }}"&gt;
&lt;meta name="twitter:player:stream:content_type" content='video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;'&gt;
{% endif %}

            </pre>



        </div>

        <div class="modal-footer">  
            <a href="#" class="btn" data-dismiss="modal">OK</a>  
        </div>


    </div>


    <div id="social-modal" class="modal hide fade" style="width:650px;color:#333333;">

        <div class="modal-header" style="border:0 !important;">
          <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
        </div>
        
        <div class="modal-body"> 
                    </div>

        <div class="modal-footer">  
            <a href="#" class="btn" data-dismiss="modal">OK</a>  
        </div>


    </div>


</body>
</html>
