<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ADVENTR - Pricing</title>
<!-- Load CSS -->
<link href="{{ STATIC_URL }}theme2/css/style.css" rel="stylesheet" type="text/css" />
<!-- Load Icon Font -->
<link href="{{ STATIC_URL }}theme2/css/webfont.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}theme2/../advntr/ochre_font.css" rel="stylesheet" type="text/css" />

<link href="{{ STATIC_URL }}theme2/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}theme2/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}theme2/css/pricing-tables.css" rel="stylesheet" type="text/css" />

<!-- Load jQuery library -->
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery-ui.min.js"></script>
<!-- Load js -->
<script src="{{ STATIC_URL }}theme2/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/custom.js"></script>
<!-- iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<style>

section p {
font-size:20px;
width: auto;

}

.logo {
    left: 5px;
}

{% comment %}
.price-details {
position:relative;
display: inline-block;
float:left;
padding:10px;
}

.price-details img {
    height: 600px;
    max-width: 220px;
}
{% endcomment %}

</style>

<script type="text/javascript">
    var STATIC_URL = '{{ STATIC_URL }}';

    jQuery(function()
    {
      jQuery('.pt-block').tooltip(
      {
        selector: '.show-hint'
      });
    });

</script>
</head>
<!-- Start Body -->
<body style="background-image: url({{ STATIC_URL }}theme2/img/TouchingBackground.jpg);">
	
	<!-- Start Logo -->
	<div class="logo"></div>
	<!-- End Logo -->

	<!-- Start Menu -->
	<div class="menu-wrapper color-bg">
		<h4><b>ENGAGE</b></h4>
		<span class="menu-global menu-top"></span>
		<span class="menu-global menu-middle"></span>
		<span class="menu-global menu-bottom"></span>
	</div>
	<ul class="menu black-bg">
		<li><a href="/#home" class="active">Home</a></li>
		<li><a href="/#about">About</a></li>
		<li><a href="/#features">Features</a></li>
		<li><a href="/signup">Sign Up</a></li>
	</ul>
	<!-- End Menu -->

	<!-- Start Content -->
		<!-- Start Home -->
		<section class="black-bg">
            {% comment %}
                <div style="width:80%;margin-left:auto;margin-right:auto;text-align:center">

                        <div align="center" class="price-details">
                            <a href="/accounts/create/?plan=basic"><img src="{{ STATIC_URL }}theme2/img/CreativeBrown.png" alt="Creative" /></a>
                        </div>
                        <div align="center" class="price-details">
                            <a href="/accounts/create/?plan=plus"><img src="{{ STATIC_URL }}theme2/img/PlusBrown.png" alt="Plus" /></a>
                        </div>
                        <div align="center" class="price-details" style="margin-left: -30px;">
                            <a href="/accounts/create/?plan=pro"><img src="{{ STATIC_URL }}theme2/img/ProBrown.png" alt="Pro" /></a>
                        </div>
                        <div align="center" class="price-details">
                            <a href="mailto:info@adventr.tv?subject=Commercial+Signup"><img src="{{ STATIC_URL }}theme2/img/CommercialBrown.png" alt="Commercial" /></a>
                        </div>
                </div>
            {% endcomment %}
                {# Testing responsive pricing table #}
            <div class="container" style="margin-left: auto;margin-right: auto;padding-top: 70px;">
              <!-- Start: modern skin - goldenRod color -->
              <div class="row modern-pt pt-modern-goldenRod">
                <div class="col-xs-3">
                  <div class="pt-block">
                    <div class="pt-head">
                      <div class="pt-title">Creative</div>
                    </div>
                    <div class="pt-content">
                      <div class="pt-price-container">
                        <div class="pt-price-block">
                          <span class="pt-currency"></span>
                          <span class="pt-price-main">Free</span>
                          <span class="pt-price-rest"></span>
                        </div>
                      </div>
                      <ul class="pt-list">
                        <li>HD video</li>
                        <li>Embeddable anywhere</li>
                        <li>Facebook + Twitter inline interactivity</li>
                        <li>-</li>
                        <li>May include ads</li>
                        <li>Adventr watermarked</li>
                        <li>No analytics</li>
                      </ul>
                      <div class="pt-footer">
                        <a href="/accounts/create/?plan=basic"><button class="btn">Select</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="pt-block pt-selected">
                    <div class="pt-head">
                      <div class="pt-badge pt-popular">
                        <span>For PERSONAL USE</span>
                      </div>
                      <div class="pt-title">Plus</div>
                    </div>
                    <div class="pt-content">
                      <div class="pt-price-container">
                        <div class="pt-price-block">
                          <span class="pt-currency">$</span>
                          <span class="pt-price-main">9</span>
                          <span class="pt-price-rest">99</span>
                        </div>
                      </div>
                      <ul class="pt-list">
                        <li><b>Creative Features PLUS</b></li>
                        <li>No ads!</li>
                        <li>No Adventr watermark</b><i class="fa fa-info-circle show-hint" title="The Adventr branded watermark is not played during playback. However users may include your own watermark throughout the adventr."></i></li>
                        <li>External linking</li>
                        <li>Channel & Performance Analytics</li>
                        <li>Limited to 12 clips</li>
                        <li>Up to 2 adventrs with 5000 views permonth</li>
                      </ul>
                      <div class="pt-footer">
                        <a href="/accounts/create/?plan=plus"><button class="btn">Select</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="pt-block">
                    <div class="pt-head">
                      <div class="pt-badge pt-discount">
                        <span>For Business Use</span>
                      </div>
                      <div class="pt-title">Pro</div>
                    </div>
                    <div class="pt-content">
                      <div class="pt-price-container">
                        <div class="pt-price-block">
                          <span class="pt-currency">$</span>
                          <span class="pt-price-main">60</span><span class="pt-price-rest"></span>
                        </div>
                      </div>
                      <ul class="pt-list">
                        <li><b>Plus Features PLUS</b></li>
                        <li>White labeled social sharing<i class="fa fa-info-circle show-hint" title="Place HTML in your website header and share to Twitter and Facebook with your brand - not Adventr - featured in all scial media copy."></i></li>
                        <li>Unlimited clips</li>
                        <li>-</li>
                        <li>Up to 3 adventrs with 10,000 monthly views</li>
                        <li>Scale up for more adventrs or views!<i class="fa fa-info-circle show-hint" title="If you believe you'll need more than 3 adventr videos or over 10,000 impression each month, just contact us at info@adventr.tv and you can scale up your usage in sets of 3 adventr videos or 10,000 views."></i></li>
                      </ul>
                      <div class="pt-footer">
                        <a href="/accounts/create/?plan=pro"><button class="btn">Select</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="pt-block pt-selected">
                    <div class="pt-head">
                      <div class="pt-badge pt-discount">
                        <span>For Media and Advertisers</span>
                      </div>
                      <div class="pt-title">Enterprise</div>
                    </div>
                    <div class="pt-content">
                      <div class="pt-price-container">
                        <div class="pt-price-block">
                          <span class="pt-currency"></span>
                          <span class="pt-price-main">Contact Us</span>
                          <span class="pt-price-rest"></span>
                        </div>
                      </div>
                      <ul class="pt-list">
                        <li><b>Pro features PLUS</b></li>
                        <li>Interactivity in ad networks</b><i class="fa fa-info-circle show-hint" title="Adventrs act as fully certified IAB ad units with full interactivity in any VAST/VPAID video or rich media ad network! No other technology allows this scale of deployment."></i></li>
                        <li><b>Interactivity in VPAID video players</b><i class="fa fa-info-circle show-hint" title="Play your adventrs in any popular video player (Kaltura, Brightroll, JWPlayer, etc.) alongside ads or any of your other content."></i></li>
                        <li>Mobile SDK access</b><i class="fa fa-info-circle show-hint" title="Access a simple one line SDK which will allow your adventrs to be fully interactive in *your* mobile app."></i></li>
                        <li>Google Analytics/Mixpanel support</li>
                        <li>Training &amp; Creative support</li>
                        <li>Account management</li>
                      </ul>
                      <div class="pt-footer">
                          <a href="mailto:info@adventr.tv?subject=Commercial+Signup"><button class="btn">Contact Us</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div>
                    <div align="center" class="">
                        <img src="{{ STATIC_URL }}theme2/img/AgencyWhite.png" alt="Agency & Custom Implementations" />
                    </div>
                </div>
                        
                </section>
		<!-- End Home -->
	<!-- End Content -->

	<!-- Start Social -->
	<div class="social-wrapper">
		<a href="mailto:info@adventr.tv" class="social color-bg mail" target="_blank"></a>
		<a href="https://twitter.com/GoAdventr" class="social color-bg twitter" target="_blank"></a>
	</div>
	<!-- End Social -->

         <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>

</body>
<!-- End Body -->
</html>
