<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Adventr - Interactive Video</title>
	<meta name="description" content="Adventr">
	<meta name="HandheldFriendly" content="true">
        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="http:{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="http:{{ STATIC_URL }}advntr/assets/ochrelogo_75x75.png" />
        <link rel="canonical" href="http://www.adventr.tv" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Adventr, Ochre, video, interactive, advntr" />
        <meta name="description" content="Interactive Video" />
        <meta name="robots" content="index" />

        <meta name="og:title" content="Adventr"/>
        <meta name="og:type" content="Video"/>
        <meta name="og:url" content="http://www.adventr.tv"/>
        <meta name="og:image" content="http:{{ STATIC_URL }}advntr/assets/ochrelogo_75x75.png"/>
        <meta name="og:site_name" content="Adventr"/>
        <meta name="og:description" content="Interactive Video"/>
        <meta property="fb:admins" content="144976585707828" />

        <link rel="image_src" href="http:{{ STATIC_URL }}advntr/assets/ochrelogo_75x75.png" />
        <link rel="thumbnail" href="http:{{ STATIC_URL }}advntr/assets/ochrelogo_75x75.png" /> 


	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
	<!-- Import CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}theme1/css/base.css">
	<!--[if lt IE 10]>
		<link href= "{{ STATIC_URL }}theme1/css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


        <script>

            if(window.location.hostname == "video.theochre.com")
            {
                window.location.href = 'https://www.adventr.tv';
            }

        </script>


</head>

<body>


	<!-- Start Homepage -->
	<header id="home" class="row-fluid">
            <div class="span12">
		<div class="header-bg"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="row-fluid">
				<div class="span4" style="margin-left:0px;padding-left:10px;">
					<a href="/" class="logo"><img src="{{ STATIC_URL }}theme1/img/logo1.png" alt=""></a>
				</div>
				<!-- Navigation -->
				<nav id="topnav" class="span8 hidden-phone">
					<ul id="fixed-nav" class="visible-desktop">
						<li><a class="scroll-link" href="#about">About Us</a></li>
						<li><a class="scroll-link" href="#tech">Technology</a></li>
						<li><a class="scroll-link" href="#contact">Contact</a></li>
					</ul>
				</nav>
				<!-- End Navigation -->
			</div>
			<div class="row-fluid" style="margin-left:0px;">
                                <div id="slidecaption" style="padding:0;position:relative;">
                                        <div class="hidden-phone" style="font-size:84px;margin-top:49px;text-shadow: 2px 4px 3px rgba(0,0,0,0.1);">
                                            Bringing video<br/>to <span class="color-text">life</span>
                                        </div>
                                        <div class="visible-phone" style="font-size:40px;margin-top:23px;text-shadow: 2px 4px 3px rgba(0,0,0,0.1);">
                                            Bringing video<br/>to <span class="color-text">life</span>
                                        </div>

                                        <div style="margin-top:60px">
                                            <a href="#about" class="btn white scroll-link">Get started</a>
                                        </div>
                                </div>
			</div>
		</div>
            </div>
	</header>

	

	<div class="wrapper">
	
		<!-- Start Sticky Navigation -->
		<nav id="mainnav" class="hidden-phone">
			<div class="container">
				<div class="row-fluid">
					<div class="span4" style="padding-top:15px;">
					        <a href="/"><img src="{{ STATIC_URL }}theme1/img/ochrelogo_head.png" alt="Adventr" /></a>
					</div>
					<div class="span8">
						<ul id="fluid-nav" class="fluid-navigation visible-desktop">
							<li><a href="#about">About Us</a></li>
							<li><a href="#tech">Technology</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<!-- End Sticky Navigation -->

		
		<!-- Start About Page -->
		<section id="about" class="page page-gray">
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
						<div class="title">About <span class="color-text">Adventr</span></div>
						<hr>
						<div class="lead" style="padding-right:0px;">The Internet is a two-way communication channel.<br />Why aren't your videos?</div>
                                        </div>


                                        <div class="span12 hidden-desktop hidden-phone">

                                            <iframe src="/embed.html?source=ochrehome&load=0&width=640&height=390&poster={{ STATIC_URL }}advntr/assets/znv/znv_splash.png&x=/static/advntr/assets/znv/znv.data" width="640px" height="390px" frameborder="0" style="-webkit-box-shadow:0px 0px 15px rgb(0,0,0);box-shadow:0px 0px 15px rgb(0,0,0);" allowFullscreen></iframe>
                                        </div>


                                        <div class="span8 visible-desktop hidden-phone">
                                            <iframe src="/embed.html?source=ochrehome&load=0&width=640&height=390&poster={{ STATIC_URL }}advntr/assets/znv/znv_splash.png&x=/static/advntr/assets/znv/znv.data" width="640px" height="390px" frameborder="0" style="-webkit-box-shadow:0px 0px 15px rgb(0,0,0);box-shadow:0px 0px 15px rgb(0,0,0);" allowFullscreen></iframe>
                                        </div>

                                        <div class="span4 visible-desktop" style="width:29%;">
                                                <!-- Start Services List -->
                                                <div class="services" style="padding:15px 20px 0px 20px;height:390px;font-size:15px;line-height: 1.9em;">
                                                        <div class="services-title">INTERACTIVE VIDEO PLATFORM</div>
                                                                Adventr partners with agencies, production companies and publishers to deliver interactive video through our proprietary Adventr&#8482; platform. Adventr creates seamless interactive experiences and distributes this content across PCs and mobile devices. Viewers can touch and change the content -<i>seamlessly and in real time.</i>
                                                                
                                                        </ul>
                                                </div>
                                                <!-- End Services List -->
                                        </div>


                                        <div class="row-fluid hidden-desktop">
                                                <div class="span12" style="font-size:15px;margin-top:15px;line-height: 1.9em;">
                                                    <div class="services-title">INTERACTIVE VIDEO PLATFORM</div>
                                                    Adventr partners with agencies, production companies and publishers to deliver interactive video through our proprietary Adventr&#8482; platform. Adventr creates seamless interactive experiences and distributes this content across PCs and mobile devices. Viewers can touch and change the content -<i>seamlessly and in real time.</i>
                                                </div>
                                        </div>



                                        <div class="row-fluid">
                                                <div class="span12" style="text-align:center;margin-top:40px;">
                                                        <h2>We Deliver <span class="color-text"><a href="/video" style="text-decoration:none;border-bottom:0;">Video as an Application&trade;</a></span></h2>
                                                </div>
                                        </div>
				</div>
			</div>
		</section>
		<!-- End About Page -->


		<!-- Start User Engagement Page -->
		<section id="engagement" class="page page-gray">
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
						<div class="title">User Engagement Drives <span class="color-text">Value</span></div>
						<hr /> 

                                                <div class="span11 offset1 hidden-phone" style="margin-top:45px;">
                                                    <div class="span3" style="text-align:left;margin-left:20px;">
                                                        <div style="text-align:right;"><b>Retention Time</b></div>
                                                        <div><img src="{{ STATIC_URL }}theme1/img/engagement_time.png" width="100%" /></div>
                                                    </div>
                                                    <div class="span3" style="text-align:left;margin-left:20px;">
                                                        <div style="text-align:right;"><b>Purchase Intent</b></div>
                                                        <div><img src="{{ STATIC_URL }}theme1/img/engagement_mean.png" width="100%" /></div>
                                                    </div>
                                                    <div class="span3" style="text-align:left;margin-left:20px;">
                                                        <div style="text-align:right;"><b>Product Recall</b></div>
                                                        <div><img src="{{ STATIC_URL }}theme1/img/engagement_perc.png" width="100%" /></div>
                                                    </div>
                                                </div>


                                                <div class="span11 offset1" style="margin-top:50px;">
                                                    <div class="span3" style="margin-left:20px;">
                                                        <div style="margin-bottom:10px;"><b>WE ARE RESULTS-ORIENTED</b></div>
                                                        <div>Our technologies dramatically increase engagement via retention time, brand recall, purchase intent and sharing. During this heightened state of engagement we look to convert to real action - whether that's sharing, data input, e-commerce or other actions.</div>
                                                    </div>
                                                    <div class="span3" style="margin-left:20px;">
                                                        <div style="margin-bottom:10px;"><b>WE ARE DATA DRIVEN</b></div>
                                                        <div>This isn't about placing overlays on a video. We share specific transmedia techniques regarding choice structure, timing and visual/audio cues proven to increase engagement. We collect all user data so you can monitor how viewers are responding to your content and analyze across all relevant dimensions.</div>
                                                    </div>
                                                    <div class="span3" style="margin-left:20px;margin-bottom:10px;">
                                                        <div style="margin-bottom:10px;"><b>WE ARE CREATIVE</b></div>
                                                        <div>We support all parts of the creative process – from script development to production. Our founders have started global entertainment companies, won Grammys and are thought leaders on the future of media. Let’s put that to work for you.</div>
                                                    </div>

                                                </div>


                                        </div>


				</div>
			</div>
		</section>
		<!-- End About Page -->

		
		<!-- Start Parallax -->
		<section id="parallax1">
			<div class="bg1"></div>
			<div class="pattern"></div>
			<div class="container">
				<div class="row-fluid">
				</div>
			</div>
		</section>
		<!-- End Parallax -->


		<!-- Product -->
		<section id="tech" class="page page-gray">
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
						<div class="title">Technology</div>
						<hr>
                                                <div class="lead" style="padding-right:0px;">We partner with agencies, production companies and publishers to deliver groundbreaking video solutions.</div>

                                                <div class="row-fluid">
							<div class="span6">
								<img src="{{ STATIC_URL }}theme1/img/product_fb.jpg" alt="" width="100%">
							</div>
							<div class="span4">
								<!-- Start Services List -->
								<div class="services visible-desktop" style="height:380px;padding:10px 40px 0px 20px;">
									<div class="services-title visible-desktop">Our services</div>
									<ul class="services-list">
										<li>Adventr&#8482; Integration</li>
										<li>Creative Services</li>
                                                                                <li>Production (+Pre/Post)</li>
                                                                                <li>Graphics</li>
                                                                                <li>Detailed Analytics</li>
                                                                                <li>Database/E-Commerce Integration</li>
                                                                                <li>White-labeled Player</li>
									</ul>
								</div>

								<div class="services hidden-desktop" style="height:235px;padding:10px 40px 0px 20px;">
									<div class="services-title visible-desktop">Our services</div>
									<ul class="services-list">
										<li>Adventr&#8482; Integration</li>
										<li>Creative Services</li>
                                                                                <li>Production (+Pre/Post)</li>
                                                                                <li>Graphics</li>
                                                                                <li>Detailed Analytics</li>
                                                                                <li>Database/E-Commerce Integration</li>
                                                                                <li>White-labeled Player</li>
									</ul>
								</div>
								<!-- End Services List -->
							</div>
						</div>


                                                <div class="lead" style="padding-right:0px;margin-bottom:30px;margin-top:50px;">Sample Use Cases:</div>

                                                <div class="span12" style="margin-left:0px;">

                                                    <div class="span12">
                                                        <div class="span4" style="margin-left:10px;">
                                                            <div><img src="{{ STATIC_URL }}theme1/img/usecase_znv.png" /></div>
                                                        </div>
                                                        <div class="span4" style="margin-left:10px;">
                                                            <div><img src="{{ STATIC_URL }}theme1/img/usecase_doctor.png" /></div>
                                                        </div>
                                                        <div class="span4 hidden-phone" style="margin-left:10px;">
                                                            <div><img src="{{ STATIC_URL }}theme1/img/usecase_people.png" /></div>
                                                        </div>
                                                    </div>

                                                    <div class="span12" style="margin-top:50px;">
                                                        <div class="span4" style="margin-left:10px;">
                                                            <div style="margin-bottom:10px;"><b>PERSONALIZED ADS</b></div>
                                                            <div style="padding-right:25px;">Advertisers and publishers increase engagement and click throughs dramatically by allowing viewers to be involved in their video content in real time. Customers interacting in this way watch your content up to 270% more. Why have customers just see the product, when you could have them choose it?</div>
                                                        </div>
                                                        <div class="span4" style="margin-left:10px;">
                                                            <div style="margin-bottom:10px;"><b>E-COMMERCE</b></div>
                                                            <div style="padding-right:22px;">Shopping comes to life when viewers can click or touch directly on video content, driving them immediately to purchase, registration or any other desired opportunities. Seize increased purchase intent to convert your viewers to customers instantly.</div>
                                                        </div>
                                                        <div class="span4" style="margin-left:10px;">
                                                            <div style="margin-bottom:10px;"><b>TRAINING/EDUCATIONAL</b></div>
                                                            <div style="padding-right:18px;">Interactive videos allow for far greater message penetration by leveraging real-time action – and then relaying its consequences. Employers and educators can then track individual and cohort performance across lesson areas.</div>
                                                        </div>

                                                    </div>

                                                </div> 

					</div>
				</div>
			</div>
		</section>
	
		
		<!-- Customize -->
		<section id="customize" class="page page-gray">
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
                                                <div class="title" style="text-align:center;">
                                                        We can customize your videos, via the Adventr&#8482; API, to interact with top e-commerce systems, databases and analytics packages.
                                                </div>
						<div class="row-fluid" style="text-align:center;margin-top:60px">
                                                        <img src="{{ STATIC_URL }}theme1/img/devices.png" /> 
						</div>
						<div class="row-fluid" style="text-align:center;margin-top:60px;">
                                                    <h2>
                                                        We Deliver <span class="color-text"><a href="/video" style="text-decoration:none;border-bottom:0;">Video as an Application&trade;</a></span>
                                                        <br/>
                                                        <br/>
                                                        To see more, <span class="color-text"><a href="#contact" style="border-bottom:none;">Contact Us</a></span>
                                                    </h2>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Customize -->

		<!-- Start Parallax -->
		<section id="parallax2">
			<div class="bg2"></div>
			<div class="pattern"></div>
			<div class="container">
				<div class="row-fluid">
				</div>
			</div>
		</section>
		<!-- End Parallax -->

			<!-- Start Parallax -->
		<section id="parallax2">
			<div class="bg3"></div>
			<div class="pattern"></div>
			<div class="container">
				<div class="row-fluid">
					<div class="span6 offset3">
						<div id="twitter-parallax" style="padding-top:23%;"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Parallax -->

		<!-- Start Contact Page -->
		<section id="contact" class="page" style="padding-bottom:20px;">
			<div class="container">
				<div class="row-fluid">
					<div class="span12">
						<div class="title center-title">Contact <span class="color-text">us</span></div>
						<hr>
						<div class="lead">Let's change the world.</div>
						<div class="row-fluid">
							<div class="span8">
                                                                <iframe width="100%" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=447+Broadway,+New+York&amp;ie=UTF8&amp;hq=&amp;hnear=447+Broadway,+New+York,+10013&amp;gl=us&amp;t=m&amp;z=15&amp;ll=40.722468,-74.001267&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=447+Broadway,+New+York&amp;ie=UTF8&amp;hq=&amp;hnear=447+Broadway,+New+York,+10013&amp;gl=us&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=40.720468,-74.001267&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
							</div>
							<div class="span4 address">
								<h5>Adventr</h5>
								<p>447 Broadway<br/>Floor 2<br/>New York, NY 10010<br/>(347) 541-3234</p>
								<hr class="gray">
								<h5>E-mail</h5>
								<p><a href="mailto:info@adventr.tv">info@adventr.tv</a></p>
								<hr class="gray">
								<h5>Follow Us</h5>
                                                                <a href="https://twitter.com/theochre" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @theochre</a>
                                                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

							</div>
						</div>

					</div>
				</div>
                        </div>
		</section>
		<!-- End Contact Page -->

		<section id="links" style="margin-bottom:20px;">
			<div class="container" style="text-align:center;">
                                    <h2><a href="/jobs">Jobs</a></h2>
                        </div>
                </section>
		
		<section id="copyright">
			© 2013 Adventr</a>.
		</section>

	
	</div>
	
	<script src="{{ STATIC_URL }}advntr/jquery-1.7.1.min.js"></script>
	<script src="{{ STATIC_URL }}theme1/js/jquery.easing.sticky.scrollTo.nav.selectnav.parallax.settings.js"></script>	
	<script src="https://api.twitter.com/1/statuses/user_timeline/theochre.json?callback=twitterCallback2&count=1"></script> <!-- Twitter Feed Username (change 'envato' to your username) -->
         <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

          $(document).ready( function() {


            var MOBILE = (navigator && ( navigator.userAgent.match(/Android/i)
                                 || navigator.userAgent.match(/webOS/i)
                                 || navigator.userAgent.match(/iPhone/i)
                                 || navigator.userAgent.match(/iPad/i)
                                 || navigator.userAgent.match(/iPod/i)
                                 || navigator.userAgent.match(/BlackBerry/i)
                                 ));

            if( MOBILE )
                $(".bg1,.bg2,.bg3").css('background-attachment', 'scroll');

          });

        </script> 

</body>

</html>
