<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ADVENTR - Interactive Video</title>
<!-- Load CSS -->
<link href="{{ STATIC_URL }}theme2/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}theme2/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<!-- Load Icon Font -->
<link href="{{ STATIC_URL }}theme2/css/webfont.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}advntr/ochre_font.css" rel="stylesheet" type="text/css" />
<!-- Load jQuery library -->
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery-ui.min.js"></script>
<!-- Load js -->
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/custom.js"></script>

<script>
    var STATIC_URL = '{{ STATIC_URL }}';

    // redirect since jotform won't work on https
    if (window.location.protocol != "http:")
        window.location.href = "http:" + window.location.href.substring(window.location.protocol.length);
</script>
<!-- iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


<meta property="fb:app_id" content="444928435575766">
<meta name="twitter:title"  content="Check out John Legend's Interactive piano lesson - 'All of Me'!! #adventr">

<meta property="og:description" content="Play along with John Legend's interactive piano lesson for "All of Me." #adventr" />
<meta property="og:image" content="http://d252srr1zuysk4.cloudfront.net/clients/ochre-1/307/jlfinalposter.png" />
<meta property="og:type" content="video" />
<meta property="og:video" content="https://d252srr1zuysk4.cloudfront.net/advntr/AdvntrPlayer.swf?referrer=facebook.com&no_js=1&options.instantPlay=1&x=http://static.theochre.com/clients/ochre-1/307/published/ochre-1-all-of-me-final-45449272.data" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:video:width" content="390" />
<meta property="og:video:height" content="219" />

<meta name="twitter:card" content="player">
<meta name="twitter:player" content="https://www.adventr.tv/embed.html?x=http://static.theochre.com/clients/ochre-1/307/published/ochre-1-all-of-me-final-45449272.data">
<meta name="twitter:player:width"  content="640">
<meta name="twitter:player:height" content="360">


<style>
#ui-id-1 {
    display:none;
}

.signupDialog {
    background-color:#333333;
    border:1px solid black !important;
    z-index:1000;
}

#signup_modal iframe {
    height:470px;
    width:454px;
    background-color:white;
    z-index:1000;
}

.ui-dialog-titlebar {
    background-color:#333333;
    color:white;
    border:0 !important;

}

.ui-dialog .ui-dialog-title { 
    overflow: visible !important; 
}



</style>
</head>
<!-- Start Body -->
<body>
	
	<!-- Start Logo -->
	<div class="nomobile logo"></div>
	<!-- End Logo -->


	<!-- Start Menu -->
	<div class="nomobile menu-wrapper color-bg">
		<h4><b>ENGAGE</b></h4>
		<span class="menu-global menu-top"></span>
		<span class="menu-global menu-middle"></span>
		<span class="menu-global menu-bottom"></span>
	</div>
	<ul class="menu black-bg">
		<li><a href="#home" class="active">Home</a></li>
                <li><a href="/accounts/login/">Log In</a></li>
		<li><a href="/signup">Sign Up</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#features">Features</a></li>
		<li><a href="#gallery">Gallery</a></li>
		<li><a href="/enterprise">Enterprise</a></li>
		<li><a href="/pricing">Pricing</a></li>
	</ul>
	<!-- End Menu -->

	<!-- Start Content -->
		<!-- Start Home -->
		<section>
			<a id="home"></a>
			<div class="herowrapper">
				<div class="herocap black-bg">ADVENTR IS</div>
				<div class="herocap black-bg highlight rotate color">ENGAGING, PERSONALIZED, SIMPLE</div>
				<div class="herocap black-bg rotate ">AND FUN,,AND EASY</div>
			</div>
		</section>
		<!-- End Home -->


		<section class="black-bg">
                    <a id="about"></a>
                        <img src="{{ STATIC_URL }}theme2/img/AboutGraphic2.png" />
                        <br/>
                        <br/>
                        <a id="jl"></a>
                        <iframe class="nomobile" src="http://static.theochre.com/embed.html?x=http://static.theochre.com/clients/ochre-1/6612/published/ochre-1-food-revolution-day-26534615.data" width="640px" height="360px" frameborder="0" style="overflow:hidden" scrolling="no" allowFullscreen></iframe>
        </section>

		<!-- Start About -->
		<section class="black-bg">
			<p><b>Previously available only to professionals, Adventr is now open to everyone. You’re welcome.</b></p>
                        <p>Adventr is the simple platform for creating and sharing interactive, web-native video experiences. Just drag & drop your clips to create seamless, personalized HD videos in which viewers can interact and choose their own paths - in real time. Share your adventrs on Adventr.tv, your website, video networks or social media - for free!</p>

			<h2 class="nomobile">Get a glimpse of <b>the future</b> below</h2>

                        <p>
                            <iframe class="nomobile" src="http://static.theochre.com/embed.html?source=embed&load=0&poster=//d252srr1zuysk4.cloudfront.net/clients/ochre-1/298/promocover3.png&width=640&height=360&x=http://static.theochre.com/clients/ochre-1/298/published/ochre-1-promo-video-clean-64631348.data" width="640px" height="360px" frameborder="0" style="overflow:hidden" scrolling="no" allowFullscreen></iframe>
      
                        </p>
                            
                </section>
		<!-- End About -->

		<!-- Start Features -->
		<section>
			<a id="features"></a>
			<h2>We've got you covered. From A to Z.</h2>
			<div class="features-wrapper">
				<div class="feature">
                                        <div class="fs1 ochreicon-youtube" aria-hidden="true"></div>
					<!-- <div data-icon="&#xe046;" class="icon"></div> -->
					<h3 style="margin-top:6px">Open Platform</h3>
					<p><i>Adventrs</i> are designed to play anywhere – on your Adventr page, blogs, Twitter, Facebook, ad networks and VPAID players.
</p>
				</div>
				<div class="feature">
                                        <div class="fs1 ochreicon-stats" aria-hidden="true" style="font-size:6em"></div>
					<!-- <div data-icon="&#xe026;" class="icon"></div> -->
					<h3>Actionable Analytics</h3>
					<p>Find out how every site which features your video is performing and how people are responding. Instantly.<br/><br/></p>
				</div>
				<div class="feature">
                                        <!-- <div class="fs1 ochreicon-share" aria-hidden="true"> </div> -->
					<div data-icon="&#xe082;" class="icon"></div>
					<h3>Creative Support</h3>
					<p>Need creative help? Our creative team has years of experience at top digital agencies, from content development to production & customized apps. Let’s talk!</p>
				</div>
			</div>
			<h2 class="dots"></h2>
			<div class="button-wrapper bottom">
				<a class="button download" href="/signup">SIGN UP</a> <!-- target="_blank" href="#signup" -->
			</div>
		</section>
		<!-- End Features -->

		<!-- Start Gallery -->
		<section class="natural slider">
			<a id="gallery"></a>
			<!-- Start Slider -->
			<div class="slider-wrapper">
				<div class="slider-frame">
					<ul class="slider-items">
						<li>
							<div class="slider-item" style="background-image:url({{ STATIC_URL }}theme2/img/gallery1.jpg);"></div>
							<div class="caption">Drop dead simple interface. Anyone can start creating adventrs today.</div>
							<div class="clear"></div>
						</li>
						

					</ul>
				</div>
				<div class="arrow-wrapper">
				<div class="slider arrow next"></div>
				<div class="slider arrow prev"></div>
				</div>
			</div>
			<!-- End Slider -->
		</section>
		<!-- End Gallery -->

		<!-- Start Sign Up -->
		<section class="natural">
			<a id="signup"></a>
			<p><br/></p>
			<p><br/></p>
			<p><br/></p>
                        <a href="/signup" class="button download " style="font-size:40px;color:#666666;background-color:white;">Sign up <b>now</b>.</a>
			<p><br/></p>
			<div class="signup">
                                <br/>
                                <br/>
                                <br/>
			</div>
			<div class="clear"></div>
			<p class="more signup-more"><br/><br/><br/></p>
		</section>
		<!-- End Sign Up -->

	<!-- End Content -->

	<!-- Start Social -->
	<div class="social-wrapper">
		<a href="mailto:info@adventr.tv" class="social color-bg mail" target="_blank"></a>
		<a href="https://twitter.com/GoAdventr" class="social color-bg twitter" target="_blank"></a>
	</div>
	<!-- End Social -->
	
	<!-- Start Preload -->
	<img class="hidden" alt="hidden" src="{{ STATIC_URL }}theme2/img/bg_blur.jpg">
	<!-- End Preload -->

         <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>

        <script>
            var MOBILE = (navigator && ( navigator.userAgent.match(/Android/i)
                                 || navigator.userAgent.match(/webOS/i)
                                 || navigator.userAgent.match(/iPhone/i)
                                 || navigator.userAgent.match(/iPod/i)
                                 || navigator.userAgent.match(/BlackBerry/i)
                                 ));

            

            if( MOBILE ) {
                var els = document.getElementsByClassName('nomobile');
                for( var i = 0; i < els.length; i++)
                    els[i].style.display = 'none';
            }

        </script>
</body>
<!-- End Body -->
</html>
