<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Adventr - Interactive Video</title>
	<meta name="description" content="Adventr">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
	<!-- Import CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}theme1/css/base.css">
	<!--[if lt IE 10]>
		<link href= "{{ STATIC_URL }}theme1/css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <style>
           
           ul,li{ margin-left:15px; }

           #jobs a {
            color: #333333; 
            text-decoration:none;
           }


           .job {
                border-bottom:none;
           }


        </style>
	<script src="{{ STATIC_URL }}advntr/jquery-1.7.1.min.js"></script>

        <script>

            $(document).ready( function() {

                $('a', '.joblinks').on('click', function() {
                    var href = $(this).attr('href');
                    var name = href.substring(1, href.length);
                    $('.job').css('background-color', 'white');
                    $("a[name='" + name + "']").css('background-color', '#e1be2b');
                });
            });

        </script>

</head>

<body>

        <nav id="mainnav">
                <div class="container">
                        <div class="row">
                                <div class="span4" style="padding-top:15px;">
                                        <a href="/"><img src="{{ STATIC_URL }}theme1/img/ochrelogo_head.png" alt="Adventr" /></a>
                                </div>
                                <div class="span8">
                                        <ul id="fluid-nav" class="fluid-navigation visible-desktop">
                                                <li><a href="/#about">About Us</a></li>
                                                <li><a href="/#product">Technology</a></li>
                                                <li><a href="/#contact">Contact</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </nav>


        <!------------------------------ -------------------------->

        <section id="jobs" class="page-gray">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <br/>
                        <div class="title">Jobs</div>
                        <hr>

                        <div class="lead">Lets change the world</div>

                        Adventr is an NYC-based media startup. We are a new, growing company building an online video network giving content makers the ability to create interactive videos where viewers can make decisions on the outcome of the story - seamlessly and in real-time. We partner with ad networks, agencies, and big name brands to bring this content to as many viewers as possible.<br/><br/>
                        Founded by Grammy-winning producer <a href="http://en.wikipedia.org/wiki/Devo_Springsteen" target="_blank">Devon Harris</a>, Adventr is not just about 0s and 1s. It’s about embracing technology to enable our partners to tell stories in meaningful ways never before possible. It’s about changing the video medium from a 1-way presentation to a 2-way conversation. It’s about changing culture and our expectations of content.<br/><br/>
                        We are a seed-funded startup (including celebrity investors) currently closing a round with top tier institutional investors.
                        <br/>

                        <br/>
                        <br/>
                        <b>Current Openings:</b>
                        <ul class="joblinks">
                            <li><a href="#bizdev1">Business Development Lead</a></li>
                            <li><a href="#backend">Software Engineer - Backend</a></li>
                            <li><a href="#frontend">Software Engineer - Frontend and UI/UX</a></li>
                            <li><a href="#internship">Software Engineering Internship - Fall 2013</a></li>
                        </ul>
                        <br/>

                        <!-- ------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------ -->

                        <h3><a name="bizdev1" class="job">Business Development Lead</a></h3>
                        The Business Development Lead is a key driver within our sales team, working closely with agencies, networks and brands to advance their objectives in digital video. The BD Lead will have experience in digital media and/or technology solution sales and will deal with not only sourcing and negotiating ad/media sales but also broader licensing partnerships. The role requires an understanding of the complexities of digital ad spends and technological aspects of executing digital campaigns. The BD Lead will be able to generate and qualify leads, manage a book of business, make effective sales presentations, negotiate contracts and close deals. Maintaining solid customer relationships and providing outstanding customer service is a must.<br/>
                        <br/>
                        <b>Responsibilities</b> <br/>
                        <ul>
                            <li>Help make our product more fun and valuable to our customers</li>
                            <li>Build and manage relationships with the top creative and media agencies</li>
                            <li>Schedule and deliver sales presentations both in person and over the phone/email</li>
                            <li>Review, negotiate, and close contracts and opportunities</li>
                            <li>Listen to customer feedback and help integrate solutions into product offering</li>
                            <li>Attend industry events, entertain, network and be fully immersed in the NYC and California digital scene</li>
                            <li>Work at a partnership/consultative level as an expert in interactive video implementation</li>
                            <li>Work with your account manager to deepen relationships, understand long term client needs and renew business</li>
                        </ul>
                        <b>Requirements</b> <br/>
                        <ul>
                            <li>At least 3-5 years online sales experience; preferably in online video advertising, rich media or ad tech</li>
                            <li>Complete understanding of online advertising processes/cycles and how decisions are made</li>
                            <li>Understanding of how media, analytics and creative all work in concert to drive opportunity</li>
                            <li>Ability to manage multiple accounts and projects concurrently</li>
                            <li>Strong computer skills, Salesforce.com, as well as technical understanding of digital campaign analytics</li>
                            <li>Highly organized, extremely detail-oriented, and ability to multi-task</li>
                        </ul>
                        <br/>
                        If interested, contact <a href="mailto:jobs@adventr.tv">jobs@adventr.tv</a> with resume and any other relevant details and we’ll connect from there!
                        <br/>
                        <br/>
                        <br/>

                        <!-- ------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------ -->

                        <h3><a name="backend" class="job">Software Engineer - Backend</a></h3>
                        We’ve developed an online video-editing suite and API-based delivery platform to build dynamic content for the web and TV. You'll have the opportunity to help scale the system to meet with our fast-climbing demand. You’ll do things on a high level such as:<br/>
                        <ul>
                            <li> Integrate our playback system with ad serving partners (Aol, Youtube, Spotify, etc.)</li>
                            <li> Help scale our video consumption and playback system</li>
                            <li> Integrate with relevant e-commerce and social network backends</li>
                            <li> Continue to scale out our analytics platform</li>
                            <li> Help make our product more fun and valuable to our customers</li>
                        </ul>
                        <br/>
                        We offer competitive compensation packages including generous equity options.
                        <br/>
                        <br/>
                        <b>Requirements</b> <br/>
                        <ul>
                        <li> 3+ years experience building products for fast growing web or mobile products</li>
                        <li> Minimum 3+ years of experience with Python/Django, Ruby/Rails, or similar web frameworks</li>
                        <li> Extensive knowledge of Linux/Unix command line and system tools.</li>
                        <li> Experience with Hadoop or another map reduce platform a plus</li>
                        <li> BS or MS in Computer Science or related field preferred</li>
                        <li> Comfortable in a small, intense and high growth start up environment</li>
                        <li> Passion for media & fun!</li>
                        </ul>
                        <br/>
                        If interested, contact <a href="mailto:jobs@adventr.tv">jobs@adventr.tv</a> with resume and any other relevant details and we’ll connect from there!
                        <br/>
                        <br/>
                        <br/>

                        <!-- ------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------ -->

                        <h3><a name="frontend" class="job">Software Engineer - Frontend and UI/UX</a></h3>
                       Our cross-platform solution combines an online video-editing suite with dynamic video players for desktop and mobile.  We're looking for developers with serious Javascript and UI chops utilizing jQuery and other frameworks to build the next generation video content.<br/>
                        <ul>
                            <li> Integrate our playback system with ad serving partners (Aol, Youtube, Spotify, etc.)</li>
                            <li> Develop new features for our browser-based video editing suite.</li>
                            <li> Integrate user data with our analytics platform</li>
                            <li> Bonus points for experience with Flash/ActionScript3 and/or HTML5 video</li>
                            <li> Help make our product more fun and valuable</li>
                        </ul>
                        <br/>
                        We offer competitive compensation packages including generous equity options.
                        <br/>
                        <br/>
                        <b>Requirements</b> <br/>
                        <ul>
                        <li> 3+ years experience with modern frontend web development</li>
                        <li> Extensive experience with jQuery, CSS</li>
                        <li> Bonus points for experience with backbone.js, Flash/ActionScript3 and/or HTML5 video</li>
                        <li> BS or MS in Computer Science or related field preferred</li>
                        <li> Comfortable in a small, intense and high growth start up environment</li>
                        <li> Passion for media & fun!</li>
                        </ul>
                        <br/>
                        If interested, contact <a href="mailto:jobs@adventr.tv">jobs@adventr.tv</a> with resume and any other relevant details and we’ll connect from there!
                        <br/>

                        <!-- ------------------------------------------------------------------------ -->
                        <!-- ------------------------------------------------------------------------ -->


                        <h3><a name="internship" class="job">Software Engineering Internship - Fall 2013</a></h3>
                        You will work closely with our engineering team to develop the next generation in online video.  You'll have the ability to work on projects that immediately affect our clients and partners in the media and advertising industries.<br/>
                        <br/>
                        We use Python/Django for web server side tasks and a host of other technologies to get the job done.  Our custom video delivery system utilizes the latest in HTML5 video (and Flash where appropriate) for web and mobile devices.  The successful candidate will have the ability to touch all areas of our client and server technology solutions.
                        <br/>
                        <br/>
                        <b>Requirements</b> <br/>
                        <ul>
                            <li>Enrolled in a CS program, or related discipline at a 4-year school</li>
                            <li>Knowledge of the Python programming language preferred or similar server-side dynamic languages</li>
                            <li>Knowledge of Django web framework or similar frameworks for other languages.</li>
                            <li>Basic knowledge of Linux/Unix command line and ssh.</li>
                            <li>Ability to learn quickly and work independently</li> 
                        </ul>

                        <br/>
                        Stipend available for qualified applicants
                        <br/>
                        Send your resume to  <a href="mailto:jobs@adventr.tv">jobs@adventr.tv</a>
                        <br/>
                        <br/>
                        <br/>


                    </div>
                </div>
            </div>
        </section>


        <section id="copyright">
                © 2013 Adventr</a>.
        </section>

</body>
</html>
