<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<title>Ochre - Interactive Video</title>
	<meta name="description" content="Ochre">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	
	<!-- Import CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}theme1/css/base.css">
	<!--[if lt IE 10]>
		<link href= "{{ STATIC_URL }}theme1/css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

        <style>
           
           ul,li{ margin-left:15px; }

           #jobs a {
            color: #333333; 
           }
            

        </style>

</head>

<body>

        <nav id="mainnav">
                <div class="container">
                        <div class="row">
                                <div class="span4" style="padding-top:15px;">
                                        <a href="/"><img src="{{ STATIC_URL }}theme1/img/ochrelogo_head.png" alt="OCHRE" /></a>
                                </div>
                                <div class="span8">
                                        <ul id="fluid-nav" class="fluid-navigation visible-desktop">
                                                <li><a href="/#about">About Us</a></li>
                                                <li><a href="/#product">Technology</a></li>
                                                <li><a href="/#contact">Contact</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </nav>


        <!------------------------------ -------------------------->

        <section id="video" class="page-gray">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <br/>

                        <div class="lead">What is <i>Video as an Application</i></div>
                        <hr/>

                        <h2 style="letter-spacing:0px;text-transform:none;">Until now, media has consisted of static widgets – CDs, mp3s, .movs, jpegs, etc.<br/><br/>

                        Due to increases in bandwidth, computing power, data and user savvy, media will be defined as relationships between content, databases, users and apps – customized for each consumer and driven by software.</h2><br/>

                        
                    </div>
                </div>
            </div>
        </section>


        <section id="copyright">
                © 2013 Ochre</a>.
        </section>

	<script src="{{ STATIC_URL }}advntr/jquery-1.7.1.min.js"></script>
	<script src="{{ STATIC_URL }}theme1/js/jquery.nav.js"></script><!-- One Page Navigation -->
	<script src="{{ STATIC_URL }}theme1/js/selectnav.min.js"></script><!-- Mobile Navigation -->
</body>
</html>
