<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ADVENTR - Interactive Video</title>
<!-- Load CSS -->
<link href="{{ STATIC_URL }}theme2/css/style.css" rel="stylesheet" type="text/css" />
<!-- Load Icon Font -->
<link href="{{ STATIC_URL }}theme2/css/webfont.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}theme2/../advntr/ochre_font.css" rel="stylesheet" type="text/css" />
<!-- Load jQuery library -->
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/jquery-ui.min.js"></script>
<!-- Load js -->
<script type="text/javascript" src="{{ STATIC_URL }}theme2/js/custom.js"></script>
<!-- iOS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<style>

section p {
font-size:20px;
width: auto;

}

.logo {
    left: 5px;
}

</style>
</head>
<!-- Start Body -->
<body>
	
	<!-- Start Logo -->
	<div class="logo"></div>
	<!-- End Logo -->

	<!-- Start Menu -->
	<div class="menu-wrapper color-bg">
		<h4><b>ENGAGE</b></h4>
		<span class="menu-global menu-top"></span>
		<span class="menu-global menu-middle"></span>
		<span class="menu-global menu-bottom"></span>
	</div>
	<ul class="menu black-bg">
		<li><a href="/#home" class="active">Home</a></li>
		<li><a href="/#about">About</a></li>
		<li><a href="/#features">Features</a></li>
		<li><a href="/signup">Sign Up</a></li>
	</ul>
	<!-- End Menu -->

	<!-- Start Content -->
		<!-- Start Home -->
		<section class="black-bg">
                    <div style="width:820px;margin-left:auto;margin-right:auto;">
                        <img src="{{ STATIC_URL }}theme2/img/EnterpriseGraphic.png" style="width:800px" /><br/>
                        <img src="{{ STATIC_URL }}theme2/img/compatibility.png" />
                    </div> 
                </section>
		<!-- End Home -->

		<!-- Start About -->
		<section class="black-bg">
                    <img src="{{ STATIC_URL }}theme2/img/CaseStudyGraphic.png" style="width:75%;"/>
                </section>
		<!-- End About -->

		<!-- Start Features -->
		<section>

                    <img src="{{ STATIC_URL }}theme2/img/CreativeServicesGraphic.png" style="width:800px" /><br/><br/>

                    <iframe src="/embed.html?x=/static/advntr/assets/spiderman/spiderman.data&poster=http://static.theochre.com/advntr/assets/spiderman/poster.jpg&altMp4=http://static.theochre.com/advntr/assets/spiderman/LinearSpiderman-mobile-baseline.mp4" width="640px" height="272px" frameborder="0" allowFullscreen></iframe>
                    <br/>
                    <img src="{{ STATIC_URL }}theme2/img/CreativeSvcs2UnderSpiderman.png" style="width:800px" />
                    <br/>
                    <br/>

                        <img src="{{ STATIC_URL }}theme2/img/compatibility.png" />
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <a class="button download" style="color:#666666;background-color:white;" href="mailto:info@adventr.tv">CLICK TO GET IN TOUCH</a> 
                    <br/> <br/>
                    <br/> <br/>
                    <br/> <br/>
                    </center>
                </div>
                        
                </section>
		<!-- End Features -->

	<!-- End Content -->

	<!-- Start Social -->
	<div class="social-wrapper">
		<a href="mailto:info@adventr.tv" class="social color-bg mail" target="_blank"></a>
		<a href="https://twitter.com/GoAdventr" class="social color-bg twitter" target="_blank"></a>
	</div>
	<!-- End Social -->
	
	<!-- Start Preload -->
	<img class="hidden" alt="hidden" src="{{ STATIC_URL }}theme2/img/bg_blur.jpg">
	<!-- End Preload -->

         <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-39894901-2']);
              _gaq.push(['_setDomainName', 'www.adventr.tv']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
</body>
<!-- End Body -->
</html>
