<?xml version="1.0" encoding="UTF-8" standalone="no"?>
{% load tags %}
<VAST version="2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd">
    <Ad id="{{ config.campaign.ad_id }}">
        <InLine>
            <AdSystem version="2.0">ADVNTR</AdSystem>
            <AdTitle>{{ config.name }}</AdTitle>
            <Description>Interactive Video</Description>
            <Survey></Survey>

            <Error><![CDATA[{{ HTTPS_DOMAIN }}/vast_events/?client={{ config.campaign.clientId }}&campaign={{ config.campaign.campaignId }}&version={{ config.campaign.campaignVersion }}&type=error&code=[ERRORCODE]]]></Error>

            <Impression id="ochre"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"impression,impression" }}]]></Impression>

            <Creatives>

                <Creative sequence="1" AdID="{{ config.campaign.ad_id }}">

                    <Linear>

                        <Duration>{% if config.campaign.avg_duration %}{{ config.campaign.avg_duration }}{% else %}00:02:00{% endif %}</Duration>

                        <TrackingEvents>
                            <Tracking event="start"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,start" }}]]></Tracking>
                            <Tracking event="complete"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,complete" }}]]></Tracking>
                            <Tracking event="mute"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,mute" }}]]></Tracking>
                            <Tracking event="unmute"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,unmute" }}]]></Tracking>
                            <Tracking event="pause"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,pause" }}]]></Tracking>
                            <Tracking event="fullscreen"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,fullscreen" }}]]></Tracking>

                            <Tracking event="firstQuartile"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,firstQuartile" }}]]></Tracking>
                            <Tracking event="midpoint"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,midpoint" }}]]></Tracking>
                            <Tracking event="thirdQuartile"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,thirdQuartile" }}]]></Tracking>

                            <Tracking event="rewind"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,rewind" }}]]></Tracking>
                            <Tracking event="resume"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,resume" }}]]></Tracking>
                            <Tracking event="creativeView"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,creativeView" }}]]></Tracking>
                            <Tracking event="acceptInvitation"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data|to_mixpanel_event:"linear,acceptInvitation" }}]]></Tracking>

                        </TrackingEvents>

                        <VideoClicks>
                            <ClickThrough><![CDATA[{{ config.options.clickThrough }}]]></ClickThrough>
                            <ClickTracking id="ochre_click1"><![CDATA[https://api.mixpanel.com/track/?ip=1&img=1&data={{ mixpanel_event_data_click_tracking|to_mixpanel_event:"linear,clickTracking" }}]]></ClickTracking>
                        </VideoClicks> 

                        <AdParameters>
                            <![CDATA[x={{ config_url }}&width={{ config.width }}&height={{ config.height }}&options.instantPlay=0]]>
                        </AdParameters>

                        <MediaFiles>
                            <MediaFile id="video" apiFramework="VPAID" delivery="progressive" width="640" height="390" type="application/x-shockwave-flash">
                                <![CDATA[http:{{ STATIC_URL }}advntr/AdvntrVPAID.swf]]>
                            </MediaFile>
                        </MediaFiles>


                    </Linear>

                </Creative>

            </Creatives>

        </InLine>
    </Ad>
</VAST>
