{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'ADVNTR admin' %}{% endblock %}


{% block branding %}
<style>
    #header {
        background-color:#e1be2b; 
        color:#333333;
    }

    #header a,#branding h1, #header a:link, #header a:visited, a.section:link, a.section:visited  {
        color:#333333; 
    }

    .module h2, .module caption, .inline-group h2 {
        background:initial;
        background-color:#e1be2b; 
        color:#333333; 
    }


</style>
<h1 id="site-name">{% trans 'ADVNTR administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
