a, a:hover {
    color:#333333;
    text-decoration:none;
}

@font-face {
	font-family: 'ochreicons';
	src:url('../fonts/ochreicons.eot') format('embedded-opentype');
	src:url('../fonts/ochreicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ochreicons.woff') format('woff'),
		url('../fonts/ochreicons.ttf') format('truetype'),
		url('../fonts/ochreicons.svg#ochreicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ochreicons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ochreicon-"] {
*/
.ochreicon-warning, .ochreicon-pencil, .ochreicon-film, .ochreicon-file, .ochreicon-cog, .ochreicon-stats, .ochreicon-bars, .ochreicon-meter2, .ochreicon-share, .ochreicon-youtube, .ochreicon-youtube-2, .ochreicon-question, .ochreicon-move-vertical, .ochreicon-move-horizontal, .ochreicon-spinner {
	font-family: 'ochreicons';
	speak: none;
        display:inline-block;
        font-size:18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ochreicon-warning:before {
	content: "\e000";
}
.ochreicon-pencil:before {
	content: "\e001";
}
.ochreicon-film:before {
	content: "\e003";
}
.ochreicon-file:before {
	content: "\e004";
}
.ochreicon-cog:before {
	content: "\e005";
}
.ochreicon-stats:before {
	content: "\e006";
}
.ochreicon-bars:before {
	content: "\e007";
}
.ochreicon-meter2:before {
	content: "\e008";
}
.ochreicon-share:before {
	content: "\e009";
}
.ochreicon-youtube:before {
	content: "\e00a";
}
.ochreicon-youtube-2:before {
	content: "\e002";
}
.ochreicon-question:before {
	content: "\e00b";
}
.ochreicon-move-vertical:before {
	content: "\e00c";
}
.ochreicon-move-horizontal:before {
	content: "\e00d";
}
.ochreicon-spinner:before {
	content: "\e00e";
}

.accountsBase .dropdown-menu>li>a:hover, .accountsBase .dropdown-menu>li>a:focus, .accountsBase .dropdown-submenu:hover>a, .accountsBase .dropdown-submenu:focus>a {
    background-image: linear-gradient(to bottom, #e7c949, #e7c949);
    color: #555555 !important;
}

.accountsBase .btn-primary:hover, .accountsBase .btn-primary:focus, .accountsBase .btn-primary:active, .accountsBase .btn-primary.active, .accountsBase .btn-primary.disabled, .accountsBase .btn-primary[disabled] {
    color: #555555;
    background-color: #CFA600;
}

.accountsBase button:focus, .accountsBase input:focus {
    outline: 0 !important;
}

#mini-nav .btn-mini {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.fs1 {
    font-size:2.5em;
    color:#d7ad03;
    text-decoration:none;
    margin-bottom:3px;
}


.form-horizontal .control-group {
    margin-bottom: 1px;
}


.asset-section {
    font-size:18px;
    margin-top:15px;
    clear:left;
}

.funnelHR {
     width:100%;
     border-color:#cccccc;
     border-bottom:transparent;
     margin:0px;
}

.select2-search {
    display:none;
}

.select2-container {
    width:200px !important;
}

.select-img {
    max-width:80px;
    max-height:25px;
    margin-right:3px;
}

#assetsButton a {

    color:#eee;
    padding:3px;
    text-decoration:none;

}


#editPane {
    position:relative;
    padding-right:4px;
}

.editPaneBorder {
    border-right:1px solid #b3b3b3;
}

.assetsPane {
    height:100%;
    margin-left:4px !important;
}

.assetsPane .tab-content {
    overflow:initial !important;
}

#contentDiv {
    background-color:#fafafa;
    overflow:inherit;
    height:100%;
    min-height:900px;
}

#adventr_alerts {
    display:inline-block;
}

table.choiceTable > tbody > tr > td:first-child {
    width:100px;
    text-align:right;
    vertical-align:middle;
    padding-right:5px;
}

.zoomablePane {
    position:relative;
}

#zoomControls {
    background-color:#cccccc;
    position:absolute;
    top:48px;
    left:2px;
    font-size:17px;
    z-index:1000;

    outline: none;
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);

    display:none;
}


#zoomControls button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: rgba(255,255,255,1);
    display: block;
    height: 29px;
    overflow: hidden;
    cursor: pointer;
    width: 29px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -webkit-transition-duration: 0.16s;
    -webkit-transition-property: background-color;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.16s;
    transition-property: background-color;
    transition-timing-function: ease-out;

    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom:1px;

    outline-style: none;
}


.zoom-in {
    display: block;
    height: 15px;
    width: 15px;
}

.zoom-out {
    margin-top:1px;
    display: block;
    height: 15px;
    width: 15px;
}



#assetsButton {
    position:absolute;
    top:250px;
    right:0px;
    font-size:17px;
    background-color:#b3b3b3;
    z-index:1000;
}

.dataEmpty {
    color:#bdbcbc;
    line-height:initial;
    text-align:center;
    width:100%;
    height:100%;
    font-size:38px;
    padding-top:3%;
    line-height:1.5em;
}

.dropZoneHelp {
    display:none;
    color:#bdbcbc;
    line-height:initial;
    position:absolute;
    top:15%;
    left:2%;
    text-align:left;
    width:100%;
    height:100%;
    font-size:55px;
}

.opacity75 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity:.75;
}

.dropZoneEnabled {
    border:3px dotted #999999;
}



.asset-storage {
    padding-top:5px;
    padding-left:10px;
}

.nav-left {
    list-style:none;
    margin:0px 0px;
}



.nav-left li {
    padding-top:15px;
    padding-bottom:10px;
    border-bottom:1px solid #555555;

}

.nav-left li:hover {
    background-color:#494949;

}

.nav-left a {
    color: #eeeeee;
}

.tab-text {
    display:inline-block;
    vertical-align:top;
    padding-top:0px;
    padding-left:4px;

}

.container-fluid {
    padding-left:0px;
}

.ellipsisOverflow, .upload_asset_label
{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#assets {
    background-color:#fafafa;
}

#assets .tabbable {
    overflow-x:hidden;
    overflow-y:auto;
    height:700px;
}

.assetTile
{
    cursor:move;

    padding:0px !important;
    text-align:center;
    float:left;
    position:relative;

    z-index: 30;

    width:32%;
    height:61px;
    max-width:100px;
    height:61px;
    overflow:hidden;

    margin-right:2px;
    margin-bottom: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.assetTile img {
    max-height:61px;
}

.assetTile .progress
{
    width:86px;
    height:12px;

    font-size:10px;
    padding-left:0px;
    overflow:visible;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tabImages .assetTile {
    cursor: initial !important;
}

.assetTileRemaining {
    position:absolute;
    color:#e30303;
    font-weight:bold;
    font-size:11px;

}

.assetTile .progress .bar
{
    background-color: #e7c949;
    background-image: -moz-linear-gradient(top,#e7c949,#ddbb43);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e7c949),to(#ddbb43));
    background-image: -webkit-linear-gradient(top,#e7c949,#ddbb43);
    background-image: -o-linear-gradient(top,#e7c949,#ddbb43);
    background-image: linear-gradient(to bottom,#e7c949,#ddbb43);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7c949',endColorstr='#ffddbb43',GradientType=0);*/
}

.upload_asset_bg
{
    z-index: 2;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    overflow: hidden;
    height: 22px;
}

.upload_asset_label
{
    font-size:10px;
    position:absolute;
    bottom:2px;
    right:0px;
    color:#fff;
    text-align:right;
    z-index:3;
    font-weight:bold;
    width:100%;
}

.upload_asset_label .icon-play-circle {
    margin-top:-1px;
}




        html, body {
            height: 100%;
        }


        .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus {
            color: #333;
        }

        .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
            color:#333333;
            background-color:#fafafa;
        }

        .nav-tabs .bootstrap-select:not([class*="span"]) {
            width: 170px;
        }

        .nav-tabs .btn {
            height: 37px;
        }

        .nav-tabs>li>a {
            color:#333;

        }

        .nav .dropdown-toggle .caret {

            border-top-color: #333;
            border-bottom-color: #333;


        }

        .navbar-inverse .navbar-inner {
            border-color: #333333;
            background-image: linear-gradient(to bottom,#111,#262626);
            padding-left:0px;

            height: 70px;
        }

        body {
            margin: 0;
            font: normal 12px arial, sans-serif;
            line-height: 18px;
            color: #333333;
            background: #131313;
        }

        header {
            height: 75px;
            vertical-align: middle;
            background-color:#f1f1f1;
        }


        header #mini-nav {
            float:right;
            line-height:.5em;

            margin: 21px 0px 0 0;
            height: 28px;
            line-height: 32px;

            background: #484747;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }

        .white-caret
        {
            border-top-color: #cccccc !important;
            border-bottom-color: #cccccc !important;
        }

        header #mini-nav ul {
            list-style:none;
            margin:0px 10px 0px 10px;

            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        header #mini-nav a {
            text-decoration: none;
            cursor: pointer;
            color: #cccccc;
        }

        header #mini-nav .dropdown {
            padding-top:4px;
        }

        .dashboard-wrapper {
            padding:5px 10px 5px 5px;
            position:relative;
            top:64px;
            /* margin:0px 0px 0px 100px; */
            background-color: #fafafa;
            width:100%;
            min-height:1060px;
        }

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #666666 !important;
}

#funnel {
    position:relative;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
}

.data-funnel .upload_asset_bg {
    /* height:39px; */
    height:22px;
}

#auto_saved {
    display:block;
    float:left;
    font-size:10px;
    font-style:italic;
    padding-top:5px;
    padding-right:4px;
}

#funnel a {
    color:#333333;
    text-decoration:none;

}

.previewText {
    float:right;
    margin-right:10px;
    font-size:11px;
    font-style:italic;
    color:white;
}

#previewDialog .modal-footer {
    background-color:#333333;
    border:0px;

    -moz-box-shadow:initial;
    box-shadow:initial;
}

.loadingSpinner {
    position:absolute;
    top:50%;
    display:none;
}

.loadingSpinnerDiv {
    background-image: url("../advntr/assets/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    height:20px;
    width:20px;
}

.clipDark {
    color:#333333;
}

.clipTile .loading-image {
    background-image: url("../advntr/assets/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height:20px;
    width:20px;
    top: 38%;
    position: absolute;
    left: 44%;
    z-index:20;
}

.assetTile .loading-image {
    background-image: url("../advntr/assets/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height:20px;
    width:20px;
    padding:1% 40% 40% 37%;
}

#funnel .label {
    background-color:transparent;
    color:#333333;
    padding-left:6px;
    font-size:10px;
}

#funnel .section {
    width:300px;
    height:100%;
    float:left;
}

.clipTile {
    width:150px;
    z-index:24;
    margin-bottom:25px;
    min-height:86px;
    background-color:#eeeeee;
    text-align:center;

    box-shadow: 0 5px 7px rgba(0,0,0,0.3);
    -o-box-shadow: 0 5px 7px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 5px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.3);
}

.clipTile.ui-state-hover {
  border: 3px solid #cc3333;
}

.clipTileEnabled {
    border: 3px solid #cc3333;
}

.clipTile img {

    max-width:150px;
    max-height:120px;
}

.clipTileInfoBg {
    height: 22px;
    width: 54px;
    right: 0px;
    bottom: 22px;
}

.clipHelp {
    height: 22px;
    width: 58px;
    right:3px;
    bottom:40px;
    text-align:right;
    font-size:10px;
    color:#ffffff;
    display:none;
    position: absolute;
    font-weight:bold;
    text-align: right;
    z-index:3;
}

.clipHelpBg {
    height: 22px;
    width: 58px;
    right:0px;
    bottom:44px;
    color:#ffffff;
    z-index:2;
}

.clipTileInfoBg, .clipHelpBg {
    display:none;
   filter: alpha(opacity=50);
   opacity: 0.5;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    z-index: 2;
    background-color: #000;


    position: absolute;

    text-align: right;
    overflow: hidden;

}



.clipTileInfo {
    display:none;
    position:absolute;
    bottom:23px;
    right:3px;
    font-weight:bold;
    z-index: 3;
}

.gradientButton {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 12px;
    line-height: 22px;
    font-weight: normal;
    -webkit-user-select: none;
    border: 1px solid #b3b3b3;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    background-color: rgb(246, 246, 246);
    background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(238, 238, 238));
    background-repeat: repeat-x;
}

#save-modal {
    background-color:initial;
    text-align:center;
    color:#e1be2b;
    font-weight:bold;
    border:0px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#save-modal img
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.0s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.save-loading
{
    position:absolute;
    top:50%;
    left:32%;
    display:none;
    z-index:100000
}

.save-loading img
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.0s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

#equals .save-loading {
    position:static !important;
    padding-top:3px;
}

#equals .save-loading img {
    position:static;
    width:10px;
}



#uploadButton {
    display:none; /* shown for non-mobile */
    cursor:pointer;
    width:98.3%;
    height:25px;
    background-color:#f1f1f1;
    border:3px dotted #999999;
    text-align:center;
    font-size:18px;
    padding-top:8px;
}

#assets .nav {
    margin-bottom:9px;

}


.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #CFA600;
	/*background-color: #CFA600;*/
	background-image: -moz-linear-gradient(top, #F0C000, #CFA600);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0C000), to(#CFA600));
	background-image: -webkit-linear-gradient(top, #F0C000, #CFA600);
	background-image: -o-linear-gradient(top, #F0C000, #CFA600);
	background-image: linear-gradient(to bottom, #F0C000, #CFA600);
	background-repeat: repeat-x;
	border-color: #CFA600;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0C000', endColorstr='#CFA600', GradientType=0);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #FFFFFF;
	background-color: #CFA600;
	/*background-color: #003bb3;*/
}

#edit-modal {
    width:772px;
    height:460px;
}

#watermark-modal {
    width:700px;
    height:354px;
}

#stage {
    position:relative;
    width:350px;
    border:1px dotted #666666;
    overflow: hidden;
    display:none;
}

#stageContainer {
    position:absolute;
    width: 100%;
    height: 100%;
    /*pointer-events: none;*/
}

#previewStage {
    display:none;
    /*cursor:pointer;*/
}

#imageTextButton {
    position:absolute;
    top:0px;
    right:1px;
    background-color:#d7ad03;
    border:1px solid #cccccc;
    padding:1px 3px 1px 3px;
    font-size:10px;
}

#imageTextButton a {
    color:white;
}

#watermarkStage {
    position:relative;
    width:350px;
    border:1px dotted #666666;
    display:none;
    float:left;
}

#stageTools {
    display:none;
    width:350px;
}

#choicePersonalContainer{
    position: absolute;
    /*width: 100%;*/
    /*height: 0;*/
    /*border:1px soid white;*/
}

#choicePersonalContainer:hover{
    z-index:555555 !important;
}

.innerBlock {
    box-sizing: border-box;

    font: normal 26px arial, sans-serif;
    color:white;

    position: relative;
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    /*border: solid 1px gray;*/
    text-align: center;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;

    width: 100%;
    height: 100%;
}


.innerBlock {
    box-sizing: border-box;

    font: normal 26px arial, sans-serif;
    color:white;

    position: relative;
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;

    text-align: center;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;

    width: 100%;
    height: 100%;
}

.choiceImg {
    clear: both;
    line-height:initial;
    position:absolute;

    border: solid 1px gray;
    border-radius: 5px;
}

.choiceBorderOn {
    border:2px dotted yellow;
    /*margin-top:-2px;*/
    /*margin-left:-2px;*/
}

.choiceBorderOff {

    /*border:0;*/
    /*margin-top:0px;*/
    /*margin-left:0px;*/
}

.labelStyle {
    /*position: relative;*/
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    text-align: center;
    font-size:26px;
    color:white;
    /*border:1px solid white;*/
    box-sizing: border-box;
}

.labelStyleOff {
    border:0;
    margin-top:0px;
    margin-left:0px;
}

.datepicker {
    z-index:30 !important;
}

#choice-container {
    float:left;
    height:415px;
    overflow-y:auto;
    width:385px;
}

.choice-section {
    position:relative;
}

.legendColorBox {
    vertical-align:top;
    cursor:pointer;
}

.legendLabel {
    vertical-align:top;
    line-height:17px;
}
.bootstrap-select {
    margin-bottom:0px !important;
}

#campaignDiv .bootstrap-select {
    width:180px !important;
}

#segmentDiv .bootstrap-select {
    width:170px !important;
}

.dataDiv .bootstrap-select {
    width:140px !important;
}

.dataDiv input[type="button"] {
    margin-bottom:10px;
}
/*
.btn-custom {
    background-color: hsl(36, 100%, 58%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd28e", endColorstr="#ffa928");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd28e), to(#ffa928));
    background-image: -moz-linear-gradient(top, #ffd28e, #ffa928);
    background-image: -ms-linear-gradient(top, #ffd28e, #ffa928);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd28e), color-stop(100%, #ffa928));
    background-image: -webkit-linear-gradient(top, #ffd28e, #ffa928);
    background-image: -o-linear-gradient(top, #ffd28e, #ffa928);
    background-image: linear-gradient(#ffd28e, #ffa928);
    border-color: #ffa928 #ffa928 hsl(36, 100%, 53%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}
*/



.axisLabels {
    padding-bottom: 3px;
    padding-left: 3px;
    font-size:12px;
    font-family:Verdana, Arial;

}

.chart-container {
        position:relative;
        height:300px;
        box-sizing: border-box;
        padding: 20px 15px 15px 15px;
        margin: 0px auto 0px auto;
        border: 1px solid #ddd;
        background: #fff;
        background: linear-gradient(#f6f6f6 0, #fff 50px);
        background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#legendHolder {
    float:left;
    margin:15px 0px 0px 0px;
    height:300px;
    overflow-y:auto;
    overflow-x:hidden;
}

#chart_div {
    border-right:2px solid rgb(237,194,64);
    border-bottom:2px solid rgb(237,194,64);
}

.statContainer {
    border-right:2px solid rgb(237,194,64);
    border-bottom:2px solid rgb(237,194,64);
    background-color:#ffffff;
    border-top:1px solid #dddddd;
    border-left:1px solid #dddddd;

    display:none;
    max-height:400px;
    overflow-y:auto;
}

.statBox {
    width:24%;
    height:160px;
    color:#444444;
    vertical-align:middle;
    float:left;
}

.statLabel {
    text-align:left;
    font-size:12px;
    padding-top:14px;
    margin-left:18%;
}

.statNumber {
    font-size:60px;
    margin-left:18%;
    font-weight:bold;
    line-height:normal;
}

.shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    background-color:#ffffff;
}

#watermarkReset {

    font-size:10px;
    display:none;
}

.resizeSE,
.resizeE,
.resizeNE,
.resizeN,
.resizeNW,
.resizeW,
.resizeSW,
.resizeS, resizer_selected
{
        position: absolute;
        width: 8px;
        height: 8px;
        border: 1px solid #fff;
        overflow: hidden;
        display:none;
}
.resizeSE { bottom: -10px; right: -10px; cursor: se-resize; }
.resizeE { top: 50%; right: -10px; margin-top: -5px; cursor: e-resize; }
.resizeNE { top: -10px; right: -10px; cursor: ne-resize; }
.resizeN { top: -10px; left: 50%; margin-left: -5px; cursor: n-resize; }
.resizeNW{ top: -10px; left: -10px; cursor: nw-resize; }
.resizeW { top: 50%; left: -10px; margin-top: -5px; cursor: w-resize; }
.resizeSW { left: -10px; bottom: -10px; cursor: sw-resize; }
.resizeS { bottom: -10px; left: 50%; margin-left: -5px; cursor: s-resize; }


.profileTable td:first-child, .profileTable th:first-child {
    width:140px;
    text-align:right;
    padding-right:10px;
    padding-bottom:8px;

}

.profileTable {
    width:90%;
}


.adventrPlay {
    background-color: #f1f1f1;
    border-top:4px solid #444444;
}

.adventrPlay textarea {
    border-color: #000000;
    width:482px;
    height:68px;
    font-family: monospace;

}

.adventrPlay a {
    color:#999999;
    text-decoration:none;
}

.adventrPlay .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.adventrPlay .videoHeading {
    font-size:18px;
    font-weight:bold;
}

.adventrPlay .subHeading {

    font-size:14px;
    color:#666666;
}


/******************************************************************
    Menu
******************************************************************/
.adventrPlay .menu-wrapper {
    position: absolute;
    right: 0px;
    top: 2px;
    width: 50px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
}
.adventrPlay .menu-wrapper.open {
    position: absolute;
    right: 0px;
    top: 2px;
    width: 160px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
}

.adventrPlay .menu-global {
    backface-visibility: hidden;
    position: absolute;
    right: 0;
    border-top: 2px solid #333333;
    width: 30px;
    transition: 0.4s;
}

.adventrPlay .menu-top {
    top: 14px;
}

.adventrPlay .menu-middle {
    top: 24px;
}

.adventrPlay .menu-bottom {
    top: 34px;
}

.adventrPlay .menu-top-click {
    backface-visibility: hidden;
    top: 24px;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    -webkit-transition: 0.4s 0.4s;
    -moz-transition: 0.4s 0.4s;
    -o-transition: 0.4s 0.4s;
    -ms-transition: 0.4s 0.4s;
    transition: 0.4s 0.4s;
}

.adventrPlay .menu-middle-click {
    opacity: 0;
}

.adventrPlay .menu-bottom-click {
    backface-visibility: hidden;
    top: 24px;
    -webkit-transform: rotate(-410deg);
    -moz-transform: rotate(-410deg);
    -o-transform: rotate(-410deg);
    -ms-transform: rotate(-410deg);
    transform: rotate(-410deg);
    -webkit-transition: 0.4s 0.4s;
    -moz-transition: 0.4s 0.4s;
    -o-transition: 0.4s 0.4s;
    -ms-transition: 0.4s 0.4s;
    transition: 0.4s 0.4s;
}

.adventrPlay ul.menu {
    display:none;
    position: absolute;
    width: 50px;
    right: 0px;
    top: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    opacity: 0;
    /*
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    -ms-transition: width 0.4s;
    transition: width 0.4s;
    */
    padding-top: 10px;
    padding-bottom: 25px;
    overflow: hidden;
}

.adventrPlay ul.menu.open {
    top: 2px;
    right: 28px;
    width: 375px;
    display:block;
    opacity: 1;
}

.adventrPlay ul.menu li {
    margin-top: 15px;
    display: inline;
}

.adventrPlay ul.menu li a {
    color: #333333;
    font-size: 14px;
    line-height: 30px;
    margin-left: 20px;
    display: inline;
    text-transform: capitalize;
    background-image: url(../img/menu_item_bg.png);
    width: 130px;
    height: 30px;
}

.adventrPlay ul.menu li a.active {
    background-position: 0px -30px;
}

#equals {
    float:left;
    display:none;
}

#equals_text {
    display:none;
}

#editPane #no_select {
    display:block;
}

/* Disabled link */
a.not-active {
  pointer-events: none;
  cursor: default;
  color: darkgray!important;
}


ul.subscription_plans {
  list-style: none;
}

ul.subscription_plans li input {
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: baseline;
}

p.tos-line {
  font-size: 1.3em;
}

p.tos-line a {
  color: blue;
  text-decoration: underline;
}

ul.errorlist li {
    color: red;
}