.form td {
    vertical-align:top; 
}

.join-us {
    width:100%;
    text-align:center; 
    margin-top:45px;
}

.unsupported {
    text-align:center;
    color:#ffffff;
    margin-top:20%;
}



#video-div {
    position:relative;
    text-align:center;
}

#control_replay_big {
    position:absolute;
    top:32%;
    left:40%;
    cursor:pointer;
    z-index:3;
    display:none;
}



#control_play_big {
    position:absolute;
    top:32%;
    left:40%;
    cursor:pointer;
    z-index:3;
}

#choices {
    visibility:hidden;
    position:absolute;
    top:0px;
    left:0px; 
}

#buffering {

    display:none;
    position:absolute;
    top:50%;
    left:50%; 
}

#controls {
    position:absolute;
    top:82%;
    left:0%; 
    width:100px;
    display:none;

    background-color:#000000;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

#controls_trigger {
    
    position:absolute;
    top:87%;
    left:47%;
    width:100px;
    cursor:pointer;
    color:#ffffff;
    text-align:center;
    font-size:40px;
}

#control_bar_div {

    position:absolute;
    top:0px;
    left:0px; 
}

#control_bar {
    background:url(../advntr/assets/ochre_controls.png) no-repeat 0px 0px;
    width:539px;
    height:68px;
    display:inline-block;
}

#control_share_div {
    position:absolute;
    top: 33px;
    left:52%; 
    z-index:3;
}

#control_replay_div {
    position:absolute;
    top: 33px;
    left:52%; 
    z-index:3;
    display:none;
}

#control_share:hover {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -48px -81px;
    width:38px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}

#control_share {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -10px -81px;
    width:35px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}

#control_replay {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -324px -81px;
    width: 35px;
    height: 45px;
    display: inline-block;
    cursor:pointer;
}


#control_play_div {
    position:absolute;
    top: 33px;
    left:26%; 
    z-index:3;
}

#control_play:hover {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -189px -81px;
    width:30px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}


#control_play {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -155px -81px;
    width:30px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}

#control_pause_div {
    position:absolute;
    top: 33px;
    left:26%; 
    z-index:3;
    display:none;
}

#control_pause:hover {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -87px -81px;
    width:30px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}


#control_pause {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -120px -81px;
    width:30px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}



#control_fullscreen_div {
    position:absolute;
    top: 0px;
    left:560px; 
    z-index:2;
}

#control_fullscreen:hover {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -278px -81px;
    width:40px;
    height:45px;
    z-index:4;
    display:inline-block;
    cursor:pointer;
}


#control_fullscreen {
    background:url(../advntr/assets/ochre_controls.png) no-repeat -226px -81px;
    width:40px;
    height:45px;
    z-index:3;
    display:inline-block;
    cursor:pointer;
}



.camchoicebutton {
    position:absolute;
    border:1px solid #000000; 
}

.invisible {
    /* visible:hidden; */
}



.transparent0 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.transparent1 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
}


.transparent2 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -moz-opacity:0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}


.transparent3 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}


.transparent4 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}


.transparent5 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


.transparent6 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.transparent7 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}


.transparent8 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}


.transparent9 {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}


.transparent10 {
}


#ochre_loading {
    z-index:1;
    position:absolute;
    display:none;
}

#video_hls  {
    width:100%;
    height:100%;
}




