@font-face {
	font-family: 'ochreicons';
	src:url('../fonts/ochreicons.eot') format('embedded-opentype');
	src:url('../fonts/ochreicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ochreicons.woff') format('woff'),
		url('../fonts/ochreicons.ttf') format('truetype'),
		url('../fonts/ochreicons.svg#ochreicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*
[data-icon]:before {
	font-family: 'ochreicons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
*/

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ochreicon-"] {
*/
.ochreicon-warning, .ochreicon-pencil, .ochreicon-film, .ochreicon-file, .ochreicon-cog, .ochreicon-stats, .ochreicon-bars, .ochreicon-meter2, .ochreicon-share, .ochreicon-youtube, .ochreicon-youtube-2, .ochreicon-question, .ochreicon-move-vertical, .ochreicon-move-horizontal, .ochreicon-spinner {
	font-family: 'ochreicons';
	speak: none;
        display:inline-block;
        font-size:18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ochreicon-warning:before {
	content: "\e000";
}
.ochreicon-pencil:before {
	content: "\e001";
}
.ochreicon-film:before {
	content: "\e003";
}
.ochreicon-file:before {
	content: "\e004";
}
.ochreicon-cog:before {
	content: "\e005";
}
.ochreicon-stats:before {
	content: "\e006";
}
.ochreicon-bars:before {
	content: "\e007";
}
.ochreicon-meter2:before {
	content: "\e008";
}
.ochreicon-share:before {
	content: "\e009";
}
.ochreicon-youtube:before {
	content: "\e00a";
}
.ochreicon-youtube-2:before {
	content: "\e002";
}
.ochreicon-question:before {
	content: "\e00b";
}
.ochreicon-move-vertical:before {
	content: "\e00c";
}
.ochreicon-move-horizontal:before {
	content: "\e00d";
}
.ochreicon-spinner:before {
	content: "\e00e";
}

.fs1 {
    font-size:7.5em;
    color:#dddddd;
    text-decoration:none;
    margin-bottom:3px;
}
