{% extends "payment_base.html" %}
{% load static %}

{% block content %}

  <!-- Modal for server update -->
  <div class="modal fade" id="in-progress">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Your subscription is being updated ... </h4>
        </div>
        <div class="modal-body">
            <div class="progress">
                <div class="progress-bar" style="width: 0%;"></div>
            </div>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<style>
    #in-progress{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 50%;
        scroll:none;

}
    </style>


{% endblock %}
